
$main_width_768: 700px;
$main_width_992: 840px;

form {
	input[type="submit"] {
	    border: none;
	    -webkit-appearance: none;
	    -moz-appearance: none;

	    display: inline-block;
	    margin: 1em 0;
	    text-decoration: none;
	    line-height: 20px;
	    padding: .5em 2em;
	    border-radius: 20px;
	    background-color: #f7761f;
	    color: #fff;
	    font-size: inherit;
	    cursor: pointer;
	    width: 100%;
	}

	input[type="email"] {
	    line-height: 32px;
	    font-size: 1em;
	    font-weight: bold;
	    padding: 0 1em;
	    border-radius: 1em;
	    border: 2px solid #9e9d9d;
	    display: inline-block;
	    width: 100%;
	}
}


html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background-color: #333;
	color: #555;
}

a {
	color: #558;
	text-decoration: none;
}
a:hover {
	color: #338;
}

* {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

section#hero {
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	display: -webkit-box;   /* OLD: Safari,  iOS, Android browser, older WebKit browsers.  */
	display: -moz-box;      /* OLD: Firefox (buggy) */
	display: -ms-flexbox;   /* MID: IE 10 */
	display: -webkit-flex;  /* NEW, Chrome 21–28, Safari 6.1+ */
	display: flex;          /* NEW: IE11, Chrome 29+, Opera 12.1+, Firefox 22+ */

	-webkit-flex-direction: column;
	flex-direction: column;

	-webkit-justify-content: flex-end;
	justify-content: flex-end;

   	color: white;
	min-height: 100%;
	text-shadow: 2px 2px 2px rgba(0,0,0,.75);

	-webkit-box-align: flex-end; -moz-box-align: flex-end; /* OLD… */
	-ms-flex-align: flex-end; /* You know the drill now… */
	-webkit-align-items: flex-end;
	align-items: flex-end;

    div.audio-player,
    > div:first-of-type {
		position: relative;
		z-index: 2;
    }

   	> div:first-of-type {
		width: 100%;
		padding: 12em 1em 2em;
	}

	div.screen {
		display: block;
		xbackground-image: url(screen.png);
		background-color: rgba(0,0,0, .5);
		position: absolute;
		z-index: 0;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		margin: 0;
		padding: 0;
		width: 100%;
		max-width: 100%;
	}

	a {
		color: #ccc;
		text-decoration: none;
		text-shadow: 1px 1px 1px rgba(0,0,0,.75);
	}

	a:hover {
		color: white;
	}

	.controls {
		.download,
		.size {
			margin-left: .5em;
		}
	}
}

.image-credit {
	position: absolute;
	margin-left: 1em;
	margin-top: .5em;
	a {
		transition: .125s ease-in-out;
		font-size: .75em;
		color: black;
		text-decoration: none;
		opacity: .25;
	}

	a:hover {
		opacity: .5;
	}
}


section:not(#hero) {
	padding: 2em 1em;
}

section#notice {
	padding: 1em;
}

section:not(#hero):nth-of-type(2n) {
	background-color: #eee;
}

section:not(#hero):nth-of-type(2n+1) {
	background-color: #ddd;
}

body#page-nav-home section#hero {
	min-height: 66%;
}

section#hero h1 {
	padding-top: 1em;
}
section#hero {
	h1 {
		font-size: 2em;
		font-weight: bold;
		margin: 0 0 .25em;
		line-height: 1.125em;
	}
	h2 {
		font-size: 1em;
		font-weight: normal;
		margin: 0;
		color: #bbb;
	}

	.share {
		display: none;
	}
}

section#hero .audio-player {
	width: 100%;
}

section#episode-list {
	padding: 4em 1em;

	article:not(:first-of-type) {
		margin-top: 3em;
		padding-top: 3em;
		border-top: 2px solid rgba(0,0,0, .125);
	}

	h1 {
		font-size: 1.5em;
		font-weight: bold;
		margin: 0 0 .25em;
		line-height: 1.125em;

		a {
			transition: .125s ease-in-out;
			color: #555;
			text-decoration: none;
		}

		a:hover {
			color: #333;
		}
	}
	h2 {
		font-size: 1em;
		font-weight: normal;
		margin: 0;
		color: #999;
	}
	.controls {
		.download,
		.size {
			margin-left: .5em;
		}
	}

	p {
		margin: .5em 0 0;
	}
}

body#page-nav-home section#hero {
	background-image: url(red-mic.jpg);
}

body#page-nav-newsletter-confirmation section#hero,
body#page-nav-newsletter-thanks section#hero,
body#page-nav-newsletter section#hero {
	background-image: url(newsletter.jpg);
}

body#page-nav-privacy section#hero,
body#page-nav-about section#hero {
	background-image: url(about.jpg);
}

header[role="banner"] {
	position: absolute;
	z-index: 100;
	width: 100%;
	nav[role="navigation"] {
		padding: 1em;
		> button {
			display: none;
		}

		> header {
			a:before {
	    	    content: "";
			    display: block;
			    width: 0;
			    height: 100%;
			}
			a {
			    background-image: url(../images/thatpodcast-small.svg);
			    background-size: cover;
			    background-position: center;
			    display: block;
			    height: 40px;
			    width: 40px;

			    background-color: transparent;
			    border: 0;
			    overflow: hidden;
			    /* IE 6/7 fallback */
			    *text-indent: -9999px;
			    opacity: .9;
				transition: opacity .125s ease-in-out;
			}
			a:hover {
				opacity: 1;
			}
		}

		ul {
			padding: 0;
			margin: 0;
			list-style-type: none;

			a {
				transition: color .125s ease-in-out;
				display: block;
				height: 2em;
				line-height: 2em;
			}
		}
		ul:first-of-type {
			margin-top: .5em;
		}
		ul:last-of-type {
			display: none;
		}

		a {
			color: #ccc;
			text-decoration: none;
			text-shadow: 1px 1px 1px rgba(0,0,0,.75);
		}

		a:hover {
			color: white;
		}

		li.active {
			a {
				color: white;
			}
		}

	}
}

#main-content {
	section {
		p {
			line-height: 1.5em;
		}

		.episode-description {
			ul {
				line-height: 1.5em;
			}
		}
	}

	section:not(#hero) {
		p {
			margin-bottom: 1.25em;
		}

		.share {
			margin: 2em;
			line-height: .75em;
		}
	}

	section#form-band {
		padding: 1.5em 0 .75em;
		> div {
			margin: 0 auto;
			padding: 0 1em;
		}
		p {
			font-weight: 500;
		}
	}
}

.headshot {
    float: right;
    max-width: 20%;
    margin-left: 1em;
    margin-bottom: 1em;
    margin-top: .125em;

    img {
        width: 100%;
        height: auto;
    }
}

@media only screen and (min-width: 420px) {
	form {
		input[type="submit"] {
		    width: auto;
		}

		input[type="email"] {
		    width: 15em;
		}
	}
	#main-content {
		section#form-band {
			padding-top: 2.5em;
			p {
				margin: 0;
			}
		}
	}
}

@media only screen and (min-width: 768px) {
    .headshot {
        max-width: 33%;
    }
	header[role="banner"] {
		line-height: 3em;
		height: 3em;
		nav[role="navigation"] {
			padding: 0;
			margin: 0 auto;
			width: $main_width_768;
			> button {
				display: none;
			}

			> header {
				display: inline-block;
				float: left;
				a {
					margin-top: .25em;
					width: 2.5em;
					height: 2.5em;
				}
			}

			ul {
				li {
					display: inline-block;
				}
			}

			ul:first-of-type {
				margin-top: 0;
				margin-left: 1em;
				float: left;
			}

			ul:last-of-type {
				display: block;
				float: right;
				margin-right: 1em;

				li.social-media {
					a {
						margin: 0;
					}
				}
			}

			li a {
				margin: 0 .25em;
				height: 3em;
				display: inline-block;
			}

			li.active {
				border-bottom: 2px solid white;
			}
		}
	}

	#main-content {
		section#form-band {
			padding-bottom: 1.5em;
			> div {
				margin: 0 auto;
				padding: 0 1em;
				max-width: $main_width_768;
			}
		}
		section {
			> article {
				margin: 0 auto;
				max-width: $main_width_768;
				padding: 0 1em;
			}
		}
	}

	section#hero {
		> div:first-of-type {
			max-width: $main_width_768;
			margin: 0 auto;
		}

		.share {
			display: block;
			float: right;
			line-height: .75em;
			margin-top: 1.125em;
		}
	}

	.image-credit {
		right: .5em;
	}

	section#hero {
		h1 {
			font-size: 2.25em;
		}
		h2 {
			font-size: 1.125em;
			line-height: 1.25em;
		}
	}

	section#hero .audio-player {
		max-width: $main_width_768;
		margin: 0 auto;
		padding: 0 1em;
	}
}

footer[role="contentinfo"] {
	padding: 2em 1em;
	color: #ccc;
	div.copyright {
		text-align: center;
	}

	.links {
		ul {

			padding: 0;
			margin: 0 0 1em;
			list-style-type: none;
			text-align: center;
			li {
				display: inline-block;
			}
		}
	}

	a {
		transition: color .125s ease-in-out;
		height: 2em;
		line-height: 2em;
		color: #aaa;
	}

	a:hover {
		color: white;
	}
}

@media only screen and (min-width: 992px) {
	header[role="banner"] {
		nav[role="navigation"] {
			width: $main_width_992;
			> header {
				display: block;
				margin: 0;
				position: fixed;
				left: 1em;
				top: 1em;

				a {
				    background-image: url(../images/thatpodcast.svg);
					margin: 0;
					width: 4em;
					height: 4em;
				}
			}
		}
	}

	#main-content {
		section#form-band {
			> div {
				margin: 0 auto;
				max-width: $main_width_992;
			}
		}

		section {
			> article {
				max-width: $main_width_992;
			}
		}
	}

	section#hero {
		> div:first-of-type {
			max-width: $main_width_992;
		}
	}

	section#hero {
		h1 {
			font-size: 2.75em;
		}
		h2 {
			font-size: 1.25em;
		}
	}

	section#hero .audio-player {
		max-width: $main_width_992;
	}
}

@media only screen and (min-width: 1200px) {
	header[role="banner"] {
		nav[role="navigation"] {
			> header {
				a {
					width: 8em;
					height: 8em;
				}
			}
		}
	}
}
