
$main_width_768: 700px;
$main_width_992: 840px;

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

* {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

section#hero {
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	display: -webkit-box;   /* OLD: Safari,  iOS, Android browser, older WebKit browsers.  */
	display: -moz-box;      /* OLD: Firefox (buggy) */
	display: -ms-flexbox;   /* MID: IE 10 */
	display: -webkit-flex;  /* NEW, Chrome 21–28, Safari 6.1+ */
	display: flex;          /* NEW: IE11, Chrome 29+, Opera 12.1+, Firefox 22+ */

	-webkit-flex-direction: column;
	flex-direction: column;

	-webkit-justify-content: flex-end;
	justify-content: flex-end;

   	color: white;
	min-height: 100%;
	text-shadow: 2px 2px 2px rgba(0,0,0,.75);

	-webkit-box-align: flex-end; -moz-box-align: flex-end; /* OLD… */
	-ms-flex-align: flex-end; /* You know the drill now… */
	-webkit-align-items: flex-end;
	align-items: flex-end;

    div.audio-player,
    > div:first-of-type {
		position: relative;
		z-index: 2;
    }

   	> div:first-of-type {
		width: 100%;
		padding: 2em 1em 2em;
	}

	div.screen {
		display: block;
		xbackground-image: url(screen.png);
		background-color: rgba(0,0,0, .5);
		position: absolute;
		z-index: 0;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		margin: 0;
		padding: 0;
		width: 100%;
		max-width: 100%;
	}
}

.image-credit {
	position: absolute;
	margin-left: 1em;
	margin-top: .5em;
	a {
		transition: .125s ease-in-out;
		font-size: .75em;
		color: black;
		text-decoration: none;
		opacity: .25;
	}

	a:hover {
		opacity: .5;
	}
}


section:not(#hero) {
	padding: 2em 1em;
}

section:not(#hero):nth-of-type(2n) {
	background-color: #eee;
}

section:not(#hero):nth-of-type(2n+1) {
	background: -moz-linear-gradient(top,  rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.2)), color-stop(100%,rgba(0,0,0,0.1)));
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.1) 100%);
	background: -o-linear-gradient(top,  rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.1) 100%);
	background: -ms-linear-gradient(top,  rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.1) 100%);
	background: linear-gradient(to bottom,  rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33000000', endColorstr='#1a000000',GradientType=0 );
}

body:not(#page-nav-home) section#hero {
	h1 {
		font-size: 2em;
		font-weight: bold;
		margin: 0 0 .25em;
		line-height: 1.125em;
	}
	h2 {
		font-size: 1em;
		font-weight: normal;
		margin: 0;
		color: #bbb;
	}
}

section#hero .audio-player {
	width: 100%;
	background-color: black;
	iframe {
		padding: 0 1em;
		width: 100%;
	}
}

section#episode-list {
	padding: 4em 1em;

	h1 {
		font-size: 1.5em;
		font-weight: bold;
		margin: 0 0 .25em;
		line-height: 1.125em;

		a {
			transition: .125s ease-in-out;
			color: #555;
			text-decoration: none;
		}

		a:hover {
			color: #333;
		}
	}
	h2 {
		font-size: 1em;
		font-weight: normal;
		margin: 0;
		color: #999;
	}
}

body#page-nav-home section#hero {
	background-image: url(red-mic.jpg);
}

body#page-nav-newsletter section#hero {
	background-image: url(newsletter.jpg);
}

body#page-nav-about section#hero {
	background-image: url(about.jpg);
}

header[role="banner"] {
	position: absolute;
	z-index: 100;
	width: 100%;
	nav[role="navigation"] {
		> button {
			display: none;
		}

		> header {
			a:before {
	    	    content: "";
			    display: block;
			    width: 0;
			    height: 100%;
			}
			a {
			    background-image: url(../images/thatpodcast-small.svg);
			    background-size: cover;
			    background-position: center;
			    display: block;
			    height: 40px;
			    width: 40px;

			    background-color: transparent;
			    border: 0;
			    overflow: hidden;
			    /* IE 6/7 fallback */
			    *text-indent: -9999px;
			}
		}

		ul {
			padding: 0;
			margin: 0;
			list-style-type: none;
		}
	}
}

@media only screen and (min-width: 768px) {
	header[role="banner"] {
		line-height: 3em;
		height: 3em;
		nav[role="navigation"] {
			margin: 0 auto;
			width: $main_width_768;
			> button {
				display: none;
			}

			> header {
				display: inline-block;
				float: left;
				a {
					margin-top: .25em;
					width: 2.5em;
					height: 2.5em;
				}
			}

			ul {
				li {
					display: inline-block;
				}
			}

			ul:first-of-type {
				margin-left: 1em;
				float: left;
			}

			ul:last-of-type {
				float: right;
				margin-right: 1em;

				li.social-media {
					a {
						margin: 0;
					}
				}
			}

			li a {
				margin: 0 .25em;
				height: 3em;
				display: inline-block;
			}

			li.active {
				border-bottom: 2px solid white;

				a {
					color: white;
				}
			}

			a {
				transition: .125s ease-in-out;
				color: #ccc;
				text-decoration: none;
				text-shadow: 1px 1px 1px rgba(0,0,0,.75);
			}

			a:hover {
				color: white;
			}

		}
	}

	#main-content {
		section {
			> article {
				margin: 0 auto;
				max-width: $main_width_768;
				padding: 0 1em;
			}
		}
	}

	section#hero {
		> div:first-of-type {
			max-width: $main_width_768;
			margin: 0 auto;
		}
	}

	.image-credit {
		right: .5em;
	}

	body:not(#page-nav-home) section#hero {
		h1 {
			font-size: 2.25em;
		}
		h2 {
			font-size: 1.125em;
		}
	}

	section#hero .audio-player {
		iframe {
			display: block;
			max-width: $main_width_768;
			margin: 0 auto;
		}
	}
}

@media only screen and (min-width: 992px) {
	header[role="banner"] {
		nav[role="navigation"] {
			width: $main_width_992;
			> header {
				display: block;
				margin: 0;
				position: fixed;
				left: 1em;
				top: 1em;

				a {
				    background-image: url(../images/thatpodcast.svg);
					margin: 0;
					width: 4em;
					height: 4em;
				}
			}
		}
	}

	#main-content {
		section {
			> article {
				max-width: $main_width_992;
			}
		}
	}

	section#hero {
		> div:first-of-type {
			max-width: $main_width_992;
		}
	}

	body:not(#page-nav-home) section#hero {
		h1 {
			font-size: 2.75em;
		}
		h2 {
			font-size: 1.25em;
		}
	}

	section#hero .audio-player {
		iframe {
			max-width: $main_width_992;
			margin: 0 auto;
		}
	}
}

@media only screen and (min-width: 1200px) {
	header[role="banner"] {
		nav[role="navigation"] {
			> header {
				a {
					width: 8em;
					height: 8em;
				}
			}
		}
	}
}
