<html>
<head>
</head>
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <title>{% if page.number is defined %}Episode {{ page.number }}: {% endif %}{% if page.title %}{{ page.title }} &middot; {% endif %}That Podcast with Beau and Dave</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block meta %}{% endblock %}

    <link href="{{ site.url }}/assets/icnfnt/fontawesome.css?ab={{ assets_bump }}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{{ site.url }}/assets/css/screen.css?ab={{ site.asset_bump }}">
    <script src="{{ site.url }}/assets/js/modernizr/modernizr.min.js"></script>
     <!--[if IE]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    {% block styles %}{% endblock %}
</head>
<body {% if page.nav_current %} id="page-nav-{{ page.nav_current }}" {% endif %}>
    <header role="banner">
        <nav role="navigation">
            <button type="button">
                <span>Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <header>
                <a href="{{ site.url }}/">
                    That Podcast
                </a>
            </header>
            <div>
                <ul>
                    <li {% if page.nav_current == 'home' %}class="active"{% endif %}><a href="{{ site.url }}/">Episodes</a></li>
                    <li {% if page.nav_current == 'newsletter' %}class="active"{% endif %}><a href="{{ site.url }}/newsletter">Newsletter</a></li>
                    <li {% if page.nav_current == 'about' %}class="active"{% endif %}><a href="{{ site.url }}/about">About</a></li>
                </ul>
                <ul>
                    <!--<li><a href="#">iTunes</a></li>-->
                    <li><a href="{{ site.url }}/itunes.rss"><i class="icon-rss"></i></a></li>
                    <li class="social-media"><a href="https://twitter.com/thatpodcast"><i class="icon-twitter"></i></a></li>
                    <li class="social-media"><a href="https://plus.google.com/115001521342575956145"><i class="icon-google-plus"></i></a></li>
                    <li class="social-media"><a href="https://www.facebook.com/pages/That-Podcast/318310284991754"><i class="icon-facebook"></i></a></li>
                    <li class="social-media"><a href="https://github.com/thatpodcast"><i class="icon-github"></i></a></li>
                </ul>
            </div>
        </nav>
    </header>
    <div id="main-content">
        {% block hero_wrapper %}
            {% block hero %}{% endblock %}
            {% include "image_credit" %}
        {% endblock %}
        {% block content_wrapper %}{% block content %}{% endblock %}{% endblock %}
    </div>
    <footer role="contentinfo">
        <div class="copyright">
            &copy; {{ "now"|date("Y") }} That Podcast, Beau Simensen, and Dave Marshall
        </div>
    </footer>
    <script src="{{ site.url }}/assets/js/jquery/jquery-1.11.1.min.js"></script>
    <script>
(function () {
    var screen = document.createElement('div');
    if (screen.classList) {
        screen.classList.add('screen');
    } else {
        screen.className += ' screen';
    }
    var hero = document.querySelector('#hero');
    hero.appendChild(screen);
})();

{% if site.google_analytics_tracking_id %}
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', '{{ site.google_analytics_tracking_id }}', 'thatpodcast.io');
    ga('send', 'pageview');
{% endif %}
    </script>
    {% block scripts %}{% endblock %}
</body>
</html>
