---
layout: default
title: "Pacific Northwest PHP 2015!"
permalink: /pnwphp15/
bg_image: /assets/css/seattle.jpg
image_credit:
    url: https://www.flickr.com/photos/tiffany98101/15451334271
    by: Tiffany Von Arnim
    description: Seattle

---
{% block meta %}
    <meta name="description" content="About That Podcast: Everything you might want to know...">
    {% if page.tags %}
        <meta name="keywords" content="beau, beau simensen, dave, dave marshall, podcast, that podcast, about">
    {% endif %}

    <!-- Facebook -->
    <meta property="og:title" content="That Podcast at Pacific Northwest PHP 2015" />
    <meta property="og:type" content="article" />
    <meta property="og:image" content="{{ site.url }}/assets/images/thatpodcast-cover.jpg" />
    <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
    <meta property="og:description" content="Will we see you there?" />

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="That Podcast at Pacific Northwest PHP 2015" />
    <meta name="twitter:description" content="Will we see you there?" />
    <meta name="twitter:image:src" content="{{ site.url }}/assets/css/seattle.jpg" />
    <meta name="twitter:site" content="@thatpodcast" />
{% endblock %}
{% block hero %}
<section id="hero" style="background-image: url({{ site.url }}{{ page.bg_image }});">
    <div>
        <header>
            <h1>Pacific Northwest PHP 2015</h1>
            <h2>We'll be there, will you?</h2>
        </header>
    </div>
</section>
{% endblock %}
{% block content %}
<section style="overflow: auto;">
    <article>
        <div class="headshot">
            <a href="https://pnwphp2015.busyconf.com/"><img src="{{ site.url }}/assets/images/pr/pnwphp-logo.png"></a>
        </div>
        <h2>That Podcast at #pnwphp</h2>
        <p>
            That Podcast will be at the very first <a href="https://pnwphp2015.busyconf.com/">Pacific Northwest PHP</a>! We were super excited to be able to back their <a href="https://www.kickstarter.com/projects/seattlephp/pacific-northwest-php-conference-pnwphp">kickstarter</a> campaign to help make this conference happen!
        </p>
        <p>
            Want to learn more about That Podcast? Start <a href="{{ site.url }}/about/">here</a>!
        </p>
        <div class="voicemail-cta" style="font-style: italic;">
            <hr>
            <p>We want to interact with YOU! Call <a href="tel:+19793530100" target="_blank">+1 979-353-0100</a> and leave us a voicemail! Ask a question. Make a comment. Tell us how awesome we are. Tell us how NOT awesome we are. We don't care. As long as it is awesome we'll play it on the air and respond!</p>
        </div>
    </article>
</section>
<section>
    <article>
        <h2>Join our newsletter!</h2>
        <p>
            Don't worry. We won't spam you. Much. We just want to make sure that we can let you know when new episodes are ready.
        </p>
        <p>
            We would also like to do some fun things for those people who end up sharing their email address with us. Yay for exclusive content, schwag, and awesomeness!
        </p>
        <p>
            You don't want to be left out. Right? Sign up now!
        </p>
        <form action="http://atstsolutions.us8.list-manage.com/subscribe/post?u=89b0a4154f9e0afcf4b61555c&amp;id=3a3f0a13bd" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate form-inline" target="_blank" role="form" novalidate>
            <input type="email" value="" name="EMAIL" class="required email form-control" id="mce-EMAIL" placeholder="awesome@listener.com">
            <div style="position: absolute; left: -5000px;"><input type="text" name="b_89b0a4154f9e0afcf4b61555c_3a3f0a13bd" value=""></div>
            <input type="submit" value="Subscribe">
        </form>
    </article>
</section>
{% endblock %}
