---
title: The one where PSR-0 is dead
subtitle: 
number: 8
date: Fri, 10 Oct 2014 09:19:06 +0000
guid: https://www.signalleaf.com/podcasts/That-Podcast/54384cb88e94cc0200939db6
embed_url: http://media.signalleaf.com/That-Podcast/54384cb88e94cc0200939db6/embed/01-Episode-8-The-one-where-PSR-0-is-dead.mp3
rss_url: http://media.signalleaf.com/That-Podcast/54384cb88e94cc0200939db6/rss/01-Episode-8-The-one-where-PSR-0-is-dead.mp3
download_url: http://media.signalleaf.com/That-Podcast/54384cb88e94cc0200939db6/01-Episode-8-The-one-where-PSR-0-is-dead.mp3
duration: 1:24:37
file_size: 101556748
explicit: no
#bg_image: /assets/...
#image_credit:
#    url:
#    description:
#    by:

---
{% block content %}
Beau and Dave are back together for another chat, covering conference talks,
shellshock, Linux (on floppies), PHP Jeopardy and the marketing machine that is
Jeremy Mikola, PHP-FIG, learning about AngularJS with CodeSchool.com and
working with the TV on.

<ul>
    <li><a href="http://taylorotwell.com/php-developers-who-have-inspired-me/">People who have inspired @taylorotwell</a></li>
    <li><a href="https://www.digitalocean.com/company/blog/hacktoberfest/">DigitalOcean Hacktoberfest</a></li>
    <li><a href="https://github.com/padraic/mockery">Mockery</a></li>
    <li><a href="http://davedevelopment.co.uk/2014/10/09/mockery-spies.html">Mockery Spies</a></li>
    <li><a href="http://twitter.com/karptonite">@karptonite</a></li>
    <li><a href="http://en.wikipedia.org/wiki/Shellshock_(software_bug)">Shellshock</a></li>
    <li><a href="http://blog.cloudflare.com/inside-shellshock/">How hackers are using shellshock to exploit systems</a></li>
    <li><a href="http://twitter.com/jmikola">@jmikola</a></li>
    <li><a href="http://joind.in/event/view/2239">PHPNW14 on joind.in</a></li>
    <li><a href="https://github.com/php-fig/fig-standards/blob/master/proposed/http-message.md">PSR-7 Draft</a></li>
    <li><a href="https://groups.google.com/forum/#!topic/php-fig/7g6n145XlbI">PSR-0 deprecation vote</a></li>
    <li><a href="https://twitter.com/taylorotwell/status/519226800774197248">@taylototwell on new middlewares for Laravel 5</a></li>
    <li><a href="https://angularjs.org/">AngularJS</a></li>
    <li><a href="https://www.codeschool.com/">CodeSchool.com</a></li>
</ul>
{% endblock %}
{% block itunes_summary %}
Beau and Dave are back together for another chat, covering conference talks, shellshock, Linux (on floppies), PHP Jeopardy and the marketing machine that is Jeremy Mikola, PHP-FIG, learning about AngularJS with CodeSchool.com and working with the TV on.
{% endblock %}
