---
title: The one that wasn't invented here
subtitle: 
number: 9
date: Thu, 30 Oct 2014 03:40:00 +0000
guid: https://www.signalleaf.com/podcasts/That-Podcast/54525bf95db9de02000a1718
embed_url: http://media.signalleaf.com/That-Podcast/54525bf95db9de02000a1718/embed/01-Episode-9-The-one-that-wasn-t-invented-here.mp3
rss_url: http://media.signalleaf.com/That-Podcast/54525bf95db9de02000a1718/rss/01-Episode-9-The-one-that-wasn-t-invented-here.mp3
download_url: http://media.signalleaf.com/That-Podcast/54525bf95db9de02000a1718/01-Episode-9-The-one-that-wasn-t-invented-here.mp3
duration: 1:46:43
file_size: 128071000
explicit: no
bg_image: /assets/clones.jpg
image_credit:
    url: https://www.flickr.com/photos/alreadytaken/2504312455
    description: The Clone Wars
    by: Piutus

---
{% block content %}

<p>Beau and Dave give updates on their recent shenanigans, conferences, health,
    talk about the NIH and cloning discussions that have been had recently in
    the community, side projects, games, and two factor auth.
</p>

<ul>
    <li><a href="http://jmock.org/oopsla2006.pdf" target="_blank">Evolving an Embedded Domain-Specific Language in Java</a></li>
    <li><a href="http://rollbar.com" target="_blank">Rollbar.com</a></li>
    <li><a href="http://github.com/errbit/errbit" target="_blank">errbit/a></li>
    <li><a href="http://twitter.com/catchy_io" target="_blank">@catchy_io</a></li>
    <li><a href="https://www.udacity.com/course/cs255" target="_blank">HTML5 Game Development - Udacity</a></li>
    <li><a href="http://ludumdare.com/compo/" target="_blank">Ludum Dare</a></li>
    <li><a href="https://www.youtube.com/watch?v=MhQ70O1MiXc" target="_blank">Footage of @notch coding minicraft</a></li>
    <li><a href="http://mouf-php.com/" target="_blank">Mouf PHP Framework</a></li>
    <li><a href="https://twitter.com/david_negrier" target="_blank">@david_negrier</a></li>
    <li><a href="https://github.com/container-interop/container-interop" target="_blank">container-interop/container-interop</a></li>
    <li><a href="http://joind.in/talk/view/11957/#comments" target="_blank">Bringing Sculpin to Life on joind.in</a></li>
    <li><a href="http://funkatron.com/osmi.html" target="_blank">Open Sourcing Mental Illness</a></li>
    <li><a href="http://twitter.com/funkatron" target="_blank">@funkatron</a></li>
    <li><a href="https://philsturgeon.uk/blog/2014/10/php-wars-attack-of-the-clones" target="_blank">PHP Wars: Attack of the Clones</a></li>
    <li><a href="http://thephpleague.com/" target="_blank">The League of Extraordinary Packages</a></li>
    <li><a href="http://friendsofsymfony.github.io/" target="_blank">Friends of Symfony</a></li>
    <li><a href="http://toranproxy.com" target="_blank">ToranProxy</a></li>
    <li><a href="http://repobox.io" target="_blank">Repobox</a></li>
    <li><a href="https://cartalyst.com/" target="_blank">Cartalyst</a></li>
    <li><a href="http://packages.io/" target="_blank">Packages.io</a></li>
    <li><a href="http://liquidforms.io/" target="_blank">Liquid Forms</a></li>
    <li><a href="http://ianlandsman.com/in-defense-of-duplication/" target="_blank">In Defense of Duplication</a></li>
    <li><a href="http://paddy.io/posts/nih/" target="_blank">Not Invented Here by @paddyforan</a></li>
    <li><a href="https://www.kickstarter.com/projects/180322771/rogue-wizards-fantasy-role-playing-game-rpg" target="_blank">Rogue Wizards on Kickstarter</a></li>
    <li><a href="https://twitter.com/spellbindgames" target="_blank">@spellbindgames</a></li>
    <li><a href="https://www.humblebundle.com/" target="_blank">Humble Bundle</a></li>
    <li><a href="http://www.ftlgame.com/" target="_blank">FTL: Faster Than Light</a></li>
    <li><a href="http://twitter.com/HullSAT" target="_blank">@HullSAT</a> - Non-profit Dave is helping</li>
    <li><a href="https://twofactorauth.org/" target="_blank">twofactorauth.org</a></li>
    <li><a href="http://decksetapp.com" target="_blank">DeckSet</a></li>
    <li><a href="https://twitter.com/iam_asm89" target="_blank">@iam_asm89</a></li>
</ul>
{% endblock %}
{% block itunes_summary %}
Beau and Dave give updates on their recent shenanigans, conferences, health, talk about the NIH and cloning discussions that have been had recently in the community, side projects, games, and two factor auth.
{% endblock %}
