---
title: The one where we find the time to discuss not finding the time
subtitle: Because what we both really needed was to spend an hour or so recording a podcast
number: 12
date: Thu, 11 Dec 2014 10:48:00 +0000
guid: https://www.signalleaf.com/podcasts/That-Podcast/548a1f5a7013d402005ac6ba
embed_url: http://media.signalleaf.com/That-Podcast/548a1f5a7013d402005ac6ba/embed/Episode-12-The-one-where-we-find-the-time-to-discuss-not-finding-the-time.mp3
rss_url: http://media.signalleaf.com/That-Podcast/548a1f5a7013d402005ac6ba/rss/Episode-12-The-one-where-we-find-the-time-to-discuss-not-finding-the-time.mp3
download_url: http://media.signalleaf.com/That-Podcast/548a1f5a7013d402005ac6ba/Episode-12-The-one-where-we-find-the-time-to-discuss-not-finding-the-time.mp3
duration: 1:51:57
file_size: 134426071
explicit: no
bg_image: /assets/css/sands.jpg
image_credit:
    url: https://www.flickr.com/photos/94303049@N07/8587887586
    description: Sands of time
    by: River Siren

---
{% block content %}
<p>Beau and Dave take time out of there busy schedules to discuss what they've been up to recently and get in to the how they do or don't find the time for side projects and open source, in and around work and family.</p>

<ul>

    <li><a target="_blank" href="https://twitter.com/railto">@railto</a></li>
    <li><a target="_blank" href="http://markrailton.com/">@railto's sculping powered site</a></li>
    <li><a target="_blank" href="https://twitter.com/willemjanz">@willemjanz</a></li>
    <li><a target="_blank" href="https://twitter.com/jamesporter">@jamesporter</a></li>
    <li><a target="_blank" href="https://twitter.com/anthonysterling">@anthonysterling</a></li>
    <li><a target="_blank" href="http://blog.docker.com/2014/12/announcing-docker-machine-swarm-and-compose-for-orchestrating-distributed-apps/">Docker announce Machine, Swarm and Compose</a></li>
    <li><a target="_blank" href="https://www.duolingo.com/">Duolingo</a></li>
    <li><a target="_blank" href="http://www.forbes.com/sites/parmyolson/2014/01/22/crowdsourcing-capitalists-how-duolingos-founders-offered-free-education-to-millions/">Duolingo's business model</a></li>
    <li><a target="_blank" href="http://en.wikipedia.org/wiki/Magnetic_resonance_imaging">MRI</a></li>
    <li><a target="_blank" href="https://conference.phpbenelux.eu/2015/">PHPBenelux Conference 2015</a></li>
    <li><a target="_blank" href="https://github.com/mitchellvanw/laravel-doctrine">mitchellvanw/laravel-doctrine</a></li>
    <li><a target="_blank" href="https://github.com/laravel/cashier">laravel/cashier</a></li>
    <li><a target="_blank" href="http://material-ui.com/#/">Material UI</a></li>
    <li><a target="_blank" href="http://facebook.github.io/react/">React</a></li>
    <li><a target="_blank" href="https://www.google.com/design/spec/material-design/introduction.html">Google's Material Design</a></li>
    <li><a target="_blank" href="https://github.com/laravel/socialite">laravel/socialite</a></li>
    <li><a target="_blank" href="https://twitter.com/rdohms">@rdohms</a></li>
    <li><a target="_blank" href="https://twitter.com/rdohms/status/540055191874461698">@rdohms tweet</a></li>
    <li><a target="_blank" href="http://24pullrequests.com/">24 Pull Requests</a></li>

    <li><a target="_blank" href="https://scrutinizer-ci.com/">Scrutinzer CI</a></li>

    <li><a target="_blank" href="https://twitter.com/schmittjoh">@schmittjoh</a></li>
    <li><a target="_blank" href="https://toranproxy.com/">Toran Proxy</a></li>
    <li><a target="_blank" href="https://insight.sensiolabs.com/">SensioLabsInsight</a></li>

    <li><a target="_blank" href="https://www.digitalocean.com/company/blog/thank-you-to-phps-top-package-authors/">Thank You To PHP’s Top Package Authors!</a></li>

    <li><a target="_blank" href="https://github.com/beberlei/symfony-minimal-distribution">beberlei/symfony-minimal-distribution</a></li>
    <li><a target="_blank" href="https://github.com/vlucas/phpdotenv">vlucas/phpdotenv</a></li>

    <li><a target="_blank" href="https://github.com/symfony/symfony/issues/7555">symfony/symfony #7555</a></li>

    <li><a target="_blank" href="http://12factor.net/">12 Factor App</a></li>

    <li><a target="_blank" href="Palantir.net">Palantir.net</a></li>

    <li><a target="_blank" href="https://github.com/puli/puli">puli/puli</a></li>
    <li><a target="_blank" href="https://github.com/dflydev/dflydev-psr0-resource-locator">PSR-0 Resource Locator</a></li>

    <li><a target="_blank" href="http://ninjagrl.com/shop.html">ninjagrl shop</a></li>
    <li><a target="_blank" href="http://www.foxycart.com/">FoxyCart</a></li>
    <li><a target="_blank" href="https://twitter.com/lukestokes">@lukestokes</a></li>

    <li><a target="_blank" href="https://twitter.com/joewalnes">@joewalnes</a></li>

</ul>
{% endblock %}
{% block itunes_summary %}
Beau and Dave take time out of there busy schedules to discuss what they've been up to recently and get in to the how they do or don't find the time for side projects and open source, in and around work and family.
{% endblock %}
