---
title: The One with the Lone Wolves
subtitle: Beau and Dave discuss being lone wolf developers
number: 2
date: Tue, 03 Jun 2014 08:50:00 +0000
guid: https://www.signalleaf.com/podcasts/That-Podcast/538e2bdbaaba990200000004
embed_url: http://media.signalleaf.com/That-Podcast/538e2bdbaaba990200000004/embed/01-Episode-2-The-One-with-the-Lone-Wolves.mp3
rss_url: http://media.signalleaf.com/That-Podcast/538e2bdbaaba990200000004/rss/01-Episode-2-The-One-with-the-Lone-Wolves.mp3
download_url: http://media.signalleaf.com/That-Podcast/538e2bdbaaba990200000004/01-Episode-2-The-One-with-the-Lone-Wolves.mp3
duration: 1:43:09
file_size: 123797208
explicit: no
#bg_image: /assets/...
#image_credit:
#    url:
#    description:
#    by:

---
{% block content %}
Beau and Dave recap their experience of launching That Podcast, Beau discusses his php[tek] experience, both discuss Paul M. Jones refinement on MVC (Action-Domain-Responder pattern) and then get down to discussing their experiences as lone wolf developers.
{% endblock %}
{% block itunes_summary %}
Beau and Dave recap their experience of launching That Podcast, Beau discusses his php[tek] experience, both discuss Paul M. Jones refinement on MVC (Action-Domain-Responder pattern) and then get down to discussing their experiences as lone wolf developers.
{% endblock %}
