---
title: The one to cap 2014
subtitle: "Because it is the last episode of the year, yo!"
number: 13
date: Wed, 24 Dec 2014 15:19:00 +0000
guid: https://www.signalleaf.com/podcasts/That-Podcast/549ad9c608c7ce0200cfa20a
embed_url: http://media.signalleaf.com/That-Podcast/549ad9c608c7ce0200cfa20a/embed/Episode-13-The-one-to-cap-2014.mp3
rss_url: http://media.signalleaf.com/That-Podcast/549ad9c608c7ce0200cfa20a/rss/Episode-13-The-one-to-cap-2014.mp3
download_url: http://media.signalleaf.com/That-Podcast/549ad9c608c7ce0200cfa20a/Episode-13-The-one-to-cap-2014.mp3
duration: 1:42:58
file_size: 123645254
explicit: no
bg_image: /assets/css/caps.jpg
image_credit:
    url: https://www.flickr.com/photos/batintherain/1473233048
    description: cap locks
    by: batintherain

---
{% block content %}
<p>Beau and Dave wrap up 2014 discussing a bunch of stuff. Dave was too excited
about Christmas to write something more descriptive for this sentence. This one
too.</p>

<ul>

    <li><a target="_blank" href="https://twitter.com/lazyguru">@lazyguru</a></li>
    <li><a target="_blank" href="https://twitter.com/kalenjordan">@kalenjordan</a></li>
    <li><a target="_blank" href="https://twitter.com/MageTalk">@MageTalk</a></li>

    <li><a target="_blank" href="https://twitter.com/ctoffann">@ctoffann</a></li>
    <li><a target="_blank" href="https://twitter.com/james_porter">@james_porter</a></li>

    <li><a target="_blank" href="http://www.stitcher.com/podcast/that-podcast?refid=stpr">That Podcast on Stitcher</a></li>
    
    <li><a target="_blank" href="http://blog.dnsimple.com/2014/12/incident-report-ddos/">DNSimple - Incident Report</a></li>

    <li><a target="_blank" href="http://www.outoftheark.co.uk/away-in-a-manger.html">Away in a Manger (Dave's daughter's nativy play)</a></li>
    <li><a target="_blank" href="http://trello.com">Trello</a></li>
    <li><a href="http://scrumfortrello.com/" target="_blank">Scrum for Trello</a></li>

    <li><a target="_blank" href="http://en.wikipedia.org/wiki/Double-entry_bookkeeping_system">Double-entry Bookkeeping</a></li>

    <li><a target="_blank" href="https://twitter.com/shawnmccool">@shawnmccool</a></li>
    <li><a target="_blank" href="https://twitter.com/rosstuck">@rosstuck</a></li>
    <li><a target="_blank" href="https://twitter.com/jesseobrien_">@jesseobrien_</a></li>
    <li><a target="_blank" href="http://dev-discussions.com/">#Dev-Discussions</a></li>

    <li><a target="_blank" href="http://2015.phpsouthcoast.co.uk/">PHP South Coast Conference</a></li>
    <li><a target="_blank" href="http://en.wikipedia.org/wiki/New_Forest">The New Forest</a></li>
    <li><a target="_blank" href="http://peppapigworld.co.uk/">Peppa Pig World</a></li>

    <li><a target="_blank" href="http://youtu.be/1t5iah8jFEI">Dave's son watching the new Star Wars trailer</a></li>

    <li><a target="_blank" href="https://github.com/silexphp/Silex/pull/1075">phpunit/phpunit as dev dependency in Silex?</a></li>
    <li><a target="_blank" href="http://blog.travis-ci.com/2014-12-17-faster-builds-with-container-based-infrastructure/">Travis CI - Faster Builds with Container-Based Infrastructure</a></li>
    <li><a target="_blank" href="https://github.com/silexphp/Silex/pull/1079">Run phpcs on Silex's Travis Build?</a></li>

    <li><a target="_blank" href="https://codeclimate.com/">Code Climate</a></li>

    <li><a target="_blank" href="https://leanpub.com/wewut">Working effectively with Unit Tests - try tweeting @wemut for a discount</a></li>
    <li><a target="_blank" href="https://twitter.com/thejayfields">@thejayfields</a></li>

    <li><a target="_blank" href="http://giftofbusiness.com/">Gift of Business - Book bundle from Nathan Barry, Brennan Dunn and Amy Hoy</a></li>


    <li><a target="_blank" href="http://www.phproundtable.com/">PHP Roundtable</a></li>
    <li><a target="_blank" href="https://www.youtube.com/watch?v=ZkFYCMQbdr8">PHP Roundtable - Open Source and Git-Flow</a></li>

    <li><a target="_blank" href="http://www.imdb.com/title/tt0308808/">Revolution OS</a></li>
    <li><a target="_blank" href="http://www.amazon.com/The-Cathedral-Bazaar-Accidental-Revolutionary/dp/0596001088">The Cathedral & the Bazaar: Musings on Linux and Open Source by an Accidental Revolutionary</a></li>

    <li><a target="_blank" href="http://nvie.com/posts/a-successful-git-branching-model/">A successful Git branching model</a></li>

    <li><a target="_blank" href="https://twitter.com/ericlbarnes">@ericlbarnes</a></li>
    <li><a target="_blank" href="http://ericlbarnes.com/genesis-notebook-theme/">Minimal Genesis WordPress Theme</a></li>
    <li><a target="_blank" href="https://laravel-news.com/">Laravel News</a></li>
    <li><a target="_blank" href="https://laravel-news.com/category/the-artisan-files/">The Artisan Files</a></li>
    <li><a target="_blank" href="https://laravel-news.com/2014/12/five-minutes-php-bard/">Five Minutes with the PHP Bard</a></li>

    <li><a target="_blank" href="http://www.meetup.com/madisonphp/">Madison PHP</a></li>

    <li><a target="_blank" href="http://www.claridges.co.uk/">Claridge's - Luxury Hotel in Mayfair, London</a></li>
    <li><a target="_blank" href="http://www.gordonramsay.com/maze/">Maze - Gordon Ramsay Michelin star restaurant</a></li>


    <li><a target="_blank" href="https://twitter.com/VaughnVernon">@VaughnVernon</a></li>
    <li><a target="_blank" href="https://vaughnvernon.co/?p=942">The Ideal Domain-Driven Design Aggregate Store?</a></li> 

    <li><a target="_blank" href="https://twitter.com/matthieunapoli">@matthieunapoli</a></li>
    <li><a target="_blank" href="http://couscous.io/">CousCous</a></li>

    <li><a target="_blank" href="http://melody.sensiolabs.org/">SensionLabs' Melody</a></li>
    <li><a target="_blank" href="https://registry.hub.docker.com/u/davedevelopment/melody/">davedevelopment/melody</a></li>

    <li><a target="_blank" href="https://twitter.com/tjlytle">@tjlytle</a></li>
    <li><a target="_blank" href="https://www.youtube.com/watch?v=6aL4ii_Z3EI">Adventures in Contract Development - php[tek] 2014</a></li>

    <li><a target="_blank" href="https://twitter.com/reinink">@reinink</a></li>
    <li><a target="_blank" href="http://phppackagechecklist.com/#1,2,3,4,5,6,7,8,9,10,11,12,13,14">PHP Package Checklist</a></li>

    <li><a target="_blank" href="https://twitter.com/matthiasnoback">@matthiasnoback</a></li>
    <li><a target="_blank" href="http://hexagonal-architecture.eu/">An advanced Symfony application architecture training</a></li>

    <li><a target="_blank" href="https://twitter.com/beryllium9">@beryllium9</a></li>
    <li><a target="_blank" href="http://deref.link/">deref.link</a></li>

    <li><a target="_blank" href="http://palantir.net/holiday2014/">Palantir.net - Let's Give the Gift of Giving!</a></li>

    <li><a target="_blank" href="https://twitter.com/ninjagrlstuff">Say Happy Birthday to @ninjagrlstuff!</a></li>

</ul>
{% endblock %}
{% block itunes_summary %}
Beau and Dave wrap up 2014 discussing a bunch of stuff. Dave was too excited about Christmas to write something more descriptive for this sentence. This one too.
{% endblock %}
