---
title: The First One
subtitle: Beau and Dave discuss their reasons for starting a podcast and touch a bit on TDD being dead (or not).
number: 1
date: Thu, 22 May 2014 01:16:58 +0000
guid: https://www.signalleaf.com/podcasts/That-Podcast/537df075d969d40200000011
embed_url: http://media.signalleaf.com/That-Podcast/537df075d969d40200000011/embed/01-Episode-1-The-First-One.mp3
rss_url: http://media.signalleaf.com/That-Podcast/537df075d969d40200000011/rss/01-Episode-1-The-First-One.mp3
download_url: http://media.signalleaf.com/That-Podcast/537df075d969d40200000011/01-Episode-1-The-First-One.mp3
duration: 1:26:57
file_size: 104341731
explicit: no
bg_image: /assets/css/lego-beginnings.jpg
image_credit:
    url: https://www.flickr.com/photos/cefeida/2167070556
    description: Beginning
    by: Magic Madzik
tags:
    - tdd
    - coworking

---
{% block content %}
<p>
Beau and Dave talk about their motivations for starting a podcast, coworking
spaces, disruptions while working, what we've been working on recently, going
fast vs going well, TDD being dead, stepping on toes as a consultant,
entrepeneurs in the family, and going back to a regular job.
</p>

<ul>
    <li><a href="http://madisonphp.com">Madison PHP</a></li>
    <li><a href="http://phptownhall.com/blog/2014/03/06/episode-20-a-nice-friendly-chat-about-sculpin-guzzle-and-psr-7/">PHP Town Hall Episode 20: A Nice Friendly Chat About Sculpin, Guzzle and PSR-7</a></li>
    <li><a href="https://plus.google.com/u/0/113250505599769873265/posts">Dev Book Club</a></li>
    <li><a href="https://www.youtube.com/watch?v=9LfmrkyP81M">DHH Keynote</a></li>
    <li><a href="http://techzinglive.com/">techzing tech podcast</a></li>
    <li><a href="http://www.bootstrappedwithkids.com/">Bootstrapped with Kids Podcast</a></li>
    <li><a href="http://www.theavenuehq.com/">The Avenue HQ</a> (Beau's first coworking space; great experience!)</li>
    <li><a href="http://100state.com/">100state</a> (Beau's current coworking home in Madison)</li>
    <li><a href="http://heeris.id.au/2013/this-is-why-you-shouldnt-interrupt-a-programmer">THIS IS WHY YOU SHOULDN'T INTERRUPT A PROGRAMMER</a></li>
    <li><a href="http://reflxlabsinc.com">REFLX Labs</a> and <a href="http://boogio.com">Boogio</a> (Beau's startup and wearable product out of Seattle)</li>
    <li><a href="http://dflydev.com">Dragonfly Development</a> (Beau's consulting company)</li>
    <li><a href="http://tek.phparch.com/">php[tek]</a></li>
    <li><a href="https://sculpin.io">Sculpin</a> (<a href="https://twitter.com/getsculpin">@getsculpin</a>)</li>
    <li><a href="http://joshlarosee.com">Josh LaRosee</a> (<a href="https://twitter.com/joshlarosee">@joshlarosee</a>)</li>
    <li><a href="http://ianlandsman.com/">Ian Landsman</a> (<a href="https://twitter.com/ianlandsman">@ianlandsman</a>)</li>
    <li><a href="http://www.userscape.com/">UserScape</a></li>
    <li><a href="https://besnappy.com/">Snappy</a></li>
    <li><a href="http://taylorotwell.com/">Taylor Otwell</a> (<a href="https://twitter.com/taylorotwell">@taylorotwell</a>)</li>
    <li><a href="http://fideloper.com/">Chris Fidao</a> (<a href="https://twitter.com/fideloper">@fideloper</a>)</li>
    <li><a href="http://david.heinemeierhansson.com/2014/tdd-is-dead-long-live-testing.html">TDD is Dead. Long live testing.</a></li>
    <li><a href="https://github.com/padraic/mockery">Mockery</a></li>
    <li><a href="http://en.wikipedia.org/wiki/Acceptance_test-driven_development">Acceptance Test-Driven Development (ATDD)</a></li>
    <li><a href="http://martinfowler.com/articles/is-tdd-dead/">Is TDD Dead? Google Hangouts with DHH, Martin Fowler and Kent Beck.</a></li>
    <li><a href="https://www.focusatwill.com/">focus@will</a></li>
    <li><a href="http://en.wikipedia.org/wiki/Behavior-driven_development">Behavior-Driven Development (BDD)</a></li>
    <li><a href="http://behat.org/">Behat</a></li>
    <li><a href="https://github.com/cucumber/cucumber/wiki/Gherkin">Gherkin</a></li>
    <li><a href="http://looselycoupled.info/blog/2014/05/13/episode-4-an-agile-rant/">The Loosely Coupled Podcast Episode 4: An Agile Rant</a></li>
    <li><a href="https://laracasts.com/">Laracasts</a></li>
    <li><a href="http://shortwhitebaldguy.com/">Matt Frost</a> (<a href="https://twitter.com/shrtwhitebldguy">@shrtwhitebldguy</a>)</li>
    <li><a href="http://pschwisow.wordpress.com/">Patrick Schwisow</a> (<a href="https://twitter.com/PSchwisow">@PSchwisow</a>)</li>
    <li><a href="https://github.com/jekyll/jekyll">Jekyll</a></li>
    <li><a href="http://davedevelopment.co.uk/">davedevelopment.co.uk</a></li>
</ul>

{% endblock %}
{% block itunes_summary %}

{% endblock %}
