---
title: The One where ORMs are Dead
subtitle: Beau and Dave discuss Beau's recent exploration into the DDD world, leading him away from ORMs and into Events.
number: 4
date: Mon, 30 Jun 2014 10:29:51 +0000
guid: https://www.signalleaf.com/podcasts/That-Podcast/53b1dfdbe0ce130200000004
embed_url: http://media.signalleaf.com/That-Podcast/53b1dfdbe0ce130200000004/embed/01-Episode-4-The-One-where-ORMs-are-Dead.mp3
rss_url: http://media.signalleaf.com/That-Podcast/53b1dfdbe0ce130200000004/rss/01-Episode-4-The-One-where-ORMs-are-Dead.mp3
download_url: http://media.signalleaf.com/That-Podcast/53b1dfdbe0ce130200000004/01-Episode-4-The-One-where-ORMs-are-Dead.mp3
duration: 1:25:45
file_size: 102904187
explicit: no
bg_image: /assets/css/dflydev.jpg
image_credit:
    url:
    description: office
    by: Beau

---
{% block content %}
<p>Beau and Dave discuss Beau's recent exploration into the DDD world, leading him away from ORMs and into Events.</p>
<ul>
    <li><a target="_blank" href="https://twitter.com/andrewshell">@andrewshell</a></li>
    <li><a target="_blank" href="https://www.youtube.com/watch?v=jzAD2GLfaNU">Dave's Yorkshire Accent</a></li>
    <li><a target="_blank" href="http://www.barnsleyfc.co.uk">Barnsley F.C.</a> - Dave's chosen football team</a></li>
    <li><a target="_blank" href="https://incident57.com/codekit/">CodeKit</a></li>
    <li><a target="_blank" href="https://github.com/sstephenson/sprockets">sstephenson/sprockets</a></li>
    <li><a target="_blank" href="http://github.com/cch/pipe">chh/pipe</a></li>
    <li><a target="_blank" href="http://www.gnu.org/software/make/">GNU Make</a></li>
    <li><a target="_blank" href="https://github.com/symfony/symfony/pull/9902">symfony/security "fix" that Dave didn't consider BC</a></li>
    <li><a target="_blank" href="https://github.com/symfony/symfony/issues/10242">Remember Me authentication does not check user's locked/disabled state</a></li>
    <li><a target="_blank" href="https://github.com/FriendsOfSymfony/FOSUserBundle/issues/1413">FOSUserBundle issue related to above</a></li>
    <li><a target="_blank" href="http://projects.spring.io/spring-security/">Spring Security</a> - A lot of inspiration for symfony/security</li>
    <li><a target="_blank" href="http://world.phparch.com/">php[world]</a></li>
    <li><a target="_blank" href="http://conference.phpnw.org.uk/phpnw14/">PHPNW14</a></li>
    <li><a target="_blank" href="http://zendcon.com/">ZendCon 2014</a></li>
    <li><a target="_blank" href="https://github.com/silexphp/Silex">Silex</a></li>
    <li><a target="_blank" href="https://github.com/dflydev/dflydev-doctrine-orm-service-provider">Dflydev Doctrine ORM Service Provider</a></li>
    <li><a target="_blank" href="http://trello.com">Trello</a></li>
    <li><a target="_blank" href="http://https://www.mantisbt.org/">Mantis Bug Tracker</a></li>
    <li><a target="_blank" href="https://www.atlassian.com/software/jira/service-desk">Atlassian Jira Service Desk</a></li>
    <li><a target="_blank" href="http://www.joelonsoftware.com/articles/fog0000000029.html">Painless Bug Tracking - Joel Spolsky</a></li>
    <li><a target="_blank" href="https://twitter.com/beausimensen/status/453638391981039616">Beau's tweet on ORMs and DDD</a></li>
    <li><a target="_blank" href="https://twitter.com/mathiasverraes">@mathiasverraes</a></li>
    <li><a target="_blank" href="http://elephantintheroom.io/">Elephant in the Room</a></li>
    <li><a target="_blank" href="https://github.com/buttercup-php/protects">buttercup/protects</a></li>
    <li><a target="_blank" href="https://twitter.com/kelvinj">@kelvinj</a></li>
    <li><a target="_blank" href="https://github.com/event-centric">event-centric</a></li>
    <li><a target="_blank" href="http://geteventstore.com/">Event Store</a></li>
    <li><a target="_blank" href="http://www.amazon.com/Domain-Driven-Design-Tackling-Complexity-Software/dp/0321125215/ref=sr_1_1?ie=UTF8&qid=1404162006&sr=8-1&keywords=domain+driven+design">The Blue Book</a></li>
    <li><a target="_blank" href="http://www.amazon.com/Implementing-Domain-Driven-Design-Vaughn-Vernon/dp/0321834577/ref=sr_1_2?ie=UTF8&qid=1404162006&sr=8-2&keywords=domain+driven+design">The Red Book</a></li>
</ul>
{% endblock %}
{% block itunes_summary %}
Beau and Dave discuss Beau's recent exploration into the DDD world, leading him away from ORMs and into Events.
{% endblock %}
