---
title: The One with Paul talking about Action-Domain-Repsonder
subtitle: Beau and Dave discuss ADR with their first guest, Paul M. Jones.
number: 3
date: Mon, 16 Jun 2014 07:35:15 +0000
guid: https://www.signalleaf.com/podcasts/That-Podcast/539f40d72b5cc10200000004
embed_url: http://media.signalleaf.com/That-Podcast/539f40d72b5cc10200000004/embed/01-Episode-3-The-One-with-Paul-talking-about-Action-Domain-Responder.mp3
rss_url: http://media.signalleaf.com/That-Podcast/539f40d72b5cc10200000004/rss/01-Episode-3-The-One-with-Paul-talking-about-Action-Domain-Responder.mp3
download_url: http://media.signalleaf.com/That-Podcast/539f40d72b5cc10200000004/01-Episode-3-The-One-with-Paul-talking-about-Action-Domain-Responder.mp3
duration: 1:41:44
file_size: 122090553
explicit: no
bg_image: /assets/css/modernized.jpg
image_credit:
    url: https://www.flickr.com/photos/clearlyambiguous/390311509
    description: Modernized
    by: Cory Funk

---
{% block content %}
Beau and Dave have their first guest, Paul M. Jones, who asked if he could join
us to discuss our thoughts on his Action-Domain-Responder pattern after we
mentioned it on our previous episode. In addition to discussing ADR, they
discuss Paul's book, the process of writing a book, and similarities between
writing books, blogging, and talks for conferences.

<ul>
    <li><a href="http://twitter.com/pmjones">Paul M. Jones</a></li>
    <li><a href="http://pear.php.net/group/">PEAR group</a></li>
    <li><a href="http://www.php-fig.org/">PHPFIG</a></li>
    <li>PSR <a href="http://www.php-fig.org/psr/psr-1/">1</a>/<a href="http://www.php-fig.org/psr/psr-2/">2</a>/ <a href="http://www.php-fig.org/psr/psr-4/">4</a></li>
    <li><a href="http://phpsavant.com/">Savant</a> - PHP Templating System</li>
    <li><a href="http://framework.zend.com/">Zend Framework</a></li>
    <li><a href="http://solarphp.com/">Solar</a> - Framework for PHP 5</li>
    <li><a href="http://auraphp.com/">Aura</a> - Decoupled PHP Packages</li>
    <li><a href="http://boogio.com/">Boogio</a></li>
    <li><a href="http://adwords.google.com">Adwords</a></li>
    <li><a href="https://www.facebook.com/advertising">Facebook Ads</a></li>
    <li><a href="http://techzinglive.com">TechZing</a></li>
    <li><a href="https://twitter.com/baruica">@baruica</a></li>
    <li><a href="http://musicforprogramming.net">musicforprogramming.net</a></li>
    <li><a href="https://www.focusatwill.com/">focus@will</a></li>
    <li><a href="http://porticor.com">Porticor.com</a> via <a href="https://twitter.com/joshlarosee">@joshlarosee</a></li>
    <li><a href="http://github.com/cloudflare/redoctober">cloudflare/redoctober</a> via <a href="http://twitter.com/asm89">@asm89</a></li>
    <li><a href="http://github.com/thatpodcast/voicemail">thatpodcast/voicemail</a></li>
    <li><a href="http://mlaphp.com">Modernizing Your Legacy PHP Application</a></li>
    <li><a href="https://speakerdeck.com/pmjones/it-was-like-that-when-i-got-here-steps-toward-modernizing-a-legacy-codebase">It Was Like That When I Got Here</a></li>
    <li><a href="https://twitter.com/grmpyprogrammer">@grmpyprogrammer</a></li>
    <li><a href="http://leanpub.com">Leanpub</a></li>
    <li><a href="http://paul-m-jones.com/archives/5970" target="_blank">Action-Domain-Response: A Tentative MVC Refinement</a></li>
    <li><a href="http://en.wikipedia.org/wiki/Model%E2%80%93view%E2%80%93controller">MVC</a></li>
    <li><a href="http://paul-m-jones.com/archives/5993" target="_blank">The Template is not the View</a></li>
    <li><a href="https://github.com/pmjones/mvc-refinement" target="_blank">Action-Domain-Responder - working draft</a></li>
    <li><a href="http://blog.bitexpert.de/blog/controller-classes-vs.-action-classes" target="_blank">Controller classes vs Action classes - Stephan Horfdorfer (sp)</a> </li>
    <li><a href="http://twitter.com/harikt">Harikt</a></li>
    <li><a href="http://twitter.com/mwop">MWOP</a></li>
    <li><a href="http://rubyonrails.org/">Ruby on Rails</a></li>
    <li><a href="http://en.wikipedia.org/wiki/Active_record_pattern">Active Record Pattern</a></li>
    <li><a href="http://www.doctrine-project.org/">Doctrine</a></li>
    <li><a href="http://martinfowler.com/eaaCatalog/serviceLayer.html">Service Layer</a></li>
    <li><a href="http://en.wikipedia.org/wiki/Representational_state_transfer">RESTful</a></li>
    <li><a href="http://en.wikipedia.org/wiki/Spaghetti_code#Lasagna_code">Lasagne code</a></li>
</ul>

{% endblock %}
{% block itunes_summary %}
Beau and Dave have their first guest, Paul M. Jones, who asked if he could join
us to discuss our thoughts on his Action-Domain-Responder pattern after we
mentioned it on our previous episode. In addition to discussing ADR, they
discuss Paul's book, the process of writing a book, and similarities between
writing books, blogging, and talks for conferences.
{% endblock %}
