---
title: The One Where Everyone Is Going to London
subtitle: Beau and Dave discuss a lot of recent goings on before a little talk about pair programming
number: 5
date: Tue, 22 Jul 2014 10:03:00 +0000
guid: https://www.signalleaf.com/podcasts/That-Podcast/53ced1d6292a4202006095ad
embed_url: http://media.signalleaf.com/That-Podcast/53ced1d6292a4202006095ad/embed/01-Episode-5-The-One-Where-Everyone-Is-Going-to-London.mp3
rss_url: http://media.signalleaf.com/That-Podcast/53ced1d6292a4202006095ad/rss/01-Episode-5-The-One-Where-Everyone-Is-Going-to-London.mp3
download_url: http://media.signalleaf.com/That-Podcast/53ced1d6292a4202006095ad/01-Episode-5-The-One-Where-Everyone-Is-Going-to-London.mp3
duration: 1:51:28
file_size: 133765003
explicit: no
bg_image: /assets/css/london.jpg
image_credit:
    url: https://www.flickr.com/photos/trodel/3599402258
    description: Palace of Westminster - London, England
    by: Jim Trodel

---
{% block content %}
<p>Beau and Dave discuss having been selected to Symfony Live London and how they
plan to bring their families with them so everyone can hang out in person for
the first time. Beau discusses his other upcoming talks including Nomad PHP EU
and php[world] and Dave talks a bit about his pair programming setup. Both agree
that rewriting code from another project is a great way to really understand how
the thing ticks.</p>

<p>Apologies for some of the audio quality in this episode, at times it sounds
like we're fading out or it's been heavily edited, but I just made some mistakes
with the post-processing. ^D</p>

<ul>
    <li><a href="http://www.myfitnesspal.com/" target="_blank">MyFitnessPal</a></li>
    <li><a href="http://selfmademinds.com/200902/200-per-week-for-every-reader/" target="_blank">SelfMadeMinds - £200 per week for every reader</a></li>
    <li><a href="https://gist.github.com/manchuck/6538826" target="_blank">ZF2 pre-commit hook</a> via <a href="http://twitter.com/manchuck" target="_blank">@manchuck</a></li>
    <li><a href="http://www.lowes.com/pd_16605-46498-300_0__?productId=3015239#BVRRWidgetID" target="_blank">Glossy Hardboard Wall Panel</a> via <a href="http://twitter.com/tinyjason" target="_blank">@tinyjason</a></li>
    <li><a href="https://twitter.com/juokaz/status/487265113679073281" target="_blank">Expert Level PHP Conference?</a></li>
    <li><a href="http://twitter.com/FoxCitiesPHP" target="_blank">@FoxCitiesPHP</a></li>
    <li><a href="http://twitter.com/AvenueHQ" target="_blank">AvenueHQ</a> [<a href="http://www.theavenuehq.com/" target="_blank">http://www.theavenuehq.com/</a>]</li>
    <li><a href="http://smartsocialmedia.com/" target="_blank">Smart Social Media Inc.</a></li>
    <li><a href="http://twitter.com/rosslarsonWI" target="_blank">rosslarsonWI</a></li>
    <li><a href="http://benjaminbenesh.com/blog/2013/11/13/sculpin-intro/" target="_blank">Sculpin Intro</a> via <a href="http://twitter.com/bbene" target="_blank">@bbene</a></li>
    <li><a href="http://twitter.com/mathewpeterson" target="_blank">@mathewpeterson</a></li>
    <li><a href="http://london2014.live.symfony.com/" target="_blank">Symfony Live London 2014</a></li>
    <li><a href="https://nomadphp.com/2014/05/01/july-2014-eu/" target="_blank">Nomad PHP July 2014 EU - Composer: Stability and Semantic Versioning Demystified</a></li>
    <li><a href="http://world.phparch.com/" target="_blank">php[world]</a></li>
    <li><a href="http://twitter.com/jclermont" target="_blank">@jclermont</a></li>
    <li>Marcelo Jacobus <a href="https://github.com/mjacobus" target="_blank">Github</a> <a href="http://marcelojacobus.wordpress.com" target="_blank">Blog</a> <- looking for pair programming on open source</li>
    <li><a href="http://www.amazon.co.uk/Samson-Mic-Clip-USB-Microphone/dp/B001R76D42" target="_blank">Samson Go Mic Microphone</a> as used by Dave</li>
    <li><a href="http://www.amazon.com/dp/B004QJOZS4/ref=pe_385040_30332190_TE_M3T1_ST1_dp_1" target="_blank">Audio-Technica ATR2100-USB</a> as used by Beau</li>
    <li><a href="http://www.lifehack.org/articles/productivity/10-things-to-do-with-dry-erase-markers.html" target="_blank">Removing permanent marker from a white board</a></li>
    <li><a href="https://github.com/dflydev/dflydev-event-store-doctrine-dbal" target="_blank">dflydev/dflydev-event-store-doctrine-dbal</a></li>
    <li><a href="https://github.com/suin/php-event-sourcing/" target="_blank">suin/php-event-sourcing</a></li>
    <li><a href="https://github.com/prooph/event-sourcing/" target="_blank">prooph/event-sourcing</a></li>
    <li><a href="https://github.com/beberlei/litecqrs-php/" target="_blank">beberlei/litecqrs-php</a></li>
    <li><a href="https://github.com/event-centric/aggregates" target="_blank">event-centric/aggregates</a></li>
    <li><a href="https://convertkit.com/" target="_blank">ConvertKit</a></li>
    <li><a href="http://csswizardry.com" target="_blank">csswizardry.com</a> - Harry looks to have done a good job of productising services</li>
    <li><a href="http://en.wikipedia.org/wiki/Command_pattern" target="_blank">Command Pattern</a></li>
    <li><a href="http://martinfowler.com/bliki/CQRS.html" target="_blank">CQRS</a></li>
    <li><a href="http://brianschiller.com/blog/2014/07/18/pair-programming-wemux.html" target="_blank">Pair Programming with wemux</a></li>
</ul>

{% endblock %}
{% block itunes_summary %}
Beau and Dave discuss having been selected to Symfony Live London and how they
plan to bring their families with them so everyone can hang out in person for
the first time. Beau discusses his other upcoming talks including Nomad PHP EU
and php[world] and Dave talks a bit about his pair programming setup. Both agree
that rewriting code from another project is a great way to really understand how
the thing ticks.
{% endblock %}
