---
title: The One with Paul talking about Action-Domain-Responder
subtitle: Beau and Dave discuss ADR with their first guest, Paul M. Jones.
number: 3
date: Mon, 16 Jun 2014 07:35:15 +0000
guid: https://www.signalleaf.com/podcasts/That-Podcast/539f40d72b5cc10200000004
embed_url: http://audio.simplecast.fm/15189.mp3
rss_url: http://audio.simplecast.fm/15189.mp3
download_url: http://audio.simplecast.fm/15189.mp3
duration: 1:41:44
file_size: 122090553
explicit: no
bg_image: /assets/css/modernized.jpg
image_credit:
    url: https://www.flickr.com/photos/clearlyambiguous/390311509
    description: Modernized
    by: Cory Funk

---
{% block content %}
Beau and Dave have their first guest, Paul M. Jones, who asked if he could join
them to discuss their thoughts on his Action-Domain-Responder pattern after they
mentioned it on the previous episode. In addition to discussing ADR, they
discuss Paul's book, the process of writing a book, and similarities between
writing books, blogging, and talks for conferences.

<ul>
    <li><a target="_blank" href="http://twitter.com/pmjones">Paul M. Jones</a></li>
    <li><a target="_blank" href="http://pear.php.net/group/">PEAR group</a></li>
    <li><a target="_blank" href="http://www.php-fig.org/">PHP-FIG</a></li>
    <li><a target="_blank" href="http://www.php-fig.org/psr/psr-1/">PSR-1</a> / <a target="_blank" href="http://www.php-fig.org/psr/psr-2/">PSR-2</a> / <a target="_blank" href="http://www.php-fig.org/psr/psr-4/">PSR-4</a></li>
    <li><a target="_blank" href="http://phpsavant.com/">Savant</a> - PHP Templating System</li>
    <li><a target="_blank" href="http://framework.zend.com/">Zend Framework</a></li>
    <li><a target="_blank" href="http://solarphp.com/">Solar</a> - Framework for PHP 5</li>
    <li><a target="_blank" href="http://auraphp.com/">Aura</a> - Decoupled PHP Packages</li>
    <li><a target="_blank" href="http://boogio.com/">Boogio</a></li>
    <li><a target="_blank" href="http://adwords.google.com">Adwords</a></li>
    <li><a target="_blank" href="https://www.facebook.com/advertising">Facebook Ads</a></li>
    <li><a target="_blank" href="http://techzinglive.com">TechZing</a></li>
    <li><a target="_blank" href="https://twitter.com/baruica">@baruica</a></li>
    <li><a target="_blank" href="http://musicforprogramming.net">musicforprogramming.net</a></li>
    <li><a target="_blank" href="https://www.focusatwill.com/">focus@will</a></li>
    <li><a target="_blank" href="http://porticor.com">Porticor.com</a> via <a target="_blank" href="https://twitter.com/joshlarosee">@joshlarosee</a></li>
    <li><a target="_blank" href="http://github.com/cloudflare/redoctober">cloudflare/redoctober</a> via <a target="_blank" href="http://twitter.com/asm89">@asm89</a></li>
    <li><a target="_blank" href="http://github.com/thatpodcast/voicemail">thatpodcast/voicemail</a></li>
    <li><a target="_blank" href="http://mlaphp.com">Modernizing Your Legacy PHP Application</a></li>
    <li><a target="_blank" href="https://speakerdeck.com/pmjones/it-was-like-that-when-i-got-here-steps-toward-modernizing-a-legacy-codebase">It Was Like That When I Got Here</a></li>
    <li><a target="_blank" href="http://www.littlehart.net/atthekeyboard/">Chris Hartjes</a> (<a target="_blank" href="https://twitter.com/grmpyprogrammer">@grmpyprogrammer</a>)</li>
    <li><a target="_blank" href="http://leanpub.com">Leanpub</a></li>
    <li><a target="_blank" href="http://paul-m-jones.com/archives/5970">Action-Domain-Response: A Tentative MVC Refinement</a></li>
    <li><a target="_blank" href="http://en.wikipedia.org/wiki/Model%E2%80%93view%E2%80%93controller">MVC</a></li>
    <li><a target="_blank" href="http://paul-m-jones.com/archives/5993">The Template is not the View</a></li>
    <li><a target="_blank" href="https://github.com/pmjones/mvc-refinement">Action-Domain-Responder - working draft</a></li>
    <li><a target="_blank" href="http://blog.bitexpert.de/blog/controller-classes-vs.-action-classes">Controller classes vs Action classes - Stephan Hochdörfer</a> </li>
    <li><a target="_blank" href="http://twitter.com/harikt">Hari K T</a></li>
    <li><a target="_blank" href="http://mwop.net/">Matthew Weier O'Phinney</a> (<a target="_blank" href="http://twitter.com/mwop">@mwop</a>)</li>
    <li><a target="_blank" href="http://rubyonrails.org/">Ruby on Rails</a></li>
    <li><a target="_blank" href="http://en.wikipedia.org/wiki/Active_record_pattern">Active Record Pattern</a></li>
    <li><a target="_blank" href="http://www.doctrine-project.org/">Doctrine</a></li>
    <li><a target="_blank" href="http://martinfowler.com/eaaCatalog/serviceLayer.html">Service Layer</a></li>
    <li><a target="_blank" href="http://en.wikipedia.org/wiki/Representational_state_transfer">RESTful</a></li>
    <li><a target="_blank" href="http://en.wikipedia.org/wiki/Spaghetti_code#Lasagna_code">Lasagne code</a></li>
    <li><a target="_blank" href="http://looselycoupled.info/blog/2014/04/30/episode-3-conference-conversations/">Loosely Coupled Episode 3: Conference Conversations</a></li>
</ul>

{% endblock %}
{% block itunes_summary %}
Beau and Dave have their first guest, Paul M. Jones, who asked if he could join
them to discuss their thoughts on his Action-Domain-Responder pattern after they
mentioned it on the previous episode. In addition to discussing ADR, they
discuss Paul's book, the process of writing a book, and similarities between
writing books, blogging, and talks for conferences.
{% endblock %}
