---
title: The First One
subtitle: Beau and Dave discuss their reasons for starting a podcast and touch a bit on TDD being dead (or not).
number: 1
date: Thu, 22 May 2014 01:16:58 +0000
guid: https://www.signalleaf.com/podcasts/That-Podcast/537df075d969d40200000011
embed_url: http://media.signalleaf.com/That-Podcast/537df075d969d40200000011/embed/01-Episode-1-The-First-One.mp3
rss_url: http://media.signalleaf.com/That-Podcast/537df075d969d40200000011/rss/01-Episode-1-The-First-One.mp3
download_url: http://media.signalleaf.com/That-Podcast/537df075d969d40200000011/01-Episode-1-The-First-One.mp3
duration: 1:26:57
file_size: 104341731
explicit: no
bg_image: /assets/css/lego-beginnings.jpg
image_credit:
    url: https://www.flickr.com/photos/cefeida/2167070556
    description: Beginning
    by: Magic Madzik
tags:
    - tdd
    - coworking

---
{% block content %}
<p>
Beau and Dave talk about their motivations for starting a podcast, co-working
spaces, disruptions while working, what we've been working on recently, going
fast vs going well, TDD being dead, stepping on toes as a consultant,
entrepeneurs in the family, and going back to a regular job.
</p>

<ul>
    <li><a href="http://phptownhall.com/">PHP Town Hall</a></li>
    <li><a href="https://plus.google.com/u/0/113250505599769873265/posts">Dev Book Club</a></li>
    <li><a href="https://www.youtube.com/watch?v=9LfmrkyP81M">DHH Keynote</a></li>
    <li><a href="http://david.heinemeierhansson.com/2014/tdd-is-dead-long-live-testing.html">TDD is Dead. Long live testing.</a></li>
    <li><a href="http://martinfowler.com/articles/is-tdd-dead/">Is TDD Dead? Google Hangouts with DHH, Martin Fowler and Kent Beck.</a></li>
</ul>

{% endblock %}
{% block itunes_summary %}

{% endblock %}
