---
title: The One Where We Didn't Even Get to Our Scheduled Topic
subtitle: Lots of updates and discussion
number: 6
date: Tue, 05 Aug 2014 10:13:07 +0000
guid: https://www.signalleaf.com/podcasts/That-Podcast/53e14e9a5f9bf10200ec6ac0
embed_url: http://audio.simplecast.fm/15192.mp3
rss_url: http://audio.simplecast.fm/15192.mp3
download_url: http://audio.simplecast.fm/15192.mp3
duration: 2:03:47
file_size: 148551627
explicit: no
bg_image: /assets/css/clock.jpg
image_credit:
    url: https://www.flickr.com/photos/harald/3520080636
    description: 24 hour clock
    by: Harald

---
{% block content %}
<p>Beau and Dave give updates on all sorts of things. So much so, they manage to not even get to the topic they actually expected to talk about. Fun times!</p>

<ul>
    <li><a href="https://twitter.com/harikt" target="_blank">@harikt</a></li>
    <li><a href="https://github.com/mjacobus" target="_blank">@mjacobus</a></li>
    <li><a href="https://twitter.com/phpbard" target="_blank">@phpbard</a></li>
    <li><a href="http://www.phppodcasts.com/" target="_blank">PHP Podcasts</a></li>
    <li><a href="http://phpbard.tumblr.com/post/87209690905/sonnet-1-phpodcasts" target="_blank">Sonnet 1: PHP Podcasts</a></li>
    <li><a href="https://twitter.com/jmikola" target="_blank">@jmikola</a></li>
    <li><a href="https://twitter.com/phpweeklynews" target="_blank">@phpweeklynews</a></li>
    <li><a href="https://twitter.com/phpweekly" target="_blank">@phpweekly</a></li>
    <li><a href="https://twitter.com/1stvamp" target="_blank">@1stvamp</a></li>
    <li><a href="https://twitter.com/drrotmos" target="_blank">@drrotmos</a></li>
    <li><a href="https://twitter.com/TobiasNyholm" target="_blank">@TobiasNyholm</a></li>
    <li><a href="https://twitter.com/SoundOfSymfony" target="_blank">@SoundOfSymfony</a></li>
    <li><a href="http://raceforlife.cancerresearchuk.org/index.html" target="_blank">Race for Life</a></li>
    <li><a href="http://lifehacker.com/281626/jerry-seinfelds-productivity-secret" target="_blank">Seinfeld's productivity secret</a></li>
    <li><a href="https://itunes.apple.com/gb/app/commit/id473527073?mt=8" target="_blank">Commit</a></li>
    <li><a href="http://nathanbarry.com/commitment-changed-career/" target="_blank">Commitment changed my career</a></li>
    <li><a href="http://zendcon.com/" target="_blank">Zendcon</a></li>
    <li><a href="http://2014.madisonphpconference.com/" target="_blank">Madison PHP Conference</a></li>
    <li><a href="https://twitter.com/grmpyprogrammer" target="_blank">@grmpyprogrammer</a></li>
    <li><a href="http://truenorthphp.ca/" target="_blank">True North PHP Conference</a></li>
    <li><a href="http://2015.midwestphp.org/" target="_blank">Midwest PHP Conference</a></li>
    <li><a href="https://twitter.com/BMorearty" target="_blank">@BMorearty</a></li>
    <li><a href="http://beta.pluralsight.com/courses/rails-4-1-performance-fundamentals" target="_blank">Rails 4.1 Performance Fundamentals</a></li>
    <li><a href="http://beta.pluralsight.com/courses/play-by-play-chris-hartjes" target="_blank">Chris Hartjes - Play by Play</a></li>
    <li><a href="https://github.com/jorgebastida/glue    " target="_blank">jorgebastida/glue    </a></li>
    <li><a href="https://twitter.com/philsturgeon" target="_blank">@philsturgeon</a></li>
    <li><a href="https://twitter.com/scrutinizerci" target="_blank">@scrutinizerci</a></li>
    <li><a href="https://convertkit.com" target="_blank">ConvertKit</a></li>
    <li><a href="http://digitalocean.com" target="_blank">Digital Ocean</a></li>
    <li><a href="http://dnsimple.com" target="_blank">DNSimple</a></li>
    <li><a href="http://linode.com" target="_blank">Linode</a></li>
    <li><a href="http://aesopgames.com" target="_blank">Aesop Games</a></li>
    <li><a href="http://pingdom.com" target="_blank">Pingdom</a></li>
    <li><a href="http://boogio.com/" target="_blank">Boogio</a> (<a href="https://boogio.com/sales" target="_blank">pre-order Boogio beta!</a>)</li>
    <li><a href="http://wordstowork.com/" target="_blank">Words to Work</a></li>
    <li><a href="http://twitter.com/coderabbi" target="_blank">@coderabbi</a></li>
    <li><a href="https://github.com/beberlei/assert/tree/master#example-usages" target="_blank">beberlei/assert</a></li>
    <li><a href="https://twitter.com/_devbookclub" target="_blank">@_devbookclub</a></li>
    <li><a href="http://www.jetbrains.com/phpstorm/" target="_blank">PHP Storm</a></li>
    <li><a href="http://twitter.com/acelayaa" target="_blank">@acelayaa</a></li>
    <li><a href="https://gist.github.com/simensen/f9b57934e4be6f01b58a" target="_blank">PHP Storm config</a></li>
    <li><a href="http://www.php-fig.org/" target="_blank">PHP FIG</a></li>
    <li><a href="http://twitter.com/reinink" target="_blank">@reinink</a></li>
    <li><a href="http://repobox.io" target="_blank">Repobox.io</a> - Dave's stalled project</li>
    <li><a href="https://github.com/Netflix/Hystrix" target="_blank">Netflix/Hystrix</a></li>
    <li><a href="https://github.com/odesk/phystrix" target="_blank">odesk/phystrix</a></li>
    <li><a href="https://github.com/asm89" target="_blank">@asm89</a></li>
    <li><a href="http://labs.qandidate.com/blog/2014/07/14/fault-tolerant-programming-in-php/" target="_blank">Fault Tolerant Programming in PHP</a></li>
    <li><a href="http://www.terraform.io" target="_blank">Terraform.io</a></li>
    <li><a href="http://aws.amazon.com/cloudformation/" target="_blank">AWS Cloud Formation</a></li>
    <li><a href="https://bitnami.com/" target="_blank">Bitnami</a></li>
    <li><a href="http://mnx.io/blog/a-proper-server-naming-scheme/" target="_blank">A proper service naming scheme</a></li>
    <li><a href="http://driesvints.com/blog/decoupling-repository-objects" target="_blank">Decoupling Repository Objects</a></li>
    <li><a href="https://twitter.com/jeffrey_way" target="_blank">@jeffrey_way</a></li>
</ul>

{% endblock %}
{% block itunes_summary %}
Beau and Dave give updates on all sorts of things. So much so, they manage to not even get to the topic they actually expected to talk about. Fun times!
{% endblock %}
