---
title: The Short Practice One
subtitle: Quick little recording demo.
number: 0
date: Wed, 07 May 2014 10:27:00 +0000
guid: https://www.signalleaf.com/podcasts/That-Podcast/536aaf42a7f1f80200000033
embed_url: http://media.signalleaf.com/That-Podcast/536aaf42a7f1f80200000033/embed/ep0.mp3
rss_url: http://media.signalleaf.com/That-Podcast/536aaf42a7f1f80200000033/rss/ep0.mp3
download_url: http://media.signalleaf.com/That-Podcast/536aaf42a7f1f80200000033/ep0.mp3
duration: 0:05:42
file_size: 5476100
explicit: no
bg_image: /assets/css/dropped-mic.jpg
image_credit:
    url: https://www.flickr.com/photos/robnas/3400482826/
    description: mic
    by: Robert Bejil

---
{% block content %}
<p>This was a quick technology demo we did in order to test out the recording process. It is a nice bit of legacy so we keep it around to remember where we started.</p>
{% endblock %}
{% block itunes_summary %}
This was a quick technology demo we did in order to test out the recording process. It is a nice bit of legacy so we keep it around to remember where we started.
{% endblock %}
