---
title: The one that Dave thought was kinda wishy washy
subtitle: 
number: 11
date: Wed, 26 Nov 2014 09:53:00 +0000
guid: https://www.signalleaf.com/podcasts/That-Podcast/54764bd8c6903e02003e3fdc
embed_url: http://media.signalleaf.com/That-Podcast/54764bd8c6903e02003e3fdc/embed/01-Episode-11-The-one-that-Dave-thinks-is-kind-of-wishy-washy.mp3
rss_url: http://media.signalleaf.com/That-Podcast/54764bd8c6903e02003e3fdc/rss/01-Episode-11-The-one-that-Dave-thinks-is-kind-of-wishy-washy.mp3
download_url: http://media.signalleaf.com/That-Podcast/54764bd8c6903e02003e3fdc/01-Episode-11-The-one-that-Dave-thinks-is-kind-of-wishy-washy.mp3
duration: 1:18:07
file_size: 93826402
explicit: no
bg_image: /assets/css/wishywashy.jpg
image_credit:
    url: https://www.flickr.com/photos/kaihm/9689662855/
    description: Wishy Washy
    by:  Kai Morgener

---
{% block content %}
<p>Beau and Dave have officially crossed beyond the 10 episode milestone but
were forced to keep things short because of various scheduling conflicts. Oddly
enough, the actual topic of the episode was supposed to be along the lines of
making the time for projects and things so that should make for a fun episode
12. That will be so meta. This time, though, they discuss what it looks like for
podcast co-hosts to not always get along, colour blindness, recent and upcoming
PHP conferences, PHP-FIG, recent happenings at work, and more fun encryption
stuff. For those of you who like them to keep it short, this one is for you!</p>

<ul>
    <li><a href="http://techzinglive.com" target="_blank">TechZing</a></li>
    <li><a href="http://en.wikipedia.org/wiki/Color_blindness" target="_blank">Colour Blindness</a></li>
    <li><a href="http://world.phparch.com/" target="_blank">php[world]</a></li>
    <li><a href="https://twitter.com/Crell/status/533021292862390272" target="_blank">@taylorotwell and @pmjones</a></li>
    <li><a href="http://socratesuk.org/" target="_blank">SoCraTes UK</a></li>
    <li><a href="http://en.wikipedia.org/wiki/Open_Space_Technology" target="_blank">Open Spaces</a></li>
    <li><a href="https://twitter.com/mdwheele" target="_blank">@mdwheele</a></li>
    <li><a href="https://groups.google.com/forum/#!topic/php-fig/nO2DGVZymcg" target="_blank">PHP-FIG - [PSR-6] Fork it - php[world] report</a></li>

    <!-- Jonathan's plates talk -->
    <li><a href="https://speakerdeck.com/reinink/zero-to-the-php-league-the-story-of-plates">Zero to The PHP League - The story of Plates</a></li>

    <li><a href="http://2015.midwestphp.org/">Midwest PHP 2015</a></li>
    <li><a href="http://www.phpconference.com.au/">PHP Australia Conference</a></li>
    <li><a href="https://cfp.lonestarphp.com/">Lone Star PHP CFP</a></li>


    <li><a href="https://letsencrypt.org/" target="_blank">Let's Encrypt</a></li>


    <li><a href="https://twofactorauth.org/" target="_blank">twofactorauth.org</a></li>
    <li><a href="https://www.authy.com/" target="_blank">authy.com</a></li>

    <li><a href="https://twitter.com/elazar" target="_blank">@elazar</a></li>
    <li><a href="http://engineering.blopboard.com/elasticsearch-vulnerability" target="_blank">ElasticSearch Vulnerability from @elazar</a></li>
    <li><a href="http://www.elasticsearch.org/community/security" target="_blank">ElasticSearch Security</a></li>
    <li><a href="http://bouk.co/blog/elasticsearch-rce/" target="_blank">ElasticSearch RCE</a></li>
    <li><a href="https://github.com/pblittle/docker-logstash/pull/33" target="_blank">Docker-logstash PR</a></li>

    <li><a href="https://www.docker.com/" target="_blank">Docker.com</a></li>
    <li><a href="https://github.com/dflydev/git-subsplit" target="_blank">dflydev/git-subsplit</a></li>
    <li><a href="https://github.com/composer/composer/pull/1017" target="_blank">WIP - composer link</a></li>

    <!-- 53:51 -->
    <li><a href="https://www.palantir.com/" target="_blank">Palantir</a></li>
    <li><a href="http://jmsyst.com/libs/serializer" target="_blank">JMS Serialiser</a></li>
    <li><a href="https://github.com/willdurand/Hateoas" target="_blank">willdurand/Hateoas</a></li>
    <li><a href="https://github.com/blongden/hal" target="_blank">nocarrier/hal</a></li>
    <!--    "When you get to a certain point, the magic starts to break down" -->
    <li><a href="https://twitter.com/kriswallsmith" target="_blank">@krisswallsmith</a></li>
    <li><a href="https://www.youtube.com/watch?v=W8MOIOyPbmM" target="_blank">How Kris Build Symfony Apps - Symfony Live London 2014</a></li>


    <li><a href="https://github.com/laravel/cashier" target="_blank">laravel/cashier</a></li>


    <li><a href="https://wordpress.org/" target="_blank">Wordpress</a></li>
</ul>

{% endblock %}
{% block itunes_summary %}
Beau and Dave have officially crossed beyond the 10 episode milestone but were forced to keep things short because of various scheduling conflicts. Oddly enough, the actual topic of the episode was supposed to be along the lines of making the time for projects and things so that should make for a fun episode 12. That will be so meta. This time, though, they discuss what it looks like for podcast co-hosts to not always get along, colour blindness, recent and upcoming PHP conferences, PHP-FIG, recent happenings at work, and more fun encryption stuff. For those of you who like them to keep it short, this one is for you!
{% endblock %}
