---
title: The Short One in London
subtitle: Because we pretty much had to!
number: 7.5
date: Sun, 28 Sep 2014 09:08:38 +0000
guid: https://www.signalleaf.com/podcasts/That-Podcast/542874c10d0fdf0200ba2d3b
embed_url: http://media.signalleaf.com/That-Podcast/542874c10d0fdf0200ba2d3b/embed/01-Episode-7.5-The-Short-One-in-London.mp3
rss_url: http://media.signalleaf.com/That-Podcast/542874c10d0fdf0200ba2d3b/rss/01-Episode-7.5-The-Short-One-in-London.mp3
download_url: http://media.signalleaf.com/That-Podcast/542874c10d0fdf0200ba2d3b/01-Episode-7.5-The-Short-One-in-London.mp3
duration: 0:29:28
file_size: 35372431
explicit: no
bg_image: /assets/css/london.jpg
image_credit:
    url: https://www.flickr.com/photos/trodel/3599402258
    description: Palace of Westminster - London, England
    by: Jim Trodel

---
{% block content %}
<p>Beau and Dave recap SymfonyLive London 2014 in their first live in person recording.</p>

<ul>
    <li><a href="http://london2014.live.symfony.com/" target="_blank">SymfonyLive London 2014</a></li>
    <li><a href="http://www.citizenm.com/destinations/london/london-bankside-hotel" target="_blank">CitizenM London Bankside</a></li>
    <li><a href="https://twitter.com/ninjagrlstuff/status/515605524470308867" target="_blank">Beau and Dave carrying little ones</a></li>
    <li><a href="http://www.eurotunnel.com/uk/home/" target="_blank">Chunnel</a></li>
    <li><a href="https://twitter.com/seldaek" target="_blank">@seldaek</a></li>
    <li><a href="https://twitter.com/ninjagrlstuff" target="_blank">@ninjagrlstuff</a></li>
    <li><a href="https://twitter.com/tsphethean" target="_blank">@tsphethean</a></li>
    <li><a href="https://twitter.com/edd_mann" target="_blank">@edd_mann</a></li>
    <li><a href="https://twitter.com/jenko" target="_blank">@jenko</a></li>
    <li><a href="https://twitter.com/awg_thomas" target="_blank">@awg_thomas</a></li>
    <li><a href="https://www.reconnix.com/" target="_blank">Reconnix</a></li>
    <li><a href="https://twitter.com/uresu" target="_blank">@uresu</a></li>
    <li><a href="http://www.mybuilder.com/" target="_blank">MyBuilder.com</a></li>
    <li><a href="http://www.asginternational.co.uk/" target="_blank">ASG International</a></li>
    <li><a href="https://twitter.com/MariaSymfony" target="_blank">@MariaSymfony</a></li>
    <li><a href="http://docs.behat.org/en/latest/" target="_blank">Behat</a></li>
    <li><a href="http://www.pagekit.com/" target="_blank">Pagekit</a></li>
    <li><a href="http://sylius.org/" target="_blank">Sylius</a></li>
    <li><a href="https://www.drupal.org/" target="_blank">Drupal</a></li>
    <li><a href="http://www.imdb.com/title/tt1291150/" target="_blank">Teenage Mutant Ninja Turtles (2014)</a></li>
    <li><a href="http://www.imdb.com/title/tt0944947/" target="_blank">Game of Thrones</a></li>
    <li><a href="http://www.imdb.com/title/tt1856010/" target="_blank">House of Cards</a></li>
    <li><a href="http://www.imdb.com/title/tt2372162/" target="_blank">Orange is the new Black</a></li>
</ul>

{% endblock %}
{% block itunes_summary %}
Beau and Dave recap SymfonyLive London 2014 in their first live in person recording.
{% endblock %}
