---
title: The First One
subtitle: Beau and Dave discuss their reasons for starting a podcast and touch a bit on TDD being dead (or not).
number: 1
date: Thu, 22 May 2014 01:16:58 +0000
guid: https://www.signalleaf.com/podcasts/That-Podcast/537df075d969d40200000011
embed_url: http://media.signalleaf.com/player/That-Podcast/537df075d969d40200000011/
rss_url: http://media.signalleaf.com/That-Podcast/537df075d969d40200000011/rss/01-Episode-1-The-First-One.mp3
download_url: http://media.signalleaf.com/That-Podcast/537df075d969d40200000011/01-Episode-1-The-First-One.mp3
duration: 1:26:57
file_size: 104341731
explicit: no
bg_image: /assets/css/lego-beginnings.jpg
image_credit:
    url: https://www.flickr.com/photos/cefeida/2167070556
    description: Beginning
    by: Magic Madzik

---
{% block content %}

{% endblock %}
{% block itunes_summary %}

{% endblock %}
