---
title: The One with the Lone Wolves
subtitle: Beau and Dave discuss being lone wolf developers
number: 2
date: Tue, 03 Jun 2014 08:50:00 +0000
guid: https://www.signalleaf.com/podcasts/That-Podcast/538e2bdbaaba990200000004
embed_url: http://audio.simplecast.fm/15188.mp3
rss_url: http://audio.simplecast.fm/15188.mp3
download_url: http://audio.simplecast.fm/15188.mp3
duration: 1:43:09
file_size: 123797208
explicit: no
bg_image: /assets/css/lone-wolf.jpg
image_credit:
    url: https://www.flickr.com/photos/sherwood411/5167927242
    description: Wolf on Lake
    by: Sherwood411

---
{% block content %}
<p>Beau and Dave recap their experience of launching That Podcast, Beau discusses
his php[tek] experience, both discuss Paul M. Jones refinement on MVC
(Action-Domain-Responder pattern) and then get down to discussing their
experiences as lone wolf developers.</p>

<ul>
    <li><a target="_blank" href="https://itunes.apple.com/us/podcast/that-podcast/id881491539">That Podcast on iTunes</a></li>
    <li><a target="_blank" href="http://github.com/thatpodcast/thatpodcast.io">Source code for thatpodcast.io</a></li>
    <li><a target="_blank" href="https://twitter.com/tassoevan">Tasso Evangelista</a></li>
    <li><a target="_blank" href="http://tek.phparch.com/">php[tek]</a></li>
    <li><a target="_blank" href="https://twitter.com/greggyb">@greggyb</a> [talked about hacking conversations]</li>
    <li><a target="_blank" href="https://twitter.com/kevinbruce">@kevinbruce</a></li>
    <li>Static Sites with Sculpin <a target="_blank" href="https://beau.io/talks/2014/05/22/static-sites-with-sculpin-php-tek-2014/?ref=joindin">[Slides]</a> <a target="_blank" href="http://joind.in/talk/view/10658">[Feedback]</a></li>
    <li><a target="_blank" href="https://twitter.com/manchuck">@manchuck</a></li>
    <li><a target="_blank" href="https://twitter.com/coderabbi">@coderabbi</a></li>
    <li><a target="_blank" href="https://twitter.com/shrtwhitebldguy">@shrtwhitebldguy</a> [Matt Frost]</li>
    <li><a target="_blank" href="https://twitter.com/evertp">@evertp</a> [used sculpin for <a target="_blank" href="http://sabre.io/">sabre.io</a>]</li>
    <li><a target="_blank" href="http://phpmentoring.org">phpmentoring.org</a></li>
    <li><a target="_blank" href="http://twitter.com/karptonite">@karptonite</a> [Dave's mentoring partner]</li>
    <li>Composer: Stability and Semantic Versioning Demystified [<a target="_blank" href="http://beau.io/talks/2014/05/22/composer-stability-and-semantic-versioning-demystified-php-tek-2014/?ref=thatpodcast">Slides</a>] [<a target="_blank" href="http://joind.in/talk/view/10652">Feedback</a>]</li>
    <li><a target="_blank" href="http://nomadphp.com/2014/05/01/july-2014-eu/">Beau's upcoming talk on NomadPHP</a></li>
    <li><a target="_blank" href="http://lonestarphp.com">Lone Star PHP</a></li>
    <li><a target="_blank" href="http://twitter.com/igorwhiletrue">@igorwhiletrue</a></li>
    <li><a target="_blank" href="https://speakerdeck.com/igorw/silex-an-implementation-detail">Silex: An implementation detail</a></li>
    <li><a target="_blank" href="https://beau.io/talks/2014/02/08/namespaces-and-autoloading-sunshine-php-2014/">Namespaces and Autoloading</a></li>
    <li><a target="_blank" href="https://github.com/lisachenko/go-aop-php">Go! AOP PHP</a></li>
    <li><a target="_blank" href="https://twitter.com/e3BethT">@e3BethT</a></li>
    <li><a target="_blank" href="http://www.meetup.com/madisonphp/">Madison PHP</a></li>
    <li><a target="_blank" href="http://world.phparch.com/">php[world]</a></li>
    <li><a target="_blank" href="http://roots.io/">roots.io</a> [Modern Wordpress Development]</li>
    <li><a target="_blank" href="https://speakerdeck.com/jasonrhodes/not-your-grandmothers-wordpress-v2-midwestphp">Not your Grandmother's Wordpress</a></li>
    <li><a target="_blank" href="http://wpackagist.org/">Wordpress Packagist</a></li>
    <li><a target="_blank" href="https://twitter.com/ninjagrlstuff">@ninjagrlstuff</a> [Beau's wife]</li>
    <li><a target="_blank" href="http://www.slideshare.net/ShawnMcCool/laravelio-a-usecase-architecture">Laravel.IO A Use-Case Architecture</a> [one of a few talks from Laracon @karptonite was interested in]</li>
    <li><a target="_blank" href="http://blog.8thlight.com/uncle-bob/2012/08/13/the-clean-architecture.html">The Clean Architecture</a></li>
    <li><a target="_blank" href="https://github.com/padraic/mockery/issues/339">Mockery issue</a> [Could be considered a BC break by PHP]</li>
    <li><a target="_blank" href="https://github.com/pmjones/mvc-refinement">Action-Domain-Responder</a></li>
    <li><a target="_blank" href="http://alistair.cockburn.us/Hexagonal+architecture">Hexagonal Architecture</a> [Ports and Adapters]</li>
    <li><a target="_blank" href="https://twitter.com/naderman">@naderman</a> [Composer Lead]</li>
    <li><a target="_blank" href="https://twitter.com/seldaek">@seldaek</a> [Composer Lead]</li>
    <li><a target="_blank" href="http://www.php-fig.org/psr/psr-1/">PSR-1 Basic Coding Standard</a></li>
    <li><a target="_blank" href="http://joshlarosee.com">Josh LaRosee</a> (<a target="_blank" href="https://twitter.com/joshlarosee">@joshlarosee</a>)</li>
</ul>

{% endblock %}
{% block itunes_summary %}
Beau and Dave recap their experience of launching That Podcast, Beau discusses his php[tek] experience, both discuss Paul M. Jones refinement on MVC (Action-Domain-Responder pattern) and then get down to discussing their experiences as lone wolf developers.
{% endblock %}
