---
title: The one where we didn't even bother with a topic
subtitle: 
number: 7
date: Wed, 10 Sep 2014 03:46:12 +0000
guid: https://www.signalleaf.com/podcasts/That-Podcast/5410716f6145e70200412c6f
embed_url: http://media.signalleaf.com/That-Podcast/5410716f6145e70200412c6f/embed/01-Episode-7-The-one-where-we-didn-t-even-bother-with-a-topic.mp3
rss_url: http://media.signalleaf.com/That-Podcast/5410716f6145e70200412c6f/rss/01-Episode-7-The-one-where-we-didn-t-even-bother-with-a-topic.mp3
download_url: http://media.signalleaf.com/That-Podcast/5410716f6145e70200412c6f/01-Episode-7-The-one-where-we-didn-t-even-bother-with-a-topic.mp3
duration: 1:34:13
file_size: 113073644
explicit: no
bg_image: /assets/css/break.jpg
image_credit:
    url: https://www.flickr.com/photos/26116471@N03/7083385705
    description: The key to life!
    by: Wajahat Mahmood
---

{% block content %}
<p>Beau and Dave are back after a short break for holidays and house moves, they catch up.</p>
<ul>
    <li><a href="http://twitter.com/TaylorOtwell" target="_blank">@TaylorOtwell</a>: made it at least halfway through "The one where orms are dead" without accidentally closing a tab</li>
    <li><a href="http://twitter.com/SignalLeaf" target="_blank">@SignalLeaf</a>, <a href="http://twitter.com/DerickBailey" target="_blank">@DerickBailey</a>: really liking <a href="http://twitter.com/thatpodcast" target="_blank">@thatpodcast</a>! If you’re a developer, entrepreneur and trying to find a balance in life, check it out: <a href="http://t.co/ymeToBOtbX" rel="noreferrer">http://t.co/ymeToBOtbX</a>
    </li>
    <li><a href="http://twitter.com/joelclermont" target="_blank">@joelclermont</a>: Joel Clermont: dates on each page were wrong. :(</li>
    <li><a href="http://twitter.com/EricHogue" target="_blank">@EricHogue</a>: piles mail, though not as bad as me? :)</li>
    <li><a href="http://twitter.com/jenko" target="_blank">@jenko</a> (Ian Jenkins): just listened to the first episode, says he loves it.</li>
    <li><a href="http://twitter.com/james_porter" target="_blank">@james_porter</a>: going to listen while he does chores for his wife</li>
    <li><a href="http://twitter.com/anthonysterling" target="_blank">@anthonysterling</a> "really enjoying, thanks for taking the time to share."</li>
    <li><a href="http://twitter.com/victorpuertas" target="_blank">@victorpuertas</a> "Coffee cup in hand and listening"</li>
    <li><a href="http://twitter.com/tjlytle" target="_blank">@tjlytle</a> recorded some fun stuff for us with his new mic * <a href="https://soundcloud.com/tjlytle/cade100s" rel="noreferrer">https://soundcloud.com/tjlytle/cade100s</a> </li>
    <li><a href="http://twitter.com/harikt" target="_blank">@harikt</a> &amp; <a href="http://twitter.com/coderabbi" target="_blank">@coderabbi</a> were excited to see they were mentioned.</li>
    <li><a href="http://twitter.com/coderabbi" target="_blank">@coderabbi</a>: Playlist!  * <a href="http://coderabbi.github.io/general/my-playlist/" rel="noreferrer">http://coderabbi.github.io/general/my-playlist/</a> </li>
    <li><a href="http://twitter.com/phpPunch" target="_blank">@phpPunch</a> * Yo Dawg, I heard you like podcasts so we created a podcast where all we talk about is our podcast (and what our wives say about our podcast)</li> 
    <li><a href="https://wakatime.com" target="_blank">Wakatime</a></li>
    <li><a href="http://labs.qandidate.com/blog/2014/08/26/broadway-our-cqrs-es-framework-open-sourced/">Broadway - CQRS/ES framework from Qandidate</a></li>
    <li><a href="http://threedevsandamaybe.com/posts/stack-and-sculpin-with-beau-simensen/">Beau on Three devs and a Maybe</a></li>
</ul>
{% endblock %}
{% block itunes_summary %}

{% endblock %}
