---
title: The one with the "best practices"
subtitle: ... and the big 10 episode milestone!
number: 10
date: Thu, 13 Nov 2014 08:21:00 +0000
guid: https://www.signalleaf.com/podcasts/That-Podcast/546512dd996d8a020009fdb1
embed_url: http://audio.simplecast.fm/15197.mp3
rss_url: http://audio.simplecast.fm/15197.mp3
download_url: http://audio.simplecast.fm/15197.mp3
duration: 1:49:45
file_size: 131712987
explicit: no
bg_image: /assets/css/signs.jpg
image_credit:
    url: https://www.flickr.com/photos/foolstopzanet/5361319682
    description: Any which way but loose...
    by: Ian Wilson

---
{% block content %}
<p>Beau and Dave catch up on just about everything, before discussing the recent preview of the Official Symfony Best Practices document.</p>

<ul>

    <li><a href="https://twitter.com/jeremeamia" target="_blank">@jeremeamia</a></li>
    <li><a href="http://disqus.com" target="_blank">Disqus</a></li>
    <li><a href="irc://irc.freenode.net/thatpodcast" target="_blank">#thatpodcast</a></li>
    <li><a href="http://fullstackradio.com" target="_blank">FullStackRadio</a></li>
    <li><a href="https://twitter.com/adamwathan" target="_blank">@adamwathan</a></li>
    <li><a href="https://twitter.com/stauffermatt" target="_blank">@stauffermatt</a></li>
    <li><a href="https://twitter.com/jcarouth" target="_blank">@jcarouth</a></li>
    <li><a href="http://looselycoupled.info/" target="_blank">Loosely Coupled</a></li>
    <li><a href="https://twitter.com/ianlandsman" target="_blank">@ianlandsman</a></li>
    <li><a href="http://bootstrapped.fm" target="_blank">Bootstrapped.fm</a></li>
    <li><a href="http://techzinglive.com" target="_blank">TechZing</a></li>
    <li><a href="http://zendcon.com" target="_blank">ZendCon</a></li>
    <li><a href="https://twitter.com/adamlundrigan" target="_blank">@adamlundrigan</a></li>
    <li><a href="http://stackphp.com" target="_blank">StackPHP</a></li>
    <li><a href="https://github.com/dflydev/dflydev-stack-hawk" target="_blank">Stack Hawk Middleware</a></li>
    <li><a href="http://www.afup.org/pages/forumphp2014/sessions.php" target="_blank">ForumPHP 2014</a></li>
    <li><a href="https://www.youtube.com/watch?v=YAYmG70RrqI&list=UUb-D560WkMEPE7dwNta_nqA" target="_blank">Bringing Sculpin to Life</a></li>
    <li><a href="http://www.sitepoint.com/forum-php-report/" target="_blank">ForumPHP Report</a></li>
    <li><a href="http://www.sitepoint.com/bower-vs-bowerphp/" target="_blank">Bower vs BowerPHP</a></li>
    <li><a href="http://bower.io/" target="_blank">Bower</a></li>
    <li><a href="http://vagrantmanager.com/" target="_blank">Vagrant Manager</a></li>

    <li><a href="http://davedevelopment.co.uk/2014/11/03/designing-a-dsl-with-interfaces.html" target="_blank">Designing a DSL with interfaces</a></li>
    <li><a href="https://github.com/sebastianbergmann/phpunit/commit/247756f342dfb0a319f8985ef06f21a00d98b59c" target="_blank">PHPUnit Prophecy integration</a></li>

    <li><a href="http://www.reddit.com/r/PHP/comments/2kx0k0/repobox_private_composer_repositories/" target="_blank">Repobox.io on Reddit</a></li>

    <li><a href="https://www.docker.com/" target="_blank">Docker</a></li>

    <li><a href="http://www.whitewashing.de/2014/10/26/symfony_all_the_things_web.html" target="_blank">Symfony All The Things (Web)</a></li>

    <li><a href="http://guzzlephp.com" target="_blank">Guzzle</a></li>

    <li><a href="http://realmacsoftware.com/typed" target="_blank">Typed</a></li>
    <li><a href="http://nocapes.github.io/" target="_blank">No Capes</a></li>

    <li><a href="http://symfony.com/doc/current/best_practices/index.html" target="_blank">Symfony Best Practices</a></li>

    <li><a href="https://github.com/symfony/symfony-installer" target="_blank">Symfony Installer</a></li>
    <li><a href="https://github.com/laravel/installer" target="_blank">Laravel Installer</a></li>


</ul>
{% endblock %}
{% block itunes_summary %}
Beau and Dave catch up on just about everything, before discussing the recent preview of the Official Symfony Best Practices document.
{% endblock %}
