---
title: The one with HTTP/2
subtitle: "Because HTTP/1.1 isn't good enough anymore, apparently."
number: 16
date: Fri, 27 Mar 2015 11:02:49 -0500
guid: https://www.signalleaf.com/podcasts/That-Podcast/55157e58298277030089d976
embed_url: http://media.signalleaf.com/That-Podcast/55157e58298277030089d976/embed/Episode-16-The-one-with-HTTP-2.0.mp3
rss_url: http://media.signalleaf.com/That-Podcast/55157e58298277030089d976/rss/Episode-16-The-one-with-HTTP-2.0.mp3
download_url: http://media.signalleaf.com/That-Podcast/55157e58298277030089d976/Episode-16-The-one-with-HTTP-2.0.mp3
duration: 1:47:04
file_size: 64326432
explicit: no
bg_image: /assets/css/web.jpg
image_credit:
    url: https://www.flickr.com/photos/puliarfanita/3360463235/
    description: WEB
    by: Anita Ritenour

---
{% block content %}
<p>Beau and Dave catch up on their latest happenings and talk about HTTP/2, what makes it different and how we understand it could change the way we do things.</p>

<ul>
    <li><a target="_blank" href="https://twitter.com/dzuelke">@dzuelke</a></li>
    <li><a target="_blank" href="https://github.com/thatpodcast/voicemail/pull/1">thatpodcast/voicemail#1</a></li>
    <li><a target="_blank" href="https://twitter.com/philsturgeon">@philsturgeon</a></li>
    <li><a target="_blank" href="http://phptownhall.com/">PHP Town Hall</a></li>
    <li><a target="_blank" href="https://philsturgeon.uk/php/2015/01/10/developer-fallacies-2014/">Developer Fallacies of 2014</a></li>
    <li><a target="_blank" href="https://philsturgeon.uk/api/2015/02/11/meet-the-league/">Meet the League</a></li>
    <li><a target="_blank" href="https://mypodcastreviews.com/">My Podcast Reviews</a></li>
    <li><a target="_blank" href="https://twitter.com/thatpodcast/status/559081259067277312">That Podcast in PHPJeopardy</a></li>
    <li>Luke Stokes (<a target="_blank" href="https://twitter.com/lukestokes">@lukestokes</a>)</li>
    <li>Brandon Mueller (<a target="_blank" href="https://twitter.com/lukestokes">@fatmuemoo</a>)</li>
    <li><a target="_blank" href="https://twitter.com/jeremeamia">@jeremeamia</a></li>
    <li><a target="_blank" href="http://pnwphp.com/">PNWPHP</a></li>
    <li><a target="_blank" href="https://pnwphp2015.busyconf.com/proposals/new">PNWPHP CFP</a></li>
    <li><a target="_blank" href="https://twitter.com/coderabbi">@coderabbi</a></li>
    <li><a target="_blank" href="https://groups.google.com/forum/#!topic/php-fig/sI91hfu-qsE">PSR-7 Voting thread</a></li>
    <li><a target="_blank" href="https://github.com/symfony/symfony/issues/6406">symfony/symfony#6406 - clean up/redesign Request class</a></li>
    <li><a target="_blank" href="http://wisdomoftheelephpant.com/">Wisdom of the ElePHPant</a></li>
    <li><a target="_blank" href="https://twitter.com/CalEvans">@CalEvans</a></li>
    <li><a target="_blank" href="http://srcmvn.com/blog/2015/02/06/the-wisdom-of-the-elephpant-project/">Beau's post on the The Wisdom of the ElePHPant Project</a></li>
    <li><a target="_blank" href="http://devbookclub.org/">Dev Book Club</a></li>
    <li><a target="_blank" href="https://twitter.com/jcarouth">@jcarouth</a></li>
    <li><a target="_blank" href="http://www.amazon.com/dp/0132350882/">Clean Code by Robert Martin</a></li>
    <li><a target="_blank" href="http://2015.midcamp.org/">Midcamp 2015</a></li>
    <li><a target="_blank" href="http://palantir.net/">Palantir.net</a></li>
    <li><a target="_blank" href="http://www.holmfirthvineyard.com/">Holmfirth Vineyard</a></li>
    <li><a target="_blank" href="http://www.imdb.com/title/tt2802144/">Kingsman</a></li>
    <li><a target="_blank" href="http://www.imdb.com/title/tt1843866/">Captain America: The Winter Soldier</a></li>
    <li><a target="_blank" href="http://www.imdb.com/title/tt0985694/">Machete (2010)</a></li>
    <li><a target="_blank" href="https://twitter.com/sixdaysad">@sixdaysad</a></li>
    <li><a target="_blank" href="https://github.com/adambrett/sculpin-project-hub">adambrett/sculpin-project-hub</a></li>
    <li><a target="_blank" href="http://blog.sculpin.io">Sculpin's blog</a></li>
    <li><a target="_blank" href="http://srcmvn.com/blog/2015/02/23/meet-the-new-members-of-the-sculpin-organization/">Meet the New Members of the Sculpin Organization</a></li>
    <li><a target="_blank" href="http://twitter.com/stauffermatt">@stauffermatt</a></li>
    <li><a target="_blank" href="http://twitter.com/adamwathan">@adamwathan</a></li>
    <li><a target="_blank" href="http://gistlog.co">Gistlog</a> by <a href="http://github.com/stauffermatt" target="_blank">@stauffermatt</a> (Matt Stauffer) and <a href="http://github.com/adamwathan" target="_blank">@adamwathan</a> (Adam Wathan)</li>
    <li><a target="_blank" href="https://www.youtube.com/watch?v=g4BbeHYCR1E">Rapid Application Development - From Idea to Prototype in 1:45 with Laravel</a></li>
    <li><a target="_blank" href="https://gistlog.co/simensen/1c68679682cbae35a840">Beau's preshow notes as a gistlog</a> (so meta)</li>
    <li><a target="_blank" href="https://twitter.com/iansltx">@iansltx</a></li>
    <li><a target="_blank" href="https://github.com/iansltx/BusinessDays">iansltx/BusinessDays</a></li>
    <li><a target="_blank" href="http://davedevelopment.co.uk/2014/11/03/designing-a-dsl-with-interfaces.html">Designing a DSL with interfaces</a></li>
    <li><a target="_blank" href="http://www.jmock.org/oopsla2006.pdf">Evolving an Embedded Domain-Specific Language in Java</a></li>
    <li><a target="_blank" href="http://eclim.org/">Eclim</a></li>
    <li><a target="_blank" href="https://twitter.com/coderabbi">@coderabbi</a></li>
    <li><a target="_blank" href="http://trellup.com/">trellup</a> by <a href="https://twitter.com/codebyjeff">@codebyjeff</a></li>
    <li><a target="_blank" href="http://googlewebmastercentral.blogspot.co.uk/2015/02/finding-more-mobile-friendly-search.html">Mobile Friendly Search Results</a></li>
    <li><a target="_blank" href="http://twitter.com/csswizardry">@csswizardry</a></li>
    <li><a target="_blank" href="http://csswizardry.com/2013/04/shame-css/">Shame.css</a></li>
    <li><a target="_blank" href="http://en.wikipedia.org/wiki/HTTP/2">HTTP/2</a></li>
    <li><a target="_blank" href="http://en.wikipedia.org/wiki/Slow-start">TCP Slow Start</a></li>
    <li><a target="_blank" href="https://www.wireshark.org/">Wireshark</a></li>
    <li><a target="_blank" href="http://www.charlesproxy.com/">Charles</a></li>
    <li><a target="_blank" href="chrome://flags">chrome://flags</a></li>
</ul>
{% endblock %}
{% block itunes_summary %}
Beau and Dave catch up on their latest happenings and talk about HTTP/2, what makes it different and how we understand it could change the way we do things.
{% endblock %}
