---
title: The one where the basket dropped
subtitle: Because if you want to make an omelette...
number: 18
date: Fri, 01 May 2015 04:37:53 -0500
guid: https://www.signalleaf.com/podcasts/That-Podcast/5543f1d8b111c003003efb59
embed_url: http://audio.simplecast.fm/15205.mp3
rss_url: http://audio.simplecast.fm/15205.mp3
download_url: http://audio.simplecast.fm/15205.mp3
duration: 1:50:05
file_size: 66140511
explicit: no
bg_image: /assets/css/eggs.jpg
image_credit:
    url: https://www.flickr.com/photos/s_v_p/5654348129
    description: Easter Basket
    by: Lynda Giddens

---

{% block content %}
<p>Beau and Dave talk about podcast news, Star Wars, Mail and todo apps,
putting all your eggs in one basket, AWS, PSR-7, splitting monolithic
repositories for composer, boring technologies and recent projects and
articles from the community.<p>

<ul>
    <li><a href="https://mypodcastreviews.com/" target="_blank">My Podcast Reviews</a></li>
    <li><a href="https://twitter.com/tinydroptest2" target="_blank">@tinydroptest2</a></li>

    <li><a href="https://twitter.com/ericlbarnes" target="_blank">@ericlbarnes</a></li>

    <li><a href="https://twitter.com/sixdaysad" target="_blank">@sixdaysad</a></li>
    <li><a href="https://twitter.com/brad_frost" target="_blank">@brad_frost</a></li>

    <li><a href="https://twitter.com/lukestokes" target="_blank">@lukestokes</a></li>

    <li><a href="http://en.wikipedia.org/wiki/Star_Wars_Rebels" target="_blank">Star Wars Rebels</a></li>
    <li><a href="http://originaltrilogy.com/forum/topic.cfm/Harmys-STAR-WARS-Despecialized-Edition-HD-V25-MKV-IS-OUT-NOW/topic/12713/" target="_blank">Star Wars - Despecialized Edition</a></li>
    <li><a href="https://plus.google.com/u/1/photos/109609428403596349302/albums/5932164278535972945?sort=1" target="_blank">Guide to Despecialised Edition changes</a></li>

    <li><a href="https://inbox.google.com" target="_blank">Inbox by Google</a></li>
    <li><a href="http://www.43folders.com/izero" target="_blank">Inbox Zero</a></li>

    <li><a href="http://www.mailboxapp.com/" target="_blank">Mailbox</a></li>

    <li><a href="https://keep.google.com" target="_blank">Google Keep</a></li>

    <li><a href="https://www.rememberthemilk.com/" target="_blank">Remember the Milk</a></li>

    <li><a href="https://twitter.com/@stephenmelrose" target="_blank">@stephenmelrose</a></li>


    <li><a href="https://twitter.com/coderabbi" target="_blank">@coderabbi</a></li>

    <li><a href="https://github.com/aws/aws-sdk-php" target="_blank">aws/aws-sdk-php</a></li>
    <li><a href="https://github.com/guzzle/guzzle" target="_blank">guzzle/guzzle</a></li>
    <li><a href="https://github.com/slimphp/Slim" target="_blank">slimphp/slim</a></li>
    <li><a href="https://github.com/auraphp/Aura.Router" target="_blank">auraphp/Aura.Router</a></li>

    <li><a href="https://groups.google.com/forum/#!topic/php-fig/0lwqRXm94Ik" target="_blank">[REVIEW] PSR-7 HTTP Message Interface</a></li>

    <li><a href="https://github.com/Letudiant/composer-shared-package-plugin" target="_blank">Letudiant/composer-shared-package-plugin</a></li>
    <li><a href="https://github.com/beberlei/fiddler" target="_blank">beberlei/fiddler</a></li>

    <li><a href="https://twitter.com/taylorotwell/status/588516080584302592" target="_blank">I will give $500 to anyone...</a></li>
    <li><a href="https://github.com/laravel/lumen" target="_blank">laravel/lumen</a></li>


    <li><a href="http://mcfunley.com/choose-boring-technology" target="_blank">Choose Boring Technology</a></li>

    <li><a href="https://mozilla.github.io/server-side-tls/ssl-config-generator/" target="_blank">Mozilla SSL Configuration Generator</a></li>

    <li><a href="https://twitter.com/wyrihaximus" target="_blank">@wyrihaximus</a></li>
    <li><a href="http://blog.wyrihaximus.net/2015/03/reactphp-shout-out/" target="_blank">ReactPHP - Shout out</a></li>
    <li><a href="http://blog.wyrihaximus.net/2015/04/reactphp-http/" target="_blank">ReactPHP - HTTP</a></li>

    <li><a href="http://contributor-covenant.org/" target="_blank">Contributor Convenant</a></li>

    <li><a href="http://blog.fortrabbit.com/php-heads" target="_blank">PHP Heads</a></li>

    <li><a href="https://twitter.com/CalEvans" target="_blank">@CalEvans</a></li>
    <li><a href="http://wisdomoftheelephpant.com/" target="_blank">Wisdom of the ElePHPant</a></li>

    <li><a href="https://twitter.com/adamculp" target="_blank">@adamculp</a></li>
    <li><a href="https://rungeekradio.com/" target="_blank">Run Geek Radio with Adam Culp</a></li>

    <li><a href="https://twitter.com/kayladnls" target="_blank">@kayladnls</a></li>
    <li><a href="http://helpmeabstract.com/" target="_blank">HelpMeAbstract</a></li>

    <li><a href="http://oss.ninjagrl.com/2015/04/14/scrutinizer/" target="_blank">#ossart - scrutinizer</a></li>

    <li><a href="https://twitter.com/markbadolato" target="_blank">@markbadolato</a></li>

    <li><a href="http://www.phpconference.nl/node#body" target="_blank">Dutch PHP Conference</a></li>

    <li><a href="https://github.com/naetech/nightrain" target="_blank">naetech/nightrain</a></li>

    <li><a href="https://github.com/padraic/phar-updater" target="_blank">padraic/phar-updater</a></li>

    <li><a href="https://order.hbonow.com/" target="_blank">HBO Now</a></li>

    <li><a href="http://www.amazon.com/Amazon-W87CUN-Fire-TV-Stick/dp/B00GDQ0RMG" target="_blank">Amazon Fire TV Stick</a></li>

    <!-- Did we mention these...? 
    <li><a href="https://twitter.com/developerjack" target="_blank">@developerjack</a></li>
    <li><a href="https://developerjack.com/blog/2015/03/31/in-search-of-simplicity-automating-my-blog/" target="_blank">In search of simplicity - a story of blog automation</a></li>

    <li><a href="https://twitter.com.com/harikt" target="_blank">@harikt</a></li>
    <li><a href="http://www.toptal.com/" target="_blank">Toptal</a></li>

    -->


</ul>

{% endblock %}
{% block itunes_summary %}
Beau and Dave talk about podcast news, Star Wars, Mail and todo apps, putting
all your eggs in one basket, AWS, PSR-7, splitting monolithic repositories for
composer, boring technologies and recent projects and articles from the
community.
{% endblock %}
