---
title: The one where we're in London again
subtitle: because it is symfony live London time again!
number: 22
date: Wed, 23 Sep 2015 20:04:00 +0000
guid: 04ddcd77-1a4a-4529-87b6-6a1b6297ea23
embed_url: http://audio.simplecast.fm/17578.mp3
rss_url: http://audio.simplecast.fm/17578.mp3
download_url: http://audio.simplecast.fm/17578.mp3
duration: 00:31:35
file_size: 23044542
explicit: no
bg_image: /assets/css/london-underground.jpg
image_credit:
    url: https://www.flickr.com/photos/_dchris/5347804742/
    description: London
    by: _dChris
---
{% block content %}

<p>Beau and Dave get together at Symfony Live London for a quick catch up and
chat with Matthias Noback. Sorry about audio quality, there's a bit of mic
handling and swapping going on as we're out on location!</p>


<ul>
    <li><a href="http://london2015.live.symfony.com/" target="_blank">Symfony Live London 2015</a></li>
    <li><a href="https://twitter.com/matthiasnoback" target="_blank">@matthiasnoback</a></li>
    <li><a href="http://hexagonal-symfony.eu/" target="_blank">Hexagonal Architecture Training</a></li>

    <li><a href="http://conference.phpnw.org.uk/phpnw15/" target="_blank">PHPNW 15</a></li>

    <li><a href="http://www.ibuildings.nl/" target="_blank">ibuildings</a></li>
    <li><a href="http://inviqa.com/about/inviqa-group/" target="_blank">Inviqa Group</a></li>

    <li><a href="http://www.amazon.co.uk/Return-Crimson-Guard-Malazan-Empire/dp/0553824473" target="_blank">Return of the Crimson Guard</a></li>
    <li><a href="https://en.wikipedia.org/wiki/Malazan_Book_of_the_Fallen" target="_blank">Malazan Book of the Fallen on Wikipedia</a></li>

    <li><a href="https://twitter.com/jenko" target="_blank">@jenko</a></li>
    <li><a href="https://www.boxuk.com/" target="_blank">Box UK</a></li>

    <li><a href="http://php-and-symfony.matthiasnoback.nl/" target="_blank">PHP & Symfony - Matthias Noback</a></li>
</ul>


{% endblock %}
{% block itunes_summary %}
Beau and Dave get together at Symfony Live London for a quick catch up and
chat with Matthias Noback. Sorry about audio quality, there's a bit of mic
handling and swapping going on as we're out on location!

{% endblock %}
