---
title: The one where we're in Manchester
subtitle: Beau and Dave get together again, this time at PHPNW 2015. We talk about testing, Laravel's awesome container, chatops and security and react, before touching on docker and otto.
number: 23
date: Tue, 13 Oct 2015 08:46:00 +0000
guid: 5480e519-0744-4853-b5df-5e445f3bf4fa
embed_url: http://audio.simplecast.fm/18408.mp3
rss_url: http://audio.simplecast.fm/18408.mp3
download_url: http://audio.simplecast.fm/18408.mp3
duration: 01:02:39
file_size: 37671291
explicit: no
bg_image: /assets/css/us.jpg
image_credit:
    url: https://twitter.com/railto/status/650386755523244032
    description: Us
    by: @railto

---
{% block content %}

<p>Beau and Dave get together again, this time at PHPNW 2015. We talk about testing, Laravel's awesome container, chatops and security and react, before touching on docker and otto.

A big thanks to all who came to talk with us and sorry to listeners for all the
clicks, pops, whistles and background noise!


</p>

<ul>

    <li><a href="http://conference.phpnw.org.uk/phpnw15/" target="_blank">PHPNW 2015</a></li>

    <li>People I can recall being around while we recorded:
        <ul>
            <li><a href="https://twitter.com/james_porter" target="_blank">@james_porter</a></li>
            <li><a href="https://twitter.com/davejjennings" target="_blank">@davejjennings</a></li>
            <li><a href="https://twitter.com/railto" target="_blank">@railto</a></li>
            <li><a href="https://twitter.com/michaelcullumuk" target="_blank">@michaelcullumuk</a></li>
            <li><a href="https://twitter.com/CiaranMcNulty" target="_blank">@CiaranMcNulty</a></li>
            <li><a href="https://twitter.com/benjamincremer" target="_blank">@benjamincremer</a></li>
            <li><a href="https://twitter.com/jnthnjffris" target="_blank">@jnthnjffris</a></li>
            <li><a href="https://twitter.com/ninjagrlstuff" target="_blank">@ninjagrlstuff</a></li>
            <li><a href="https://twitter.com/akrabat" target="_blank">@akrabat</a></li>
            <li><a href="https://twitter.com/braddle" target="_blank">@braddle</a></li>
            <li><a href="https://twitter.com/a6_chris" target="_blank">@a6_chris</a></li>
        </ul>
    </li>

    <li><a href="https://giscus.co/" target="_blank">giscus.co</a></li>
    <li><a href="https://speakerdeck.com/" target="_blank">Speakerdeck.com</a></li>
    <li><a href="http://speaking.io/" target="_blank">speaking.io</a></li>
    <li><a href="https://twitter.com/holman" target="_blank">@holman</a></li>

    <li><a href="https://gist.github.com/josevalim/470808" target="_blank">Use the same DB connection across threads in ruby</a></li>

    <li><a href="http://www.fullstackradio.com/" target="_blank">Full Stack Radio</a></li>
    <li><a href="https://twitter.com/adamwathan" target="_blank">@adamwathan</a></li>
    <li><a href="https://twitter.com/jeffrey_way" target="_blank">@jeffrey_way</a></li>

    <li><a href="https://twitter.com/grmpyprogrammer" target="_blank">@grmpyprogrammer</a></li>

    <li><a href="http://www.paircasts.com/" target="_blank">paircasts.com</a></li>

    <li><a href="https://github.com/igorw/doucheswag/" target="_blank">igorw/doucheswag</a></li>

    <li><a href="https://github.com/monii/monii-nimble-framework" target="_blank">monii/monii-nimble-framework</a></li>

    <li><a href="https://github.com/illuminate/container" target="_blank">illuminate/container</a></li>
    <li><a href="https://github.com/auraphp/Aura.Di" target="_blank">auraphp/Aura.DI</a></li>
    <li><a href="https://twitter.com/davedevelopment/status/418698857610891264" target="_blank">@davedevelopment paraphrases @natpryce</a></li>

    <li><a href="https://twitter.com/taylorotwell/status/557391379051991040" target="_blank">@taylorotwell on not using Eloquent</a></li>

    <li><a href="https://github.com/google/guice" target="_blank">google/guice</a></li>

    <li><a href="https://twitter.com/kellabyte/status/626833043353800704" target="_blank">@kellabyte on getting owned through slack</a></li>

    <li><a href="https://twitter.com/funkatron" target="_blank">@funkatron</a></li>

    <li><a href="https://github.com/uber/npm-shrinkwrap" target="_blank">uber/npm-shrinkwrap</a></li>

    <li><a href="https://twitter.com/justincarmony" target="_blank">@justincarmony</a></li>

    <li><a href="https://github.com/facebook/react-devtools" target="_blank">facebook/react-devtools</a></li>
    <li><a href="https://github.com/rackt/react-router" target="_blank">rackt/react-router</a></li>

    <li><a href="https://github.com/danielmewes/php-rql" target="_blank">danielmewes/php-rql</a></li>


    <li><a href="https://www.docker.com/docker-machine" target="_blank">Docker Machine</a></li>
    <li><a href="https://github.com/jwilder/nginx-proxy" target="_blank">jwilder/nginx-proxy</a></li>

    <li><a href="https://twitter.com/bitfalls" target="_blank">@bitfalls</a></li>

    <li><a href="https://hashicorp.com/blog/otto.html" target="_blank">Otto</a></li>

</ul>

{% endblock %}
{% block itunes_summary %}
Beau and Dave get together again, this time at PHPNW 2015. We talk about testing, Laravel's awesome container, chatops and security, react, before touching on docker and otto.

Sorry to the listeners for the clicks, pops, whistles and background noise.

{% endblock %}
