---
title: The first one where we follow-up on our goals for 2015
subtitle: Because we've made good on them so far...
number: 15
date: Thu, 05 Feb 2015 04:29:22 -0600
guid: https://www.signalleaf.com/podcasts/That-Podcast/54d3ec475c52c003003c9743
embed_url: http://audio.simplecast.fm/15202.mp3
rss_url: http://audio.simplecast.fm/15202.mp3
download_url: http://audio.simplecast.fm/15202.mp3
duration: 1:34:44
file_size: 56925997
explicit: no
bg_image: /assets/css/chains.jpg
image_credit:
    url: https://www.flickr.com/photos/intherough/3470183543
    description: Don't Chain Me Down
    by: Wendell

---
{% block content %}
<p>Beau and Dave discuss Beau's recent trip to PHP Benelux, That Podcast Merchandise, our progress with our newly formed habits for 2015, fitness, finances, writing, reading, Superbowl and family things.</p>

<ul>
    <li><a target="_blank" href="https://twitter.com/ctoffann">Cristian Toffanin (@ctoffann)</a></li>
    <li><a target="_blank" href="https://twitter.com/tinydroptest2">@tinydroptest2</a></li>
    <li><a target="_blank" href="https://twitter.com/willemjanz">Willem-Jan (@willemjanz)</a></li>
    <li><a target="_blank" href="https://twitter.com/coderabbi">@coderabbi</a></li>
    <li><a target="_blank" href="http://ddd.io/2015/01/26/review-of-the-unofficial-ddd-track-for-phpbenelux-2015/">Beau's "Review of the unofficial DDD track for PHPBenelux 2015"</a></li>
    <li><a target="_blank" href="https://igor.io/brands/phpbenelux.txt">@igorwhiletrue's email to PHP Benelux</a></li>
    <li><a target="_blank" href="http://srcmvn.com/blog/2015/02/05/super-fun-secret-speaker-dinners-at-conferences-can-also-be-super-stressful/">Beau's follow-up on his comments regarding Igor while recording Episode 15.</a></li>
    <li><a target="_blank" href="https://beau.io/talks/2015/01/23/decorating-applications-with-stack-phpbenelux-2015/">Beau's "Decorating Applications with Stack" talk from #phpbnl15</a></li>
    <li><a target="_blank" href="https://beau.io/talks/2015/01/24/say-what-ubiquitous-language-and-you-phpbenelux-2015/">Beau's "Say What? Ubiquitous Language and You!" talk from #phpbnl15</a></li>
    <li><a target="_blank" href="https://speakerdeck.com/stijnvnh/task-based-uis">Stijn's "Task Based UIs" talk from #phpbnl15</a></li>
    <li><a target="_blank" href="http://ninjagrl.com/shop/products/sculpin-swim-with-the-cool-kids/">Sculpin Poster</a></li>
    <li><a target="_blank" href="http://www.zazzle.com/thatpodcast">That Podcast Merchandising</a></li>
    <li><a target="_blank" href="http://davedevelopment.co.uk/2015/01/28/test-data-builders.html">Test Data Builders</a></li>
    <li><a target="_blank" href="http://srcmvn.com/blog/2015/01/29/so-that-happened/">So 2014 happened - Beau Simensen</a></li>
    <li><a target="_blank" href="https://plus.google.com/113250505599769873265/videos">DevBookClub</a></li>
    <li><a target="_blank" href="https://twitter.com/railto">@railto</a></li>
    <li><a target="_blank" href="http://serialpodcast.org/">Serial - Podcast</a></li>
    <li><a target="_blank" href="http://www.bbc.co.uk/programmes/b006qpgr">The Archers</a></li>
    <li><a target="_blank" href="https://www.youtube.com/watch?v=s7sLEWGOO6U">Dez Bryant Catch</a></li>
    <li><a target="_blank" href="https://leanpub.com/wewut?a=240G6_z5rAtB5wcgCycYSB">Working Effectively with Unit Tests</a></li>
    <li><a target="_blank" href="http://nathanbarry.com/authority/">Authority</a></li>
    <li><a target="_blank" href="http://www.openwall.com/lists/oss-security/2015/01/27/9">Qualys Security Advisory CVE-2015-0235 - GHOST: glibc gethostbyname buffer overflow</a></li>
    <li><a target="_blank" href="https://tek.phparch.com/schedule/">php[tek] 2015</a></li>
    <li><a target="_blank" href="https://www.kickstarter.com/projects/seattlephp/pacific-northwest-php-conference-pnwphp">Pacific Northwest PHP Conference (PNWPHP)</a></li>
    <li><a target="_blank" href="http://www.amazon.com/HTC-16-0MP-Waterproof-Digital-Camera/dp/B00NW3AMY6">HTC RE Waterproof Digital Camera</a></li>
</ul>
{% endblock %}
{% block itunes_summary %}
Beau and Dave discuss Beau's recent trip to PHP Benelux, That Podcast Merchandise, our progress with our newly formed habits for 2015, fitness, finances, writing, reading, Superbowl and family things.
{% endblock %}
