---
title: The one where The Force Awakens
subtitle: Because who doesn't like Star Wars...
number: 17
date: Tue, 14 Apr 2015 09:36:31 -0500
guid: https://www.signalleaf.com/podcasts/That-Podcast/552bde5cddc93203005716dd
embed_url: http://media.signalleaf.com/That-Podcast/552bde5cddc93203005716dd/embed/Episode-17-The-one-where-The-Force-Awakens-1.mp3
rss_url: http://media.signalleaf.com/That-Podcast/552bde5cddc93203005716dd/rss/Episode-17-The-one-where-The-Force-Awakens-1.mp3
download_url: http://media.signalleaf.com/That-Podcast/552bde5cddc93203005716dd/Episode-17-The-one-where-The-Force-Awakens-1.mp3
duration: 1:41:11
file_size: 60801360
explicit: no
bg_image: /assets/css/darth-luke.jpg
image_credit:
    url: https://instagram.com/p/0V-Uy4Eb_O/
    description: A little grocery help from Darth Vader...
    by: ninjagrl

---
{% block content %}
<p>Beau and Dave get through the usual roundup, before getting in to the Star
Wars universe. They talk the upcoming movie and the teaser trailer, Star Wars
Rebels, The Clone Wars, how their kids are liking Star Wars and Star Wars canon.
They then get back to the usual roundup.</p>

<ul>
    <li><a href="https://twitter.com/adamwathan" target="_blank">@adamwathan</a></li>
    <li><a href="http://www.reaper.fm/" target="_blank">Reaper DAW</a></li>
    <li><a href="https://www.apple.com/uk/logic-pro/" target="_blank">Logic Pro</a></li>
    <li><a href="http://wisdomworldtour.com/" target="_blank">Wisdom as a Service</a></li>
    <li><a href="https://twitter.com/coderabbi" target="_blank">@coderabbi</a></li>

    <li><a href="http://www.catehuston.com/blog/2015/03/23/the-year-of-being-visible/" target="_blank">The year of being visible</a></li>
    
    <li><a href="http://en.wikipedia.org/wiki/Paresthesia" target="_blank">Pins and Needles</a></li>

    <li><a href="http://palantir.net/" target="_blank">Palantir.net</a></li>

    <li><a href="http://2015.midcamp.org/" target="_blank">Midcamp 2015</a></li>
    <li><a href="http://srcmvn.com/blog/2015/03/23/midcamp-2015/" target="_blank">Beau's MidCamp write up</a></li>

    <li><a href="http://2015.midwestphp.org/" target="_blank">MidwestPHP 2015</a></li>
    <li><a href="http://srcmvn.com/blog/2015/03/20/midwest-php-2015-recap/" target="_blank">Beau's Midwest write up</a></li>
    <li><a href="https://twitter.com/eryno" target="_blank">@eryno</a></li>
    <li><a href="http://www.slideshare.net/eryno/programmers-can-ux-too-minnewebcon-2014" target="_blank">Programmers Can UX Too</a> (slides)</li>
    <li><a href="http://blog.newrelic.com/2014/09/19/futuretalk-erin-oneil/" target="_blank">Programmers Can UX Too</a> (FutureTalk video from new relic)</li>

    <li><a href="https://twitter.com/fredricmitchell" target="_blank">Fredric Mitchell</a></li>
    <li><a href="http://styletil.es/" target="_blank">Style Tiles</a></li>
    <li><a href="http://patternlab.io/" target="_blank">Pattern Lab</a></li>

    <li><a href="http://tek.phparch.com/" target="_blank">php[tek] 2015</a></li>
    <li><a href="http://www.phpconference.nl/" target="_blank">Dutch PHP Conference</a></li>
    <li><a href="http://conference.phpnw.org.uk/phpnw15/" target="_blank">PHPNW 2015</a></li>
    <li><a href="http://london2015.live.symfony.com/" target="_blank">SymfonyLive London 2015</a></li>

    <li><a href="http://www.disneylandparis.co.uk/" target="_blank">Disneyland Paris</a></li>
    <li><a href="http://www.starwars.com/tv-shows/star-wars-rebels" target="_blank">Star Wars Rebels</a></li>

    <li><a href="http://www.nickjr.co.uk/shows/paw-patrol/" target="_blank">Paw Patrol</a></li>

    <li><a href="http://www.theoctonauts.com/" target="_blank">The Octonauts</a></li>

    <li><a href="https://www.youtube.com/watch?v=OMOVFvcNfvE" target="_blank">Star Wars: The Force Awakens Teaser Trailer</a></li>

    <li><a href="http://www.tested.com/art/movies/487146-force-awakens-teaser-12302014/" target="_blank">Still Untitled: The Force Awakens Teaser </a></li>

    <li><a href="http://www.nomachetejuggling.com/2011/11/11/the-star-wars-saga-suggested-viewing-order/" target="_blank">The Star Wars Saga: Introducing Machete Order</a></li>

    <li><a href="http://en.wikipedia.org/wiki/Star_Wars_canon" target="_blank">Star Wars canon</a></li>

    <li><a href="http://en.wikipedia.org/wiki/Samurai_Jack" target="_blank">Samurai Jack</a></li>
    <li><a href="http://en.wikipedia.org/wiki/Star_Wars:_Clone_Wars_(2003_TV_series)" target="_blank">Star Wars: Clone Wars (2003 TV series)</a></li>

    <li><a href="http://www.starwars.com/news/the-legendary-star-wars-expanded-universe-turns-a-new-page">Disney/Star Wars canon</a></li>

    <li><a href="http://www.imdb.com/title/tt0367882/">Indiana Jones and the Kingdom of the Crystal Skull</a></li>
    <li><a href="http://www.imdb.com/title/tt1060277/">Cloverfield</a></li>

    <li><a href="https://twitter.com/dragonmantank" target="_blank">@dragonmantank</a></li>

    <li><a href="http://oss.ninjagrl.com/2015/03/30/fig/" target="_blank">fig - #ossart</a></li>

    <li><a href="https://jenkins-ci.org/" target="_blank">Jenkins</a></li>


    <li><a href="https://github.com/michelsalib/BCCResqueBundle" target="_blank">bcc/resque-bundle</a></li>

    <li><a href="https://github.com/rjkip/SculpinRstBundle" target="_blank">rjkip/sculpin-rst-bundle</a></li>
    
    <li><a href="http://shoalhosting.com/" target="_blank">Shoal Hosting - Host with Friends</a></li>

    <li><a href="https://github.com/johnkary/phpunit-speedtrap" target="_blank">johnkary/phpunit-speedtrap</a></li>
    <li><a href="https://github.com/lstrojny/phpunit-clever-and-smart" target="_blank">lstrojny/phpunit-clever-and-smart</a></li>


    <li><a href="https://interact.innovateuk.org/competition-display-page/-/asset_publisher/RqEt2AKmEBhi/content/childcare-provision-for-parents" target="_blank">Childcare Provision for Parents</a></li>

</ul>

<p>This episode was definitely
not distributed by 20th Century Fox.</p>

{% endblock %}
{% block itunes_summary %}
Beau and Dave get through the usual roundup, before getting in to the Star Wars universe. They talk the upcoming movie and the teaser trailer, Star Wars Rebels, The Clone Wars, how their kids are liking Star Wars and Star Wars canon. They then get back to the usual roundup. This episode was definitely not distributed by 20th Century Fox.
{% endblock %}
