---
title: The one with all the screen time
subtitle: Because you gotta start 'em early
number: 21
date: Mon, 04 Aug 2015 09:39:00 -0500
guid: https://www.signalleaf.com/podcasts/That-Podcast/55bfe01315405a030032d8cd
embed_url: http://media.signalleaf.com/That-Podcast/55bfe01315405a030032d8cd/embed/Episode-21-The-one-with-all-the-screen-time.mp3
rss_url: http://media.signalleaf.com/That-Podcast/55bfe01315405a030032d8cd/rss/Episode-21-The-one-with-all-the-screen-time.mp3
download_url: http://media.signalleaf.com/That-Podcast/55bfe01315405a030032d8cd/Episode-21-The-one-with-all-the-screen-time.mp3
duration: 1:31:30
file_size: 54989374
explicit: no
bg_image: /assets/css/screens.jpg
image_credit:
    url: https://www.flickr.com/photos/jemimus/5378288606
    description: IMG_4674
    by: Robert

---
{% block content %}

<p>
Beau and Dave change gears and get to some family talk, discussing managing kids
with devices and screen time, football/soccer, dance and swimming activities,
Beau announces his new position with Monii.com, then the guys get back in their
comfort zone and talk briefly about continuous integration services, docker and
CQRS.
</p>

<ul>
    <li><a href="https://twitter.com/jcarouth" target="_blank">@jcarouth</a></li>
    <li><a href="https://twitter.com/cedricziel/status/610336798661865472" target="_blank">@cedricziel</a></li>
    <li><a href="https://twitter.com/joshlarosee/status/612114747689795584" target="_blank">@joshlarosee</a></li>
    <li><a href="https://twitter.com/mbrevda/status/619526076939677696" target="_blank">@mbrevda</a></li>
    <li><a href="https://twitter.com/rosslarsonWI/status/609370590466715648" target="_blank">@rosslarsonWI</a></li>
    <li><a href="https://voicesoftheelephpant.com/2015/07/07/its-the-booze-talking-podcasts/" target="_blank">Voices of the Elephpant: It's the booze talking: Podcasters on Podcasting</a></li>
    <li><a href="https://twitter.com/jenko/status/616162851993075713" target="_blank">@jenko</a></li>

    <li><a href="https://twitter.com/leedavis81/status/614871089701896192" target="_blank">@leedavis81</a></li>
    <li><a href="http://www.amazon.co.uk/Tiddler-Julia-Donaldson/dp/140710621X" target="_blank">Tiddler by Julia Donaldson</a></li>
    <li><a href="http://www.amazon.co.uk/The-Gruffalo-Julia-Donaldson-x/dp/0333710932/ref=pd_sim_14_16?ie=UTF8&refRID=1PFFW1D0BD5SX3W2D2FN" target="_blank">The Gruffalo by Julia Donaldson</a></li>

    <li><a href="http://london2015.live.symfony.com/" target="_blank">Symfony Live London</a></li>
    <li><a href="http://conference.phpnw.org.uk/phpnw15/" target="_blank">PHPNW 2015</a></li>
    <li><a href="https://twitter.com/3devsandamaybe" target="_blank">@3devsandamaybe</a></li>

    <li><a href="http://www.leapfrog.com/en-gb/products/tablet-family.highResolutionDisplay.highResolutionDisplay" target="_blank">Leapfrog Tablets</a></li>

    <li><a href="http://www.starbucks.co.uk/promo/pick-of-the-week" target="_blank">Starbucks pick of the week</a></li>

    <li><a href="https://play.google.com/store/apps/details?id=com.domobile.applock&hl=en_GB" target="_blank">AppLock for Android</a></li>

    <li><a href="https://www.youtube.com/watch?v=_MC3XuMvsDI" target="_blank">Inside Out Trailer</a></li>
    <li><a href="https://www.youtube.com/watch?v=GV_N0P6t22I" target="_blank">Battlefront 3 Gameplay</a></li>

    <li><a href="http://wewanttoknow.com/algebra/" target="_blank">Dragonbox</a></li>
    <li><a href="http://techzinglive.com/page/1096/192-tz-discussion-trillions-and-trillions-of-stars" target="_blank">Techzing 192 - Where Dave first heard about Dragonbox</a></li>

    <li><a href="http://minikicks.org/" target="_blank">MiniKicks</a></li>

    <li><a href="http://monii.com/" target="_blank">Monii.com</a></li>

    <li><a href="http://phpsw.uk/" target="_blank">PHPSW</a></li>
    <li><a href="http://www.phpugffm.de/" target="_blank">Frankfurt PHP Usergroup</a></li>

    <li><a href="https://travis-ci.com/" target="_blank">Travis CI</a></li>
    <li><a href="https://circleci.com/" target="_blank">CircleCI</a></li>
    <li><a href="https://app.shippable.com/" target="_blank">Shippable</a></li>

    <li><a href="http://blog.circleci.com/its-the-future/" target="_blank">It's the Future</a></li>
    <li><a href="http://blog.circleci.com/it-really-is-the-future/" target="_blank">It really is the future</a></li>

    <li><a href="https://docs.docker.com/compose/" target="_blank">Docker Compose</a></li>

    <li><a href="http://lokad.github.io/lokad-cqrs/" target="_blank">Lokad CQRS</a></li>
    <li><a href="https://abdullin.com/lokad-cqrs-retrospective/" target="_blank">Lokad CQRS Retrospective</a></li>

    <li><a href="https://play.google.com/store/apps/details?id=com.google.android.apps.cavalry&hl=en_GB" target="_blank">Google Device Assist</a></li>
    <li><a href="https://developers.google.com/android/nexus/images?hl=en" target="_blank">Factory Images for Nexus Devices</a></li>

    <li><a href="http://www.starwars.com/games-apps/star-wars-card-trader" target="_blank">Star Wars Card Trader</a></li>
    <li><a href="https://www.eveonline.com/" target="_blank">EVE Online</a></li>
</ul>
{% endblock %}
{% block itunes_summary %}

Beau and Dave change gears and get to some family talk, discussing managing kids
with devices and screen time, football/soccer, dance and swimming activities,
Beau announces his new position with Monii.com, then the guys get back in their
comfort zone and talk briefly about continuous integration services, docker and
CQRS.
{% endblock %}
