---
title: The one with some accountability
subtitle: Because you can only make lifestyle changes in January
number: 14
date: Wed, 21 Jan 2015 09:29:00 +0000
guid: https://www.signalleaf.com/podcasts/That-Podcast/54c01a64368d58030014532b
embed_url: http://media.signalleaf.com/That-Podcast/54c01a64368d58030014532b/embed/Episode-14-The-one-with-some-accountability.mp3
rss_url: http://media.signalleaf.com/That-Podcast/54c01a64368d58030014532b/rss/Episode-14-The-one-with-some-accountability.mp3
download_url: http://media.signalleaf.com/That-Podcast/54c01a64368d58030014532b/Episode-14-The-one-with-some-accountability.mp3
duration: 1:45:54
file_size: 127165583
explicit: no
bg_image: /assets/css/ossart.jpg
image_credit:
    url: http://oss.ninjagrl.com/
    description: #ossart
    by: ninjagrl

---
{% block content %}

<p>Beau and Dave welcome in the new year with discussions on their plans for
2015, including health and fitness, martial arts, managing finances, building
reputation, the sculpin community, Beau and Rebekah's new #ossart project and
various other things. </p>

<ul>

<li><a href="https://twitter.com/hashtag/ThinTheHerd15?src=hash">#ThinTheHerd15</a></li>
<li><a href="http://en.wikipedia.org/wiki/Coriander">Cilantro (Coriander)</a></li>
<li><a href="http://www.schwarzenegger.com/fitness/post/your-body-is-all-you-need-the-worlds-oldest-training-method-and-a-1-workout">Your body is all you need</a></li>
<li><a href="http://www.habitbull.com/">HabitBull</a></li>
<li><a href="http://en.wikipedia.org/wiki/The_Ultimate_Fighter">The Ultimate Fighter</a></li>
<li><a href="http://www.marshall5.karoo.net/index.htm">Haltemprice Ju-Jitsu Club (old site Dave made)</a></li>
<li><a href="https://www.youtube.com/watch?v=Ns6YSvCsVJM">Trying to be the best at exercising</a></li>
<li><a href="http://www.wikihow.com/Do-Envelope-Budgeting">Envelope Budgeting</a></li>
<li><a href="http://www.amazon.com/The-Total-Money-Makeover-Financial/dp/159555078X">Total Money Makeover - Dave Ramsey</a></li>
<li><a href="http://mint.com">Mint.com</a></li>
<li><a href="http://moneydashboard.com">Money Dashboard</a></li>

<li><a href="http://rachelandrew.co.uk/archives/2014/10/13/the-horrible-implications-of-the-eu-vat-place-of-supply-change/">The horrible implications of the EU VAT "Place of Supply" change</a></li>

<li><a href="http://ddd.io">ddd.io</a></li>

<li><a href="https://plus.google.com/events/cu3t5r3ocofn4o66apca0bk802g">#NoCapes with Beau Simensen</a></li>

<li><a href="http://oss.ninjagrl.com">#ossart</a></li>

<li><a href="http://contributor-covenant.org/">Contributor Convenant</a></li>
<li><a href="http://communitycodeofconduct.com/">Community Code of Conduct</a></li>

<li><a href="http://mattstauffer.co/blog/scheduling-posts-with-sculpin?utm_source=twitter&utm_medium=social&utm_campaign=tweetPosts">Scheduling posts with sculpin</a></li>
<li><a href="http://twitter.com/dshafik">@dshafik</a></li>
<li><a href="https://securepasswords.info/">Secure Passwords</a></li>
<li><a href="http://twitter.com/@shrtwhitebldguy">@shrtwhitebldguy</a></li>
<li><a href="http://selphpie.us/">Selphpie</a></li>
<li><a href="http://kaleemclarkson.com/">KaleemClarkson.com</a></li>
<li><a href="https://twitter.com/kayladnls">@kayladnls</a></li>
<li><a href="http://kayladnls.com/">KaylaDnls.com</a></li>

<li><a href="http://www.pomm-project.org/">Pomm - Postgress Object Model Manager for PHP</a></li>

<li><a href="http://grillo.bandcamp.com/album/every-day-vol-1">Grillo - Every Day vol 1</a></li>

<li><a href="https://cipherli.st/">Strong Ciphers for Apache, nginx and Lighttpd - Cipherli.st</a></li>
<li><a href="https://www.ssllabs.com/ssltest/analyze.html?d=beau.io">SSL Analyser</a></li>

</ul>
{% endblock %}
{% block itunes_summary %}
Beau and Dave welcome in the new year with discussions on their plans for 2015, including health and fitness, martial arts, managing finances, building reputation, the sculpin community, Beau and Rebekah's new #ossart project and various other things. &nbsp; &nbsp;
{% endblock %}
