---
title: The one where we don't really prefer this over that
subtitle: because who has time for reading every article
number: 20
date: Fri, 26 Jun 2015 10:32:00 +0100
guid: https://www.signalleaf.com/podcasts/That-Podcast/55887f015cf92b0300e19858
embed_url: http://audio.simplecast.fm/15207.mp3
rss_url: http://audio.simplecast.fm/15207.mp3
download_url: http://audio.simplecast.fm/15207.mp3
duration: 1:38:04
file_size: 58930469
explicit: no
bg_image: /assets/css/fence.jpg
image_credit:
    url: https://www.flickr.com/photos/24557420@N05/9269667375/
    description: On the fence
    by: "*Psycho Delia*"
---
{% block content %}
<p>Beau and Dave get in to PSR-7 and how we might be doing middlewares, framework or no framework, container PSR or not and a whole bunch of other stuff as usual.</p>

<ul>
    <li><a href="https://twitter.com/t_trider" target="_blank">@t_trider</a> - Helped clean up the audio for Episode 19</li>
    <li><a href="https://www.upwork.com/" target="_blank">Upwork</a></li>

    <li><a href="https://twitter.com/thatpodcast/status/609016061556613120" target="_blank">Embeddded player on twitter</a></li>
    <li><a href="https://www.signalleaf.com/" target="_blank">SignalLeaf.com</a></li>
    <li><a href="https://twitter.com/derickbailey" target="_blank">Derick Bailey</a></li>

    <li><a href="https://rogueamoeba.com/freebies/soundflower/" target="_blank">Soundflower</a></li>
    <li><a href="http://mac.softpedia.com/get/Internet-Utilities/LadioCast.shtml" target="_blank">Ladiocast</a></li>

    <li><a href="https://overcast.fm/itunes881491539/that-podcast-with-beau-and-dave" target="_blank">That Podcast on Overcast</a></li>

    <li><a href="https://gun.io" target="_blank">Gun.io</a></li>

    <li><a href="https://gist.github.com/mathiasverraes/9046427" target="_blank">Test Framework in a Tweet</a></li>
    <li><a href="http://php.net/manual/en/function.assert.php" target="_blank">assert</a></li>

    <li><a href="https://www.codementor.io/simensen" target="_blank">Beau on Codementor.io</a></li>

    <li><a href="https://www.websequencediagrams.com/" target="_blank">www.websequencediagrams.com</a></li>
    <li><a href="https://twitter.com/jeremeamia" target="_blank">@jeremeamia</a></li>

    <li><a href="http://yuml.me/" target="_blank">Yuml.me</a></li>
    <li><a href="https://twitter.com/AmyStephen" target="_blank">@AmyStephen</a></li>

    <li><a href="http://www.navicat.com/products/navicat-data-modeler" target="_blank">Navicat Data Modeler</a></li>
    <li><a href="https://www.mysql.com/products/workbench/" target="_blank">MySQL Workbench</a></li>

    <li><a href="https://twitter.com/brianfenton" target="_blank">@brianfenton</a></li>

    <li><a href="https://twitter.com/andrewshell" target="_blank">@andrewshell</a></li>
    <li><a href="http://unixtime.geekity.com/" target="_blank">Unixtime</a></li>

    <li><a href="https://blackfire.io/" target="_blank">blackfire.io</a></li>

    <li><a href="https://github.com/phacility/xhprof" target="_blank">xhprof</a></li>
    <li><a href="https://tideways.io/" target="_blank">tideways.io</a></li>

    <li><a href="http://monii.com/" target="_blank">monii.com</a></li>

    <li><a href="https://twitter.com/mxcl/status/608682016205344768" target="_blank">@mxcl</a></li>
    <li><a href="http://brew.sh/" target="_blank">Homebrew</a></li>

    <li><a href="http://www.toptal.com/" target="_blank">Toptal.com</a></li>

    <li><a href="https://twitter.com/erikaheidi" target="_blank">@erikaheidi</a></li>
    <li><a href="http://mcfunley.com/choose-boring-technology" target="_blank">Choose boring Technology</a></li>

    <li><a href="http://eev.ee/blog/2015/06/09/i-quit-the-tech-industry/" target="_blank">I quit the tech industry</a></li>

    <li><a href="http://burnout.io/" target="_blank">burnout.io</a></li>

    <li><a href="https://twitter.com/testobsessed/status/595949729898319873" target="_blank">@testobsessed</a></li>
    <li><a href="http://testobsessed.com/2015/05/i-prefer-this-over-that/" target="_blank">I prefer this over that</a></li>

    <li><a href="https://twitter.com/mdwheele" target="_blank">@mdwheele</a></li>
    <li><a href="http://zalgo.us/" target="_blank">zalgo.us</a></li>

    <li><a href="http://symfony.com/blog/psr-7-support-in-symfony-is-here" target="_blank">PSR-7 Support in Symfony is Here</a></li>

    <li><a href="https://twitter.com/mtdowling/status/608796573976256512" target="_blank">@mtdowling</a></li>
    <li><a href="https://github.com/senchalabs/connect" target="_blank">senchalabs/connect</a></li>
    <li><a href="https://github.com/zendframework/zend-stratigility" target="_blank">zend/stratigility</a></li>

    <li><a href="https://github.com/dflydev/dflydev-fig-cookies" target="_blank">dflydev/fig-cookies</a></li>

    <li><a href="https://groups.google.com/forum/#!topic/php-fig/xC1CCjtyVnw" target="_blank">Proposal for a Container PSR</a></li>
    <li><a href="https://twitter.com/david_negrier" target="_blank">@david_negrier</a></li>

    <li><a href="https://twitter.com/grmpyprogrammer/status/608273794730491904" target="_blank">@grmpypgroammer</a></li>
    <li><a href="https://github.com/opencfp/opencfp" target="_blank">opencfp/opencfp</a></li>

    <li><a href="https://ninjagrl.com/shop" target="_blank">shop - ninjagrl.com</a></li>
    <li><a href="http://www.foxycart.com/" target="_blank">foxycart</a></li>

</ul>
{% endblock %}
{% block itunes_summary %}
<p>Beau and Dave get in to PSR-7 and how we might be doing middlewares, framework or no framework, container PSR or not and a whole bunch of other stuff as usual.</p>
{% endblock %}
