---
title: The last one... with a Friends themed title
subtitle: Because Dave gets frustrated trying to think them up
number: 24
date: Thu, 29 Oct 2015 08:21:00 +0000
guid: b40d9266-af8d-411f-8e5d-7ec279b38ff2
embed_url: http://audio.simplecast.fm/19354.mp3
rss_url: http://audio.simplecast.fm/19354.mp3
download_url: http://audio.simplecast.fm/19354.mp3
duration: 00:55:06
file_size: 33139390
explicit: no
bg_image: /assets/css/going-home.jpg
image_credit:
    url: https://www.flickr.com/photos/stevecorey/16519362709
    description: Grace in the Sky
    by: Steve Corey

---
{% block content %}

<p>
Beau and Dave talk about work, automating deployments and ops, running an (R)ELK
stack on AWS, Reactiflux getting kicked off Slack, Dave's work being awarded
some government funding, Phil Sturgeon, Symfony autowiring and the 3.0 release,
Zend Expressive, Adobe Creative Suite on case-sensitive filesystems and You Can't
Teach a Kid to Ride a Bike at a Seminar.
</p>

<ul>
    <li>~00:03:00 - <a href="https://twitter.com/glenathan" target="_blank">@glenathan</a></li>
    <li>~00:06:00 - <a href="https://en.wikipedia.org/wiki/Specification_pattern" target="_blank">Specification Pattern</a></li>
    <li>~00:14:00 - <a href="https://www.elastic.co/products" target="_blank">ELK</a></li>
    <li>~00:16:00 - <a href="https://github.com/Seldaek/monolog/blob/master/src/Monolog/Handler/FingersCrossedHandler.php" target="_blank">Monolog\Handler\FingersCrossedHandler</a></li>
    <li>~00:23:00 - <a href="https://aws.amazon.com/elasticsearch-service/" target="_blank">AWS Elastic Search</a></li>
    <li>~00:25:00 - <a href="https://www.expeditedssl.com/aws-in-plain-english" target="_blank">AWS in Plain English</a></li>
    <li>~00:26:00 - <a href="https://facebook.github.io/react/blog/2015/10/19/reactiflux-is-moving-to-discord.html" target="_blank">Reactiflux is moving to Discord</a></li>
    <li>~00:28:00 - <a href="https://www.gov.uk/government/news/help-for-parents-to-navigate-childcare-options-online" target="_blank">Help for parents to navigate childcare options online</a></li>
    <li>~00:29:00 - <a href="https://twitter.com/dr4goonis" target="_blank">@dr4goonis</a></li>
    <li>~00:29:00 - <a href="https://twitter.com/jauger" target="_blank">@jauger</a></li>
    <li>~00:31:00 - <a href="https://twitter.com/jenko/status/657100263526965248" target="_blank">PSR-0 on twitter again</a></li>
    <li>~00:31:00 - <a href="https://twitter.com/philsturgeon" target="_blank">@philsturgeon</a></li>
    <li>~00:33:00 - <a href="https://dunglas.fr/2015/10/new-in-symfony-2-83-0-services-autowiring/" target="_blank">New in Symfony 2.8/3.0: services autowiring</a></li>
    <li>~00:36:00 - <a href="https://twitter.com/hhamon/status/654561688117751808" target="_blank">Symfony 3.0 will be 2.8 without BC layer</a></li>
    <li>~00:39:00 - <a href="http://framework.zend.com/blog/announcing-expressive.html" target="_blank">Zend Expressive</a></li>
    <li>~00:42:00 - <a href="https://www.phparch.com/2015/06/announcing-phpcruise-save-the-date/" target="_blank">php[cruise]</a></li>
    <li>~00:45:00 - <a href="https://helpx.adobe.com/creative-suite/kb/error-case-sensitive-drives-supported.html" target="_blank">Error "Case-sensitive drives not supported" or similar install error | Mac OS</a></li>
    <li>~00:47:00 - <a href="http://www.amazon.com/gp/product/0071847820/" target="_blank">You Can't Teach a Kid to Ride a Bike at a Seminar</a></li>
    <li>~00:52:00 - <a href="https://github.com/paircasts/decomposer" target="_blank">paircasts/decomposer</a></li>
</ul>

{% endblock %}
{% block itunes_summary %}
Beau and Dave talk about work, automating deployments and ops, running an (R)ELK
stack on AWS, Reactiflux getting kicked off Slack, Dave's work being awarded
some government funding, Phil Sturgeon, Symfony autowiring and the 3.0 release,
Zend Expressive, Adobe Creative Suite on case-sensitive filesystems and You Can't
Teach a Kid to Ride a Bike at a Seminar.
{% endblock %}
