---
title: ...
subtitle: Stuff
number: 30
date: Mon, 18 Apr 2016 21:03:00 +0000
guid: 88174076-1124-4758-a076-21b7df7c4614
embed_url: http://audio.simplecast.com/35702.mp3
rss_url: http://audio.simplecast.com/35702.mp3
download_url: http://audio.simplecast.com/35702.mp3
duration: 00:38:02
file_size: 22900658
explicit: no
bg_image: /assets/css/allsorts.jpg
image_credit:
    url: https://www.flickr.com/photos/76886703@N00/5456774058
    description: Liquorice Allsorts
    by: evil_mel

---
{% block content %}
<p>Beau and Dave talk about Beau's recent trip to Cornwall, some family stuff like schools, Linux binaries on windows, parallelshell woes, cloud formation woes and FounderDating.com.</p>

<ul>
    <li><a href="https://en.wikipedia.org/wiki/Cornwall" target="_blank">Cornwall</a></li>
    <li><a href="https://www.youtube.com/watch?v=gJLIiF15wjQ" target="_blank">Spice Girls - Wannabe</a></li>
    <li><a href="https://www.youtube.com/watch?v=Eo-KmOd3i7s" target="_blank">N Sync - Bye Bye Bye</a></li>
    <li><a href="https://en.wikipedia.org/wiki/Mevagissey" target="_blank">Mevagissey</a></li>
    <li><a href="https://www.gov.uk/school-attendance-absence/legal-action-to-enforce-school-attendance" target="_blank">Legal action to enforce school attendance</a></li>
    <li><a href="https://en.wikipedia.org/wiki/House_system" target="_blank">House System</a></li>
    <li><a href="http://www.hanselman.com/blog/DevelopersCanRunBashShellAndUsermodeUbuntuLinuxBinariesOnWindows10.aspx" target="_blank">Developers can run Bash Shell and user-mode Ubuntu Linux binaries on Windows 10</a></li>
    <li><a href="https://www.helpspot.com/vault" target="_blank">HelpSpot Vault</a></li>
    <li><a href="https://keybase.io/triplesec/" target="_blank">TripleSec</a></li>
    <li><a href="https://keybase.io/" target="_blank">Keybase</a></li>

    <li><a href="https://github.com/keithamus/parallelshell" target="_blank">keithamus/parallelshell</a></li>
    <li><a href="https://twitter.com/silentworks" target="_blank">@silentworks</a></li>

    <li><a href="https://github.com/guardian/cf-notify" target="_blank">guardian/cf-notify</a></li>
    
    <li><a href="http://www.helpareporter.com/" target="_blank">HARO - Help A Reporter Out</a></li>

    <li><a href="http://founderdating.com/" target="_blank">FounderDating.com</a></li>
</ul>
{% endblock %}
{% block itunes_summary %}
Beau and Dave talk about Beau's recent trip to Cornwall, some family stuff like schools, Linux binaries on windows, parallelshell woes, cloud formation woes and FounderDating.com

{% endblock %}
