---
title: Show me the Monii
subtitle: I love That Podcast!
number: 26
date: Wed, 09 Mar 2016 09:53:00 +0000
guid: 293bc96d-4c27-41c5-af5b-e9093026c5d0
embed_url: http://audio.simplecast.com/28615.mp3
rss_url: http://audio.simplecast.com/28615.mp3
download_url: http://audio.simplecast.com/28615.mp3
duration: 00:41:15
file_size: 36368997
explicit: no
bg_image: /assets/css/monii-team.jpg
image_credit:
    url: http://monii.com
    description: Monii Staff
    by: Monii Staff

---
{% block content %}

<p>Beau and Dave start a series of episodes discussing Beau's new startup,
<a href="http://monii.com">Monii</a>. We talk briefly about the features and scope of their first product,
including how he can really see how it would have helped him while he was
self-employed.</p>

<p>We then take a dive in to some of the tech stack, with Beau telling us all
about the front-end, including the frameworks, libraries and build tools.</p>

<ul>
    <li><a href="http://monii.com" target="_blank">Monii.com</a></li> 

    <li><a href="https://facebook.github.io/react/" target="_blank">React</a></li>

    <li><a href="https://github.com/reactjs/redux" target="_blank">redux</a></li>

    <li><a href="http://jsonapi.org/" target="_blank">JSON API</a></li>


    <li><a href="https://dojotoolkit.org/" target="_blank">Dojo Toolkit</a></li>

    <li><a href="https://github.com/lukehoban/es6features" target="_blank">ES6</a></li>

    <li><a href="http://www.material-ui.com/" target="_blank">Material-UI</a></li>
    <li><a href="https://www.npmjs.com/" target="_blank">npm</a></li>
    <li><a href="https://babeljs.io/" target="_blank">Babel</a></li>
    <li><a href="https://webpack.github.io/" target="_blank">Webpack</a></li>
</ul>
{% endblock %}
{% block itunes_summary %}
Beau and Dave start a series of episodes discussing Beau's new startup, Monii. We talk briefly about the features and scope of their first product, before diving in to the details of the front-end tech stack.

{% endblock %}
