---
title: Revival
subtitle: Beau and Dave are back
number: 32
date: Fri, 14 Oct 2016 08:47:00 +0000
guid: 89c84187-5016-43b9-8889-fe514f0aaf55
embed_url: http://audio.simplecast.com/49785.mp3
rss_url: http://audio.simplecast.com/49785.mp3
download_url: http://audio.simplecast.com/49785.mp3
duration: 01:13:22
file_size: 44096706
explicit: no
bg_image: /assets/css/london-keynote-2016.jpg
image_credit:
    url: https://twitter.com/symfony_live/status/776702556634542080
    description: "Symfony Live! London 2016 keynote"
    by: @symfony_live

---
{% block content %}

<p>Beau and Dave are back. Beau is back in the states. Dave has nothing
interesting to report. We talk a little about what we've been up to and touch on
getting started doing conference talks.</p>

<ul>
    <li><a href="https://twitter.com/tillkruss" target="_blank">@tillkruss</a></li>
    <li><a href="http://nanowrimo.org/" target="_blank">Nanowrimo</a></li>
    <li><a href="https://twitter.com/reinink" target="_blank">@reinink</a></li>
    <li><a href="https://twitter.com/Ocramius" target="_blank">@Ocramius</a></li>
    <li><a href="http://srcmvn.com/blog/2016/09/20/symfony-live-london-2016" target="_blank">Beau's Symfony Live Londo 2016 recap</a></li>
    <li><a href="http://blog.sensiolabs.com/2016/09/20/sensiolabs-sets-up-house-in-the-usa/" target="_blank">SensioLabs sets up house in the USA</a></li>
    <li><a href="https://blackfire.io/" target="_blank">Blackfire</a></li>
    <li><a href="https://twitter.com/beberlei" target="_blank">@beberlei</a></li>
    <li><a href="https://tideways.io/" target="_blank">tideways.io</a></li>
    <li><a href="https://twitter.com/wycats" target="_blank">@wycats</a></li>
    <li><a href="https://www.skylight.io/" target="_blank">Skylight.io</a></li>
    <li><a href="https://twitter.com/fabpot" target="_blank">@fabpot</a></li>
    <li><a href="https://beau.io/talks/2013/05/23/embedded-composer-sflive-portland-2013" target="_blank">Beau's first conference talk</a></li>
    <li><a href="https://beau.io/talks/2016/09/16/unglue-all-the-things-symfony-live-london-2016" target="_blank">Beau's first conference keynote</a></li>
    <li><a href="https://spark.laravel.com/" target="_blank">Laravel Spark</a></li>
    <li><a href="http://liquidforms.io/" target="_blank">Liquid Forms</a></li>
    <li><a href="https://twitter.com/kelvinj" target="_blank">@kelvinj</a></li>
    <li><a href="http://helpmeabstract.com/" target="_blank">Help Me Abstract</a></li>
</ul>
{% endblock %}
{% block itunes_summary %}

Beau and Dave are back. Beau is back in the states. Dave has nothing
interesting to report. We talk a little about what we've been up to and touch on
getting started doing conference talks.

{% endblock %}
