---
title: Stuff
subtitle: The kind of show we do when we've not done one for a while...
number: 35
date: Mon, 19 Dec 2016 13:52:00 +0000
guid: 2c15401a-7caa-4339-a83b-cbd956a2bf20
embed_url: http://audio.simplecast.com/55439.mp3
rss_url: http://audio.simplecast.com/55439.mp3
download_url: http://audio.simplecast.com/55439.mp3
duration: 00:51:26
file_size: 30931904
explicit: no
bg_image: /assets/css/stuff.jpg
bg_image_width: 2048
bg_image_height: 1536
image_credit:
    url: https://www.flickr.com/photos/smays/3861199851
    description: Seattle Graffiti
    by: Steve Mays

---
{% block content %}
<p>Beau and Dave talk about stuff, including a voicemail from @jwage, generating
ideas and discussion on twitter, new services we've seen or are using, the
difference in number of attendees between European and US conferences, bucket
list type things, what we're watching and planning on watching on TV.</p>

<ul>
    <li><a href="https://twitter.com/jwage" target="_blank">@jwage</a></li>
    <li><a href="https://github.com/jwage/phpchunkit" target="_blank">jwage/phpchunkit</a></li>
    <li><a href="https://screendit.com" target="_blank">screendit.com</a></li>
    <li><a href="https://twitter.com/calebporzio" target="_blank">@calebporzio</a></li>
    <li><a href="https://twitter.com/tonyrq" target="_blank">@tonyrq</a></li>
    <li><a href="http://pixeljets.com/blog/why-we-chose-vuejs-over-react" target="_blank">Why we chose Vue.js over React</a></li>
    <li><a href="https://postmarkapp.com/" target="_blank">Postmark</a></li>
    <li><a href="https://postmarkapp.com/customers/childcare-co-uk" target="_blank">Childcare.co.uk solved delivery problems with Postmark</a></li>
    <li><a href="https://dply.co" target="_blank">dply.co</a></li>
    <li><a href="https://shipinsix.com" target="_blank">Shipinsix.com</a></li>
    <li><a href="http://www.southcavefalconry.co.uk/web/index.php?page=owltrust" target="_blank">South Cave Falconry</a></li>


    <li><a href="https://www.padi.com/" target="_blank">Professional Association of Diving Instructors</a></li>

    <li><a href="https://en.wikipedia.org/wiki/Westworld_(TV_series)" target="_blank">Westworld (TV Series)</a></li>
    <li><a href="https://en.wikipedia.org/wiki/The_Leftovers_(TV_series)" target="_blank">The Leftovers (TV Series)</a></li>

    <li><a href="https://twitter.com/ThatKevinSmith/status/807832337719230464" target="_blank">@ThatKevinSmith on Rogue One</a></li>
</ul>

{% endblock %}
{% block itunes_summary %}
Beau and Dave talk about stuff, including a voicemail from @jwage, generating ideas and discussion on twitter, new services we've seen or are using, the difference in number of attendees between European and US conferences, bucket list type things, what we're watching and planning on watching on TV.

{% endblock %}
