---
title: Stuff
subtitle: The kind of show we do when we've not done one for a while...
number: 35
date: Mon, 19 Dec 2016 13:52:00 +0000
guid: 2c15401a-7caa-4339-a83b-cbd956a2bf20
embed_url: http://audio.simplecast.com/55439.mp3
rss_url: http://audio.simplecast.com/55439.mp3
download_url: http://audio.simplecast.com/55439.mp3
duration: 00:51:26
file_size: 30931904
explicit: no
bg_image: /assets/css/stuff.jpg
bg_image_width: 2048
bg_image_height: 1536
image_credit:
    url: https://www.flickr.com/photos/smays/3861199851
    description: Seattle Graffiti
    by: Steve Mays

---
{% block content %}
Beau and Dave talk about stuff, including a voicemail from @jwage, generating ideas and discussion on twitter, new services we've seen or are using, the difference in number of attendees between European and US conferences, bucket list type things, what we're watching and planning on watching on TV.

{% endblock %}
{% block itunes_summary %}
Beau and Dave talk about stuff, including a voicemail from @jwage, generating ideas and discussion on twitter, new services we've seen or are using, the difference in number of attendees between European and US conferences, bucket list type things, what we're watching and planning on watching on TV.

{% endblock %}
