---
title: A little less Grumpy
subtitle: 
number: 27
date: Tue, 22 Mar 2016 21:34:00 +0000
guid: 3a34d807-4783-4bed-8a2f-4cdf61576f19
embed_url: http://audio.simplecast.com/32930.mp3
rss_url: http://audio.simplecast.com/32930.mp3
download_url: http://audio.simplecast.com/32930.mp3
duration: 00:20:20
file_size: 12276615
explicit: no
bg_image: /assets/css/grumpy.jpg
image_credit:
    url: https://www.flickr.com/photos/mr_patillas/5998334422
    description: Grumpy Dwarf
    by: Mr. Patillas

---
{% block content %}

<p>Beau and Dave talk to Chris Hartjes, commonly known as the Grumpy Programmer.
They talk about how Chris grew his personal brand to support his collection of
educational products, testing and testing tools, frameworks and components, and
OpenCFP.</p>

<p>Sorry about the recording issues folks, hopefully we'll get another chance to
speak to Chris and fill in some of the gaps.</p>

<ul>
    <li><a href="https://twitter.com/grmpyprogrammer" target="_blank">@grmpyprogrammer</a></li>
    <li><a href="https://leanpub.com/minimumviabletests" target="_blank">Minimum Viable Tests</a></li>
    <li><a href="https://grumpy-learning.com/" target="_blank">Grumpy Learning</a></li>
    <li><a href="https://github.com/opencfp/opencfp" target="_blank">OpenCFP</a></li>
    <li><a href="https://www.littlehart.net/atthekeyboard/" target="_blank">@TheKeyboard</a></li>

    <li><a href="https://developer.mozilla.org/en-US/docs/Mozilla/QA/Marionette" target="_blank">Marionette</a></li>
</ul>

{% endblock %}
{% block itunes_summary %}
Beau and Dave talk to Chris Hartjes, commonly known as the Grumpy Programmer.
They talk about how Chris grew his personal brand to support his collection of
educational products, testing and testing tools, frameworks and components and
OpenCFP.
{% endblock %}
