---
title: Rogue One
subtitle: Here be Spoilers
number: 35.5
date: Fri, 30 Dec 2016 16:34:00 +0000
guid: 9f8f6c32-0a48-4566-87df-ff3ae8594d55
embed_url: http://audio.simplecast.com/56076.mp3
rss_url: http://audio.simplecast.com/56076.mp3
download_url: http://audio.simplecast.com/56076.mp3
duration: 00:28:50
file_size: 17378701
explicit: no
bg_image: /assets/css/rogue.jpg
bg_image_width: 2048
bg_image_height: 1370
image_credit:
    url: https://www.flickr.com/photos/taylorherringpr/31542387781
    description: Rogue One Stormtroopers
    by: TaylorHerring

---
{% block content %}
<p>
Beau and Dave talk about Rogue One: A Star Wars Story, here be spoilers.
</p>

<p>
RIP <a href="https://en.wikipedia.org/wiki/Carrie_Fisher">Carrie Fisher</a>
</p>

<ul>
    <li><a href="http://www.imdb.com/title/tt3748528" target="_blank">Rogue One on IMDB</a></li>
    <li><a href="http://www.imdb.com/title/tt2488496" target="_blank">The Force Awakens on IMDB</a></li>
    <li><a href="http://letterboxd.com/davedevelopment/films/ratings/" target="_blank">Dave's ratings on Letterboxd</a></li>

    <li><a href="http://www.joblo.com/movie-news/rogue-one-rumored-to-undergo-reshoots-due-to-executive-dissatisfaction-847" target="_blank">One of the many reports of reshoots in May</a></li>

    <li><a href="https://www.youtube.com/watch?v=Wji-BZ0oCwg&t=36s" target="_blank">Rogue One Teaser Trailer</a></li>
    <li><a href="https://www.theguardian.com/film/2016/apr/07/star-wars-rogue-one-london-jubilee-line-tube-station" target="_blank">Guardian article on filming at Canary Wharf Tube Station</a></li>

    <li><a href="https://en.wikipedia.org/wiki/Peter_Cushing" target="_blank">Peter Cushing</a></li>
    <li><a href="https://en.wikipedia.org/wiki/Ben_Mendelsohn" target="_blank">Ben Mendelsohn</a></li>


    <li><a href="http://starwars.wikia.com/wiki/All_Terrain_Armored_Cargo_Transport" target="_blank">AT-ACT</a></li>
    <li><a href="http://starwars.wikia.com/wiki/Hammerhead_corvette" target="_blank">Hammerhead Corvette</a></li>

    <li><a href="https://www.youtube.com/watch?v=E0M2RC5ENLI" target="_blank">Wedge in Rebels clip</a></li>

    <li><a href="http://starwars.wikia.com/wiki/Tantive_IV" target="_blank">Tantive IV</a></li>

    <li><a href="http://starwars.wikia.com/wiki/Mon_Calamari" target="_blank">Mon Calamari</a></li>

    <li><a href="http://starwars.wikia.com/wiki/Red_Five" target="_blank">Red Five</a></li>
    <li><a href="http://starwars.wikia.com/wiki/Yavin_4" target="_blank">Yavin 4</a></li>

    <li><a href="http://starwars.wikia.com/wiki/Cornelius_Evazan" target="_blank">Cornelius Evazan</a></li>
    <li><a href="http://starwars.wikia.com/wiki/Ponda_Baba" target="_blank">Ponda Baba</a></li>

</ul>
{% endblock %}
{% block itunes_summary %}
Beau and Dave talk about Rogue One: A Star Wars Story, here be spoilers.

{% endblock %}
