---
title: npm install left-pad
subtitle: 
number: 29
date: Mon, 04 Apr 2016 20:24:00 +0000
guid: 374efd84-59c3-4ba8-a636-d7c131feb098
embed_url: http://audio.simplecast.com/34608.mp3
rss_url: http://audio.simplecast.com/34608.mp3
download_url: http://audio.simplecast.com/34608.mp3
duration: 00:43:40
file_size: 26274217
explicit: no
bg_image: /assets/css/jenga.jpg
image_credit:
    url: https://www.flickr.com/photos/59145750@N03/5559004171
    description: Jenga
    by: Mara Tr.

---
{% block content %}
<p>Beau and Dave talk about the recent left-pad kerfuffle in the javascript community.</p>

<ul>

    <li><a href="https://www.npmjs.com/package/left-pad" target="_blank">left-pad on npm</a></li>
    <li><a href=https://medium.com/@azerbike/i-ve-just-liberated-my-modules-9045c06be67c#.ib2dqnac4"" target="_blank">I've just liberated my modules</a></li>
    <li><a href="http://www.theregister.co.uk/2016/03/23/npm_left_pad_chaos/" target="_blank">How one developer just broke Node, Babel and thousands of projects in 11 lines of JavaScript</a></li>
    <li><a href="https://github.com/azer/left-pad/blob/master/index.js" target="_blank">azer/left-pad</a></li>

    <li><a href="https://twitter.com/funkatron/status/712633087222542336" target="_blank">@funkatron on twitter</a></li>

    <li><a href="http://davedevelopment.co.uk/2009/04/10/url-shortener-in-codeigniter.html" target="_blank">URL Shortener in Codeigniter</a></li>

    <li><a href="https://en.wikipedia.org/wiki/Why_the_lucky_stiff" target="_blank">Why the lucky stiff</a></li>

    <li><a href="https://github.com/ramsey/uuid" target="_blank">ramsey/uuid: Formerly rhumsaa/uuid</a></li>
    <li><a href="https://github.com/ramsey/uuid-doctrine" target="_blank">ramsey/uuid-doctrine</a></li>
    <li><a href="https://github.com/bernardphp/bernard" target="_blank">bernardphp/bernard</a></li>
    <li><a href="https://github.com/illuminate/queue" target="_blank">illuminate/queue</a></li>

    <li><a href="https://github.com/aws/aws-sdk-php" target="_blank">aws/aws-sdk-php</a></li>
    <li><a href="https://github.com/contextio/PHP-ContextIO" target="_blank">contextio/PHP-ContextIO</a></li>


    <li><a href=https://medium.com/@mproberts/a-discussion-about-the-breaking-of-the-internet-3d4d2a83aa4d#.icngk6szm"" target="_blank">A discussion about the breaking of the Internet</a></li>

    <li><a href="https://github.com/gaearon/redux-thunk" target="_blank">redux-thunk</a></li>
</ul>

{% endblock %}
{% block itunes_summary %}
Beau and Dave talk about the recent left-pad kerfuffle in the javascript community.

{% endblock %}
