---
title: S02E01
subtitle: Beau and Dave catch up after a 5 month break. Beau has moved to the UK and is just about settled, Dave is much the same.

number: 25
date: Fri, 04 Mar 2016 11:35:00 +0000
guid: 1e690857-3a93-4388-87d0-7e2a822dae55
embed_url: http://audio.simplecast.com/28289.mp3
rss_url: http://audio.simplecast.com/28289.mp3
download_url: http://audio.simplecast.com/28289.mp3
duration: 00:36:10
file_size: 21775954
explicit: no
bg_image: /assets/css/clapperboard.jpg
image_credit:
    url: https://www.flickr.com/photos/rnib/5494144401
    description: The clapper board
    by: RNIB

---
{% block content %}
<p>
Beau and Dave catch up after a 5 month break. Beau has moved to the UK and is just about settled, Dave is much the same.
</p>

<ul>
    <li><a href="https://en.wikipedia.org/wiki/Fortnight" target="_blank">Fortnight</a></li>
    <li><a href="http://symfony.com/doc/current/book/performance.html" target="_blank">Performance (The Symfony Book)</a></li>
    <li><a href="https://en.wikipedia.org/wiki/Microdrive" target="_blank">Microdrive</a></li>
</ul>
{% endblock %}
{% block itunes_summary %}
Beau and Dave catch up after a 5 month break. Beau has moved to the UK and is just about settled, Dave is much the same.

{% endblock %}
