---
title: Episode 34: Say What
subtitle: 
number: 34
date: Wed, 16 Nov 2016 10:38:00 +0000
guid: 35340ffa-94f7-4d8d-a9c6-d54dc72b8784
embed_url: http://audio.simplecast.com/53100.mp3
rss_url: http://audio.simplecast.com/53100.mp3
download_url: http://audio.simplecast.com/53100.mp3
duration: 00:37:47
file_size: 22741726
explicit: no
#bg_image: /assets/...
#bg_image_width: /assets/...
#bg_image_height: /assets/...
#image_credit:
#    url:
#    description:
#    by:

---
{% block content %}

<p>Beau and Dave talk about Beau's trip to the last True North PHP conference, trolls, writing and social media automation.</p>

<p>P.S. Yes, Dave accidently calls Beau bro in the intro.</p>

<ul>
    <li><a href="http://srcmvn.com/blog/2016/11/11/truenorthphp-2016" target="_blank">Beau at True North PHP 2016</a></li>
    <li><a href="https://twitter.com/BexieM30/status/793005546106478592" target="_blank">Rebecca's Tweet about Rowan</a></li>
    <li><a href="https://twitter.com/declancasey2/status/793086498887307264" target="_blank">Troll</a></li>
    <li><a href="https://en.wikipedia.org/wiki/Cheapside_Hoard" target="_blank">Cheapside Hoard</a></li>

    <!-- Stories in a tweet -->

    <!-- reference to Dr Who episode -->



    <li><a href="https://en.wikipedia.org/wiki/Tooms" target="_blank">The X-Files: Tooms</a></li>

    <li><a href="http://www.apple.com/uk/macbook-pro/" target="_blank">New Macbook Pros</a></li>

    <li><a href="http://www.imdb.com/title/tt1211837/" target="_blank">Dr. Strange</a></li>
    <li><a href="http://www.imdb.com/title/tt4574334/" target="_blank">Stranger Things</a></li>

    <li><a href="https://hootsuite.com" target="_blank">Hootsuite</a></li>
    <li><a href="https://buffer.com/" target="_blank">Buffer</a></li>
    <li><a href="https://twitter.com/CalEvans" target="_blank">@CalEvans</a></li>
    <li><a href="https://twitter.com/joepferguson" target="_blank">@joepferguson</a></li>
    <li><a href="https://saywhat.co/" target="_blank">SayWhat - Simple Social Media</a></li>
    <li><a href="https://twitter.com/thatpodcast/status/793789021923278848" target="_blank">Generating discussion on Twitter</a></li>
    <li><a href="https://gist.github.com/adamwathan/120f5acb69ba84e3fa911437242796c3" target="_blank">Method overloading trait</a></li>

    <li><a href="https://meetedgar.com/" target="_blank">Meet Edgar</a></li>
</ul>
{% endblock %}
{% block itunes_summary %}
Beau and Dave talk about Beau's trip to the last True North PHP conference, trolls, writing and social media automation.

{% endblock %}
