---
title: Work, Work, Work
subtitle: Catch up on work efforts
number: 28
date: Tue, 29 Mar 2016 08:48:00 +0000
guid: 9a3152d9-0975-4c56-b55d-a0459857112a
embed_url: http://audio.simplecast.com/33905.mp3
rss_url: http://audio.simplecast.com/33905.mp3
download_url: http://audio.simplecast.com/33905.mp3
duration: 00:37:20
file_size: 22481266
explicit: no
bg_image: /assets/css/working.jpg
image_credit:
    url: https://www.flickr.com/photos/riebschlager/358653195
    description: working
    by: chris riebschlager

---
{% block content %}
<p>Beau and Dave talk about some of their recent work efforts, Dave's first look at
DynamoDB, other AWS services, migrating event streams, email integration with
Context.io and the challenges of maintaining privacy with such systems.
</p>


<ul>
    <li><a href="http://docs.aws.amazon.com/amazondynamodb/latest/developerguide/Introduction.html" target="_blank">AWS DynamoDB</a></li>
    <li><a href="https://aws.amazon.com/elasticache/" target="_blank">AWS Elasticache</a></li>
    <li><a href="https://aws.amazon.com/ses/" target="_blank">AWS SES</a></li>
    <li><a href="https://aws.amazon.com/cloudwatch/" target="_blank">AWS Cloudwatch</a></li>
    <li><a href="https://aws.amazon.com/lambda/" target="_blank">AWS Lambda</a></li>
    <li><a href="https://aws.amazon.com/dms/" target="_blank">AWS DMS</a></li>

    <li><a href="https://monii.com" target="_blank">Monii.com</a></li>
    <li><a href="https://context.io/" target="_blank"></a>Context.io - Build awesome things with email</li>

    <li><a href="https://thespencergroup.co.uk/software/sos" target="_blank">Spencer Online System (SOS)</a></li>
</ul>
{% endblock %}
{% block itunes_summary %}
Beau and Dave talk about some of their recent work efforts, Dave's first look at DynamoDB, other AWS services, migrating event streams, email integration with Context.io and the challenges of maintaining privacy with such systems.

{% endblock %}
