---
title: Lag
subtitle: 
number: 33
date: Fri, 28 Oct 2016 10:47:00 +0000
guid: 01af1307-fa27-482d-b0c5-235ed6dc7e3d
embed_url: http://audio.simplecast.com/51153.mp3
rss_url: http://audio.simplecast.com/51153.mp3
download_url: http://audio.simplecast.com/51153.mp3
duration: 00:39:16
file_size: 23640598
explicit: no
#bg_image: /assets/...
#image_credit:
#    url:
#    description:
#    by:

---
{% block content %}
<p>Beau and Dave somehow manage to form a coherent conversation despite laggy
internet, about dynamic sharing images, Beau's application for Global Entry,
overlays and Mailchimp automation, profilers like Blackfire and XHProf, and Beau
having a new microphone.</p>

<ul>
    <li><a href="https://www.cbp.gov/travel/trusted-traveler-programs/global-entry" target="_blank">Global Entry</a></li>

    <li><a href="https://levels.io/12-startups-12-months/" target="_blank">12 startups in 12 months</a></li>
    <li><a href="https://levels.io/phantomjs-social-media-share-pictures/" target="_blank">Dynamic twitter and facebook card images</a></li>
    <li><a href="https://twitter.com/levelsio" target="_blank">@levelsio</a></li>
    <li><a href="https://nomadlist.com/" target="_blank">Nomad List</a></li>
    <li><a href="https://levels.io/bootstrapping/" target="_blank">Bootstrapping Side Projects into Profitable Startups</a></li>
    <li><a href="https://twitter.com/davedevelopment/status/791661804673961985" target="_blank">Example of Dave's Dynamic share images</a></li>

    <li><a href="http://www.cloud-iq.com/" target="_blank">Cloud.IQ</a></li>
    <li><a href="https://mailchimp.com/features/automation/" target="_blank">Mailchimp Automation</a></li>

    <li><a href="https://github.com/phacility/xhprof" target="_blank">XHProf</a></li>
    <li><a href="https://github.com/FriendsOfPHP/uprofiler" target="_blank">uprofiler - Dave may have been confusing some features of this with the original XHProf</a></li>

</ul>

{% endblock %}
{% block itunes_summary %}
Beau and Dave somehow manage to form a coherent conversation despite laggy internet, about dynamic sharing images, Beau's application for Global Entry, overlays and Mailchimp automation, profilers like Blackfire and XHProf, and Beau having a new microphone.

{% endblock %}
