---
title: SAD
subtitle: Health and Technology
number: 41
date: Mon, 12 Jun 2017 02:32:00 +0000
guid: 71ff7677-d47c-43ee-afe0-b61a74313fe4
embed_url: http://audio.simplecast.com/72636.mp3
rss_url: http://audio.simplecast.com/72636.mp3
download_url: http://audio.simplecast.com/72636.mp3
duration: 00:39:15
file_size: 18927549
explicit: no
bg_image: /assets/css/rose.jpg
bg_image_width: 5184
bg_image_height: 3456
image_credit:
    url: https://www.flickr.com/photos/teteroon/15347212616/
    description: Depressed rose
    by: Tobias Wrzal

---
{% block content %}
<p>
Beau and Dave talk about PHP-FIG, an intersection of health and technology, Symfony and bitcoin bots.
</p>

<ul>
<li><a target="_blank" href="http://www.php-fig.org/">PHP-FIG</a></li>
<li><a target="_blank" href="https://github.com/php-fig/fig-standards/blob/master/proposed/http-middleware/middleware.md">PSR-15 – HTTP Server Middleware</a></li>
<li><a target="_blank" href="https://github.com/php-fig/fig-standards/blob/master/proposed/http-factory/http-factory.md">PSR-17 – HTTP Factories</a></li>
<li><a target="_blank" href="https://groups.google.com/forum/#!topic/php-fig/B3jtdJA7-6w">&quot;Minimal HTTP middleware&quot;</a> – Discussion on changing the delegate interface from PSR-15</li>
<li>Rasmus Schultz (<a target="_blank" href="https://twitter.com/mindplaydk">@mindplaydk</a>)</li>
<li><a target="_blank" href="http://stackphp.com">Stack PHP</a></li>
<li><a target="_blank" href="https://www.elastic.co/webinars/introduction-elk-stack">An Introduction to the ELK Stack (Now the Elastic Stack)</a></li>
<li><a target="_blank" href="http://www.sadlamps.org/">SAD Lamps</a></li>
<li><a target="_blank" href="https://en.wikipedia.org/wiki/Seasonal_affective_disorder">Seasonal affective disorder (SAD)</a></li>
<li><a target="_blank" href="https://www.fully.com/desks/desks-by-brand/jarvis-desks/jarvis-adjustable-height-desk-bamboo.html">Jarvis Bamboo Adjustable Standing Desk</a></li>
<li><a target="_blank" href="http://ergodriven.com/topo/">Topo mat</a></li>
<li><a target="_blank" href="https://www.menards.com/main/building-materials/panel-products/industrial-panels/mdf-mdo-panels/c-13338.htm">MDF Panels</a></li>
<li><a target="_blank" href="https://www.thebodycoach.com/">Joe Wicks – The Body Coach</a></li>
<li><a target="_blank" href="https://symfony.com/roadmap">Symfony 3.3 releases</a></li>
<li><a target="_blank" href="http://symfony.com/blog/new-in-symfony-3-3-service-locators">Service Locator for Symfony 3.3</a></li>
<li><a target="_blank" href="https://github.com/carlos8f/zenbot">Zenbot</a></li>
<li><a target="_blank" href="http://beausimensen.com">beausimensen.com</a></li>
<li><a target="_blank" href="https://www.snapnames.com/">SnapNames</a></li>
<li><a target="_blank" href="https://park.io/">park.io</a></li>
</ul>

{% endblock %}
{% block itunes_summary %}
Health and Technology

{% endblock %}
