---
title: Public Relations
subtitle: "What's in a name?"

number: 39
date: Thu, 09 Mar 2017 03:37:00 +0000
guid: d233f2d8-1d69-4c3b-926e-1faf4ea67f37
embed_url: http://audio.simplecast.com/62281.mp3
rss_url: http://audio.simplecast.com/62281.mp3
download_url: http://audio.simplecast.com/62281.mp3
duration: 00:32:30
file_size: 15688519
explicit: no
bg_image: /assets/css/public-relations.jpg
bg_image_width: 1500
bg_image_height: 500
image_credit:
    url: https://twitter.com/richleighpr
    description: Public RELATIONS
    by: @richleighpr

---
{% block content %}
Beau and Dave discuss skiing, skateboarding, Rebekah's book launch, Bullet Journaling, Rachel Nabor's Practical Cartooning for Technical Folk, Beau getting back into DJing, Dave dabbling in Bitcoin bot trading, Logan, and multiuser SaaS.

<ul>
<li>Rebekah Simensen's book, &quot;<a target="_blank" href="https://ninjagrl.com/artwork/je-suis-une-pomme">Je suis une pomme</a>.&quot;</li>
<li><a target="_blank" href="https://instagram.com">Instagram</a></li>
<li><a target="_blank" href="http://bulletjournal.com/">Bullet Journaling</a></li>
<li><a target="_blank" href="https://twitter.com/JoePFerguson/status/839482577555685376">Joe Ferguson's conversation on Bullet Journaling</a></li>
<li><a target="_blank" href="https://twitter.com/rawkode/status/833711745629839361">David McKay's comments on Bullet Journaling</a></li>
<li><a target="_blank" href="https://twitter.com/Brunty/status/833713374055821314">Matt Brunt's comments on Bullet Journaling</a></li>
<li><a target="_blank" href="http://rachelnabors.com/">Rachel Nabors</a></li>
<li><a target="_blank" href="http://courses.rachelnabors.com/p/practical-cartooning">Practical Cartooning for Technical Folk</a> <strong>Listen to the episode for a 20% discount to this course!</strong> Thanks Rachel!</li>
<li><a target="_blank" href="https://www.mixcloud.com/simensen/because-2017-03-04/">Beau's first recorded set in at least six years</a></li>
<li><a target="_blank" href="https://twitter.com/richleighpr">Mr PR -né Rich Leigh</a></li>
<li><a target="_blank" href="https://en.wikipedia.org/wiki/Bitcoin">Bitcoin</a></li>
<li><a target="_blank" href="https://www.gdax.com/">GDAX</a></li>
<li><a target="_blank" href="https://github.com/carlos8f/zenbot">zenbot</a> multi-exchange Bitcoin / Ether trading bot - BTC, ETH, LTC, USD, EUR</li>
<li><a target="_blank" href="http://www.imdb.com/title/tt3315342/">Logan</a> (movie)</li>
<li><a target="_blank" href="https://en.wikipedia.org/wiki/Motion_Picture_Association_of_America_film_rating_system#MPAA_film_ratings">MPAA Film Ratings</a> (USA)</li>
<li><a target="_blank" href="https://en.wikipedia.org/wiki/British_Board_of_Film_Classification#Current_certificates">British Board of Film Classification ratings</a></li>
<li><a target="_blank" href="https://nolanlawson.com/2017/03/05/what-it-feels-like-to-be-an-open-source-maintainer/">What it feels like to be an open-source maintainer</a> by <a target="_blank" href="@nolanlawson">Nolan Lawson / @nolanlawson</a></li>
<li><a target="_blank" href="http://writing.jan.io/2017/03/06/sustainable-open-source-the-maintainers-perspective-or-how-i-learned-to-stop-caring-and-love-open-source.html">Sustainable Open Source: The Maintainers Perspective or: How I Learned to Stop Caring and Love Open Source</a> by <a target="_blank" href="https://twitter.com/janl">Jan Lehnardt / @janl</a></li>
<li><a target="_blank" href="https://twitter.com/jontybehr/status/839485074395566081">Jonty Behr's comments on SaaS w/o multi-user logins</a></li>
<li><a target="_blank" href="https://beau.io/talks/2017/02/04/employing-cqrs-and-event-sourcing-to-build-an-mvp-sunphp17">Employing CQRS and Event Sourcing to Build an MVP</a> Beau's talk from Sunshine PHP</li>
</ul>

{% endblock %}
{% block itunes_summary %}
Beau and Dave discuss skiing, skateboarding, Rebekah's book launch, Bullet Journaling, Rachel Nabor's Practical Cartooning for Technical Folk, Beau getting back into DJing, Dave dabbling in Bitcoin bot trading, Logan, and multiuser SaaS.

{% endblock %}
