---
title: Bullet
subtitle: Sunshine PHP, Bullet Journaling, Mockery and Symfony Experiments.
number: 38
date: Fri, 17 Feb 2017 00:47:00 +0000
guid: 405881e2-8d6a-4105-a637-3870f866dab7
embed_url: http://audio.simplecast.com/60631.mp3
rss_url: http://audio.simplecast.com/60631.mp3
download_url: http://audio.simplecast.com/60631.mp3
duration: 00:32:45
file_size: 15800961
explicit: no
bg_image: /assets/css/bullet.jpg
bg_image_width: 4672
bg_image_height: 3104
image_credit:
    url: https://www.flickr.com/photos/bkaree/6957213165
    description: 9×18 mm Makarov case
    by: bkaree1

---
{% block content %}
<p>
Beau and Dave discuss Sunshine PHP, Bullet Journaling, Mockery and Symfony Experiments.
</p>
<ul>
<li><a target="_blank" href="http://2017.sunshinephp.com/">Sunshine PHP</a></li>
<li>Mark Railton (<a target="_blank" href="https://twitter.com/railto">@railto</a>)</li>
<li><a target="_blank" href="http://bulletjournal.com/">Bullet Journal</a></li>
<li><a target="_blank" href="http://www.moleskine.com/">Moleskine</a></li>
<li><a target="_blank" href="https://www.gouletpens.com/leuchtturm1917/c/64">Leuchtturm1917</a></li>
<li><a target="_blank" href="http://www.apple.com/ipad-pro/">Apple iPad Pro</a></li>
<li><a target="_blank" href="http://www.apple.com/apple-pencil/">Apple Pencil</a></li>
<li><a target="_blank" href="http://www.wacom.com/en-us">Wacom</a></li>
<li><a target="_blank" href="https://domainlore.uk/">DomainLore</a></li>
<li><a target="_blank" href="https://twitter.com/taylorotwell/status/818815073917472768">&quot;Framework / library maintainers: do not ever sit in smug satisfaction. Work every day like you're the underdog and have something to prove.&quot;</a> via <a target="_blank" href="https://twitter.com/taylorotwell">@taylorotwell</a></li>
<li><a target="_blank" href="https://github.com/padraic/mockery">Mockery</a></li>
<li>Pádraic Brady (<a target="_blank" href="https://twitter.com/padraicb">@padraicb</a>)</li>
<li><a target="_blank" href="http://symfony.com/blog/experimental-features">Experimental Features</a> Symfony blog post</li>
<li><a target="_blank" href="http://symfony.com/doc/current/contributing/code/bc.html">Symfony's Backwards Compatibility Promise</a></li>
<li><a target="_blank" href="http://tinyreminder.com/">Tiny Reminder</a></li>
<li>Jane Portman (<a target="_blank" href="https://twitter.com/uibreakfast">@uibreakfast</a>)</li>
<li><a target="_blank" href="http://www.adobe.com/products/audition.html">Adobe Audition</a></li>
<li>Rachel Nabors (<a target="_blank" href="https://twitter.com/rachelnabors">@rachelnabors</a>)</li>
<li><a target="_blank" href="http://courses.rachelnabors.com/p/practical-cartooning">Practical Cartooning for Technical Folk</a></li>
</ul>

{% endblock %}
{% block itunes_summary %}
Beau and Dave discuss Sunshine PHP, Bullet Journaling, Mockery and Symfony Experiments.
{% endblock %}
