---
title: Flex
subtitle: "The Future's So Bright, Dave Gotta Wear Blade's Shades"
number: 40
date: Fri, 05 May 2017 03:47:00 +0000
guid: 8cfc83bf-92c0-4085-8459-50355f8bcc16
embed_url: http://audio.simplecast.com/68721.mp3
rss_url: http://audio.simplecast.com/68721.mp3
download_url: http://audio.simplecast.com/68721.mp3
duration: 00:23:53
file_size: 11555560
explicit: no
bg_image: /assets/css/all-seeing-eye.jpg
bg_image_width: 3024
bg_image_height: 4032
image_credit:
    url: https://www.flickr.com/photos/149260337@N06/33736294501/
    description: The All Seeing Eye
    by: Giovanni Cardona

---
{% block content %}
Beau and Dave pick up after a two month break to talk about Symfony Flex and Alexa.

<ul>
<li><a target="_blank" href="https://github.com/symfony/flex">Symfony Flex</a></li>
<li><a target="_blank" href="http://symfony.com/doc/current/contributing/community/releases.html">Symfony Roadmap</a></li>
<li><a target="_blank" href="https://medium.com/@fabpot/fabien-potencier-4574622d6a7e">Symfony 4: Compose your Applications</a></li>
<li><a target="_blank" href="https://medium.com/@fabpot/symfony-4-monolith-vs-micro-52dc6b98c0c5">Symfony 4: Monolith vs Micro</a></li>
<li><a target="_blank" href="https://medium.com/@fabpot/symfony-4-best-practices-b4bbd6a9c994">Symfony 4: Best Practices</a></li>
<li><a target="_blank" href="https://medium.com/@fabpot/symfony-4-directory-structure-5b84bd1ce65a">Symfony 4: Directory Structure</a></li>
<li><a target="_blank" href="https://medium.com/@fabpot/symfony-4-automate-your-workflow-fbbf609b5a1d">Symfony 4: Automate your Workflow</a></li>
<li><a target="_blank" href="https://medium.com/@fabpot/symfony-4-contributing-recipes-2f489dc6f645">Symfony 4: Contributing Recipes</a></li>
<li><a target="_blank" href="https://medium.com/@fabpot/symfony-4-a-small-screencast-cf6511823f">Symfony 4: A small screencast...</a></li>
<li><a target="_blank" href="https://medium.com/@fabpot/symfony-4-a-quick-demo-da7d32be323">Symfony 4: A quick Demo</a></li>
<li><a target="_blank" href="https://www.youtube.com/watch?v=JyrgwMagwEM">DrupalCon Baltimore 2017: How I learned to Stop Wiring and Love Autowiring Containers</a></li>
<li><a target="_blank" href="https://events.drupal.org/baltimore2017">DrupalCon Baltimore 2017</a></li>
<li><a target="_blank" href="https://twitter.com/nicolasgrekas">@nicolasgrekas</a></li>
<li><a target="_blank" href="https://twitter.com/weaverryan">@weaverryan</a></li>
<li><a target="_blank" href="https://twitter.com/fabpot">@fabpot</a></li>
<li><a target="_blank" href="https://developer.amazon.com/alexa">Alexa</a></li>
<li><a target="_blank" href="https://developer.amazon.com/alexa-skills-kit">Alexa Skills</a></li>
<li><a target="_blank" href="http://jsonapi.org/">JSON API</a></li>
<li><a target="_blank" href="https://github.com/thephpleague/oauth2-server">PHP OAuth 2.0 Server from The PHP League</a></li>
<li><a target="_blank" href="https://laravel.com/docs/5.4/passport">Laravel Passport</a></li>
<li><a target="_blank" href="https://twitter.com/WyriHaximus">@WyriHaximus</a></li>
<li><a target="_blank" href="https://github.com/php-api-clients/psr7-oauth1">Client-side PSR-7 Oauth1 request signer for PHP</a></li>
<li><a target="_blank" href="https://stripe.com/docs/api">Stripe API</a></li>
<li><a target="_blank" href="http://swagger.io/">Swagger</a></li>
<li><a target="_blank" href="https://www.amazon.com/Amazon-Echo-Bluetooth-Speaker-with-WiFi-Alexa/dp/B00X4WHP5E">Amazon Echo</a></li>
<li><a target="_blank" href="https://www.amazon.com/dp/B01DFKC2SO/ref=fs_ods_fs_aucc_bt">Amazon Echo Dot</a></li>
<li><a target="_blank" href="https://www.amazon.com/dp/B0186JAEWK/ref=fs_ods_hx">Amazon Echo Look</a></li>
<li><a target="_blank" href="http://www.asos.com/">ASOS</a></li>
</ul>

{% endblock %}
{% block itunes_summary %}
Beau and Dave pick up after a two month break to talk about Symfony Flex and Alexa.
{% endblock %}
