---
title: "Sold!"
subtitle: "Yes, Beau sounds like he is under water..."
number: 37
date: Wed, 1 Feb 2017 07:00:00 +0000
guid: 3608a516-ea1f-4b7a-82f9-e7a849dec04e
embed_url: http://audio.simplecast.com/59194.mp3
rss_url: http://audio.simplecast.com/59194.mp3
download_url: http://audio.simplecast.com/59194.mp3
duration: 00:45:13
file_size: 21795341
explicit: no
bg_image: /assets/css/sparrow.jpg
bg_image_width: 3932
bg_image_height: 2467
image_credit:
    url: https://www.flickr.com/photos/ioachimphotos/14293165289/
    description: sparrow
    by: walmarc04

---
{% block content %}
<p>
Beau and Dave discuss time bugs, companies being sold and AppleApp Store and Google Play store tax on "digital sales." They also talk about recent news in Symfony. This episode is the first edited by Beau. Be gentle.
</p>

<ul>
<li><a target="_blank" href="https://developers.google.com/time/smear">Leap Smear – Leap Second 2016</a></li>
<li><a target="_blank" href="https://en.wikipedia.org/wiki/Year_2000_problem">Year 2000 problem</a></li>
<li><a target="_blank" href="https://en.wikipedia.org/wiki/Treehouse_of_Horror_X#Life.27s_a_Glitch.2C_Then_You_Die">Simpson's Treehouse of Horror X: Life's a Glitch, Then You Die</a></li>
<li><a target="_blank" href="http://blog.trello.com/trello-atlassian">Trello Is Being Acquired By Atlassian</a></li>
<li><a target="_blank" href="http://www.fogcreek.com/trello">Fog Creek / Trello</a></li>
<li><a target="_blank" href="https://en.wikipedia.org/wiki/Sparrow_(email_client)">Sparrow</a></li>
<li><a target="_blank" href="https://en.wikipedia.org/wiki/Humble_Bundle">Humble Bundle</a></li>
<li><a target="_blank" href="https://techcrunch.com/2010/01/17/most-expensive-iphone-app-barmax/">BarMax: $999.99 App Store App</a></li>
<li><a target="_blank" href="http://www.vudu.com/">Vudu</a></li>
<li><a target="_blank" href="https://www.myuv.com/">UltraViolet</a></li>
<li><a target="_blank" href="https://github.com/symfony/symfony/pull/21234">Symfony Dotenv Component</a></li>
<li><a target="_blank" href="https://github.com/vlucas/phpdotenv">vlucas/phpdotenv</a></li>
<li><a target="_blank" href="http://symfony.com/blog/new-in-symfony-3-2-workflow-component">Symfony Workflow Component</a></li>
<li><a target="_blank" href="http://symfony.com/doc/current/components/expression_language.html">The ExpressionLanguage Component</a></li>
<li><a target="_blank" href="https://github.com/symfony/symfony/pull/20973">Getter Injection PR</a></li>
<li><a target="_blank" href="https://community.oracle.com/blogs/crazybob/2004/05/26/getter-based-dependency-injection">Getter-based Dependency Injection Blog</a></li>
<li><a target="_blank" href="https://laravel.com/docs/5.3/container#contextual-binding">Contextual Binding in Laravel's Container</a></li>
<li><a target="_blank" href="https://spark.laravel.com/docs/3.0/teams#accessing-teams-by-path">GitHub style teams in Laravel Spark</a></li>
<li><a target="_blank" href="https://twitter.com/mheap">Michael Heap – @mheap</a></li>
<li><a target="_blank" href="https://michaelheap.com/selecting-team-url-laravel-spark">Selecting a team via the URL in Laravel Spark</a></li>
<li><a target="_blank" href="https://laravel.com/docs/5.4/routing#implicit-binding">Implicit Route Binding in Laravel</a></li>
<li><a target="_blank" href="http://symfony.com/doc/current/bundles/SensioFrameworkExtraBundle/annotations/converters.html">Symfony Parameter Converters</a></li>
<li><a target="_blank" href="http://www.imdb.com/title/tt3502248/">Bosch</a></li>
<li><a target="_blank" href="https://en.wikipedia.org/wiki/The_Wheel_of_Time">The Wheel of Time</a></li>
<li><a target="_blank" href="https://en.wikipedia.org/wiki/Malazan_Book_of_the_Fallen">Malazan Book of the Fallen</a></li>
<li><a target="_blank" href="http://www.imdb.com/title/tt2306299/">Vikings</a></li>
</ul>

{% endblock %}
{% block itunes_summary %}
Beau and Dave discuss time bugs, companies being sold and AppleApp Store and Google Play store tax on "digital sales." They also talk about recent news in Symfony. This episode is the first edited by Beau. Be gentle.

{% endblock %}
