---
title: Things
subtitle: 
number: 36
date: Fri, 13 Jan 2017 14:00:00 +0000
guid: 2ca94e5c-d7e3-4556-9c72-749b2fc077bc
embed_url: http://audio.simplecast.com/57563.mp3
rss_url: http://audio.simplecast.com/57563.mp3
download_url: http://audio.simplecast.com/57563.mp3
duration: 00:44:37
file_size: 26850718
explicit: no
#bg_image: /assets/...
#bg_image_width: /assets/...
#bg_image_height: /assets/...
#image_credit:
#    url:
#    description:
#    by:

---
{% block content %}

<p>
Beau and Dave catch up on SensioLab's latest announcements, The Epic Guide to
Bootstrapping your SaaS startup from scratch by yourself, Indie Hackers, and discuss convenient hosting
for lots of small sites and apps.
</p>

<ul>

    <li><a href="https://thatpodcast.io/episodes/episode-35-5-rogue-one" target="_blank">Episode 35.5: Rogue One</a></li>
    <li><a href="https://sensio.cloud/" target="_blank">Sensio Cloud</a></li>

    <li><a href="https://twitter.com/lisachenko/status/804608939375656961" target="_blank">Fabien announcing Symfony Flex</a></li>


    <li><a href="https://twitter.com/skoop" target="_blank">@skoop</a></li>
    <li><a href="https://twitter.com/CalEvans" target="_blank">@CalEvans</a></li>

    <li><a href="https://twitter.com/mdavis1982" target="_blank">@mdavis1982</a></li>


    <li><a href="https://twitter.com/cliffordoravec" target="_blank">@cliffordoravec</a></li>
    <li><a href="https://gettamboo.com/" target="_blank">Tamboo</a></li>
    <li><a href="https://medium.com/@cliffordoravec/the-epic-guide-to-bootstrapping-a-saas-startup-from-scratch-by-yourself-part-1-4d834e1df8c1#.i8cuxkloy" target="_blank">The Epic Guide to Bootstrapping a SaaS Startup from Scratch — By Yourself (Part 1)</a></li>
    <li><a href="https://medium.com/@cliffordoravec/the-no-bs-approach-to-building-your-saas-startups-launch-list-part-2-of-the-epic-guide-to-8cc371be772c#.l46q1uabc" target="_blank">The No-BS Approach to Building Your SaaS Startup’s Launch List (Part 2 of the Epic Guide to Bootstrapping)</a></li>
    <li><a href="https://hackernoon.com/make-it-rain-building-an-mvp-for-fun-and-profit-part-3-of-the-epic-guide-to-bootstrapping-be2b00f697c9#.p891gxrz8" target="_blank">Make It Rain: Building an MVP for Fun and Profit (Part 3 of the Epic Guide to Bootstrapping)</a></li>

    <li><a href="https://twitter.com/amyhoy" target="_blank">@amyhoy</a></li>
    <li><a href="http://shipinsix.com/" target="_blank">shipinsix.com</a></li>


    <li><a href="http://davecatcher.co.uk/" target="_blank">davecatcher.co.uk</a></li>
    <li><a href="https://www.indiehackers.com/businesses" target="_blank">Indie Hackers</a></li>

    <li><a href="https://twitter.com/beausimensen/status/810986132318076931" target="_blank">What is holding you back from working on your side projects?</a></li>
    <li><a href="https://twitter.com/eryno" target="_blank">@eryno</a></li>

    <li><a href="https://twitter.com/richkbrock" target="_blank">@richkbrock</a></li>

    <li><a href="https://packagist.com/" target="_blank">Private Packagist</a></li>

    <li><a href="https://alestic.com/2016/12/aws-invoice-example/" target="_blank">How Much Does It Cost To Run A Serverless API on AWS?</a></li>


    <li><a href="https://amazonlightsail.com/" target="_blank">Amazon Lightsail</a></li>

    <li><a href="http://harmful.cat-v.org/software/ruby/rails/is-a-ghetto" target="_blank">Rails is a Ghetto</a></li>

    <li><a href="https://laravelshift.com/" target="_blank">Laravel Shift</a></li>

</ul>
{% endblock %}
{% block itunes_summary %}
Beau and Dave catch up on SensioLab's latest announcements, The Epic Guide to
Bootstrapping your SaaS startup from scratch by yourself, Indie Hackers, and discuss convenient hosting
for lots of small sites and apps.
{% endblock %}
