---
title: The One Where We Talk to Shawn about Event Sourcery, CQRS, Event Sourcing and GDPR
subtitle: Because it's about time we're leaving the wild west
number: 50
date: Thu, 24 May 2018 15:52:00 +0000
guid: 6f142201-1aa2-4312-8ac6-c732a318aba8
embed_url: http://audio.simplecast.com/0edb4282.mp3
rss_url: http://audio.simplecast.com/0edb4282.mp3
download_url: http://audio.simplecast.com/0edb4282.mp3
duration: 00:45:46
file_size: 22055255
explicit: no
bg_image: /assets/css/western.jpg
bg_image_width: 3216 
bg_image_height: 2136
image_credit:
    url: https://unsplash.com/photos/88vFFj0xXxk
    description: Abandoned Desert profiles
    by: profile Lachise

---
{% block content %}

<p>In this episode, Dave and Beau talk to <a
  href="https://twitter.com/shawnmccool">Shawn McCool</a> about his experiences
with CQRS and Event Sourcing, the <a
  href="https://en.wikipedia.org/wiki/General_Data_Protection_Regulation"
  target=_blank>GDPR</a>, and his recently revealed open source project <a
  href="https://github.com/event-sourcery/event-sourcery" target="_blank">event
  sourcery</a></p>

  <p>Event sourcery is a PHP CQRS/ES library with a core principle of keeping it
simple, while providing some more advanced technical capabilities, like keeping
personal data out of the immutable event streams.</p>

<ul>
  <li><a href="https://twitter.com/shawnmccool" target="_blank">@shawnmccool</a></li>
  <li><a href="https://github.com/event-sourcery/event-sourcery" target="_blank">event-sourcery/event-sourcery</a></li>
  <li><a href="https://en.wikipedia.org/wiki/General_Data_Protection_Regulation" target="_blank">GDPR</a></li>
  <li>more links to come</li>
</ul>

{% endblock %}
{% block itunes_summary %}
Because it's about time we're leaving the wild west

{% endblock %}
