---
title: The One with the Last Jedi
subtitle: Because we both love Star Wars.

number: 46
date: Wed, 07 Feb 2018 22:23:00 +0000
guid: 33f6a11a-887f-4ddd-b0c5-2118e1db562c
embed_url: http://audio.simplecast.com/6df6f216.mp3
rss_url: http://audio.simplecast.com/6df6f216.mp3
download_url: http://audio.simplecast.com/6df6f216.mp3
duration: 00:48:03
file_size: 23150063
explicit: no
bg_image: /assets/css/rey-and-kylo-snoke-throne-room-battle.jpg
bg_image_width: 1400
bg_image_height: 700
image_credit:
    url: http://www.starwars.com/films/star-wars-episode-viii-the-last-jedi
    description: "Star Wars: The Last Jedi"
    by: Disney

---
{% block content %}
<p>
	Beau and Dave discuss Star Wars: The Last Jedi. There are spoilers here. And no tech talk. Consider yourselves warned!
</p>

<ul>
<li><a target="_blank" href="http://www.starwars.com/films/star-wars-episode-viii-the-last-jedi">Star Wars: The Last Jedi</a></li>
<li><a target="_blank" href="http://www.starwars.com/films/star-wars-episode-vii-the-force-awakens">Star Wars: The Force Awakens</a></li>
<li><a target="_blank" href="http://www.starwars.com/news/the-legendary-star-wars-expanded-universe-turns-a-new-page">Disney/Star Wars canon</a></li>
<li><a target="_blank" href="http://starwars.wikia.com/wiki/Unknown_Regions">Unknown Regions</a></li>
<li><a target="_blank" href="https://screenrant.com/star-wars-last-jedi-knights-of-ren/">Rian Johnson Explains Why Knights of Ren Aren’t In Star Wars 8</a></li>
<li><a target="_blank" href="http://starwars.wikia.com/wiki/C1-10P">C1-10P</a></li>
<li><a target="_blank" href="https://www.youtube.com/watch?v=-jWIDwq44ZI">Star Wars Rebels Mid-Season 4 Trailer (Official)</a></li>
<li><a target="_blank" href="http://starwars.wikia.com/wiki/Ysalamir">Ysalamir - Animal that "blocks" the force</a></li>
<li><a target="_blank" href="http://starwars.wikia.com/wiki/Mara_Jade_Skywalker">Mara Jade Skywalker - "Force using operative"</a></li>
<li><a target="_blank" href="http://starwars.wikia.com/wiki/Dark_Jedi">Dark Jedi</a></li>
<li><a target="_blank" href="http://starwars.wikia.com/wiki/Inquisitorius">Inquisitorius (both cannon and legends)</a></li>
<li><a target="_blank" href="http://starwars.wikia.com/wiki/Force_meld">Force meld</a></li>
<li><a target="_blank" href="http://starwars.wikia.com/wiki/Force_bond">Force bond</a></li>
<li><a target="_blank" href="https://twitter.com/rianjohnson/status/954431147311706113">Rian Johnson's Tweet on "introducing a new variant of a force power to conveniently save the day at the climax of a movie."</a></li>
<li><a target="_blank" href="https://twitter.com/joshlarosee">@joshlarosee</a></li>
</ul>

{% endblock %}
{% block itunes_summary %}
Beau and Dave discuss Star Wars: The Last Jedi.

{% endblock %}
