---
title: The one with the CPU vulnerabilities
subtitle: "Meltdown and Spectre, oh my!"

number: 42
date: Thu, 11 Jan 2018 04:26:00 +0000
guid: faa60952-001b-4317-946f-9f0855583f78
embed_url: http://audio.simplecast.com/19ee8cd2.mp3
rss_url: http://audio.simplecast.com/19ee8cd2.mp3
download_url: http://audio.simplecast.com/19ee8cd2.mp3
duration: 00:43:38
file_size: 21029661
explicit: no
bg_image: /assets/css/speculate.jpg
bg_image_width: 3000
bg_image_height: 2540
image_credit:
    url: https://www.flickr.com/photos/statelibraryofnsw/2959974003/
    description: "Simmons' Mining"
    by: "State Library of New South Wales"

---
{% block content %}
<p>
Beau and Dave talk about pretty lights, Meltdown, Spectre, and cryptocurrencies.
</p>

<ul>
<li><a target="_blank" href="http://thatpodcast.io.test/episodes/episode-41-sad/">Episode 41: SAD</a></li>
<li><a target="_blank" href="https://en.wikipedia.org/wiki/Seasonal_affective_disorder">Seasonal affective disorder (SAD)</a></li>
<li><a target="_blank" href="https://www2.meethue.com/en-us">Philips Hue</a></li>
<li><a target="_blank" href="https://justgetflux.com/">f.lux</a></li>
<li><a target="_blank" href="https://www.youneedabudget.com/">You Need A Budget (YNAB)</a></li>
<li><a target="_blank" href="https://www.target.com/">Target</a></li>
<li><a target="_blank" href="https://www.apple.com/ios/home/">HomeKit</a></li>
<li><a target="_blank" href="https://www.amazon.com/Amazon-Echo-And-Alexa-Devices/b?ie=UTF8&node=9818047011">Amazon Alexa</a></li>
<li><a target="_blank" href="https://twitter.com/beausimensen/status/943607558547308544">Beau's Tweet about Alexa making things 50x more complicated if it doesn't work the first time</a></li>
<li><a target="_blank" href="https://www.amazon.com/ddb/learn-more">Amazon Dash Buttons</a></li>
<li><a target="_blank" href="https://www.amazon.com/b?ie=UTF8&node=14498690011">Amazon Subscriptions</a></li>
<li><a target="_blank" href="https://twitter.com/beausimensen/status/909776179678367746">Beau's Tweet with Amazon selling him Prime Video</a></li>
<li><a target="_blank" href="https://meltdownattack.com/">Meltdown and Spectre</a></li>
<li><a target="_blank" href="https://twitter.com/misc0110/status/948706387491786752">Tweet Dave mentions showing password field to console Meltdown exploit</a></li>
<li><a target="_blank" href="https://twitter.com/securelyfitz/status/949370010652196864">Twitter Thread mentioned by Beau about how long for a proper fix to hit the market</a></li>
<li><a target="_blank" href="http://archive.is/ma8Iw">Processor-Context ID (PCID)</a></li>
<li><a target="_blank" href="https://twitter.com/Nick_Craver/status/948902879921926144">Tweets on impact from StackOverflow architect (Nick Craver)</a></li>
<li><a target="_blank" href="https://twitter.com/Nick_Craver">Coinbase</a></li>
<li><a target="_blank" href="https://authy.com/">Authy</a></li>
<li><a target="_blank" href="https://www.yubico.com/products/yubikey-hardware/">YubiKey</a></li>
<li><a target="_blank" href="https://www.phpconference.co.uk/">PHP UK Conference</a></li>
<li><a target="_blank" href="https://2018.midwestphp.org/">Midwest PHP</a></li>
</ul>

{% endblock %}
{% block itunes_summary %}
Meltdown and Spectre, oh my!

{% endblock %}
