---
title: The One Where We Manage Products
subtitle: Christophe Dujarric shares his experience with Product Management
number: 44
date: Wed, 24 Jan 2018 22:45:00 +0000
guid: 445e4e52-252e-4207-bca9-99b1d1243517
embed_url: http://audio.simplecast.com/fa6beed5.mp3
rss_url: http://audio.simplecast.com/fa6beed5.mp3
download_url: http://audio.simplecast.com/fa6beed5.mp3
duration: 00:53:08
file_size: 25588695
explicit: no
bg_image: /assets/css/you-are-here.png
bg_image_width: 1280
bg_image_height: 720
image_credit:
    url: https://blog.blackfire.io/technical-product-manager-at-sensiolabs.html
    description: "You're here"
    by: Christophe Dujarric

---
{% block content %}
<p>Christophe Dujarric joins Beau and Dave to talk about Product Management</p>

<ul>
<li><a target="_blank" href="https://christophedujarric.wordpress.com/">Christophe Dujarric</a></li>
<li><a target="_blank" href="https://twitter.com/Chris_Dujarric">@Chris_Dujarric</a></li>
<li><a target="_blank" href="https://twitter.com/ericlbarnes/status/954551672587587584">Eric Barnes' Tweet about Bitcoin refunds</a></li>
<li><a target="_blank" href="https://twitter.com/davedevelopment/status/954812700948926464">Dave's Tweet about ThatCoin ICO</a></li>
<li><a target="_blank" href="https://twitter.com/mdavis1982/status/954348807877283840">Matthew Davis' Tweet about Tailwind CSS styles for Sketch</a></li>
<li><a target="_blank" href="https://www.goabstract.com/">Abstract (Sketch collaboration service)</a></li>
<li><a target="_blank" href="https://twitter.com/marvelapp/status/955464173659533312">Sketch's Tweet about listening to That Podcast</a></li>
<li><a target="_blank" href="https://picnic.design/">Picnic (Sketch collaboration service)</a></li>
<li><a target="_blank" href="https://plantapp.io/">Plant (Sketch collaboration service)</a></li>
<li><a target="_blank" href="https://blackfire.io/">Blackfire</a></li>
<li><a target="_blank" href="https://laravelshift.com/">Laravel Shift</a></li>
<li><a target="_blank" href="https://twitter.com/gonedark">Jason McCreary (@gonedark)</a></li>
<li><a target="_blank" href="https://christophedujarric.wordpress.com/2017/07/06/product-design-is-not-product-management/">Product Design is not Product Management</a></li>
<li><a target="_blank" href="https://www.pragmaticmarketing.com/framework">Pragmatic Marketing Framework</a></li>
<li><a target="_blank" href="https://www.productfocus.com/resources/product-activities-framework/">Product Activities Framework (Product Focus)</a></li>
<li><a target="_blank" href="https://en.wikipedia.org/wiki/Holacracy">Holacracy</a></li>
<li><a target="_blank" href="https://labs.spotify.com/2014/03/27/spotify-engineering-culture-part-1/">Spotify engineering culture (part 1)</a></li>
<li><a target="_blank" href="https://christophedujarric.wordpress.com/">A Way to Product Management</a></li>
<li><a target="_blank" href="https://ninjagrl.com/je-suis-une-pomme">Bec's book: Je suis une pomme</a></li>
<li><a target="_blank" href="https://blackfire.io/docs/24-days/index">24 Days of Blackfire</a></li>
</ul>

{% endblock %}
{% block itunes_summary %}
Christophe Dujarric joins Beau and Dave to talk about Product Management.

{% endblock %}
