---
title: The One Where the Events Are the Sauce and Not the Meat
subtitle: "Because that's how EventSauce.io rolls."

number: 49
date: Fri, 16 Mar 2018 03:17:00 +0000
guid: 7d40bccf-e162-4a23-9669-b592e10455a6
embed_url: http://audio.simplecast.com/61afe0ad.mp3
rss_url: http://audio.simplecast.com/61afe0ad.mp3
download_url: http://audio.simplecast.com/61afe0ad.mp3
duration: 00:49:05
file_size: 23643681
explicit: no
bg_image: /assets/css/eventsauce.jpg
bg_image_width: 1400
bg_image_height: 788
image_credit:
    url: https://eventsauce.io
    description: EventSauce
    by: Frank de Jonge

---
{% block content %}
	<p>
		Beau and Dave discuss EventSauce (eventsauce.io) with Frank de Jonge.
	</p>
	<ul>
		<li><a target="_blank" href="https://twitter.com/frankdejonge">Frank de Jonge (@frankdejonge)</a></li>
		<li><a target="_blank" href="https://www.patreon.com/frankdejonge">Frank's Patreon</a></li>
		<li><a target="_blank" href="https://frankdejonge.nl/">Frank's personal site</a></li>
		<li><a target="_blank" href="https://thephpleague.com/">The PHP League – The League of Extraordinary Packages</a></li>
		<li><a target="_blank" href="http://flysystem.thephpleague.com/">Flysystem</a></li>
		<li><a target="_blank" href="https://laravel-news.com/laravel-5">Laravel 5 feature list includes Flysystem</a></li>
		<li><a target="_blank" href="https://packagist.com/">Packagist.com – Composer package archive as a service for PHP</a></li>
		<li><a target="_blank" href="https://toranproxy.com/">Toran Proxy</a></li>
		<li><a target="_blank" href="https://eventsauce.io/">EventSauce</a></li>
		<li><a target="_blank" href="http://getprooph.org/">Prooph</a></li>
		<li><a target="_blank" href="https://github.com/broadway">Broadway</a></li>
		<li><a target="_blank" href="https://redux.js.org/">Redux</a></li>
		<li><a target="_blank" href="http://a.co/gZFYlbN">The Secrets of Consulting: A Guide to Giving and Getting Advice Successfully (Consulting Secrets Book 1)</a></li>
		<li><a target="_blank" href="https://twitter.com/dhh/status/971246889411776513">@dhh Tweet about Patreon and Hardcore History</a></li>
		<li><a target="_blank" href="https://www.patreon.com/dancarlin">Dan Carlin's Patreon for Hardcore History</a></li>
		<li><a target="_blank" href="https://www.dancarlin.com/hardcore-history-series/">Hardcore History</a></li>
		<li><a target="_blank" href="https://laravel.com/">Laravel</a></li>
		<li><a target="_blank" href="https://twitter.com/taylorotwell">Taylor Otwell (@taylorotwell)</a></li>
	</ul>


{% endblock %}
{% block itunes_summary %}
Beau and Dave discuss EventSauce (eventsauce.io) with Frank de Jonge.

{% endblock %}
