---
title: The One Where Silex Is Dead
subtitle: Beau and Dave discuss the death of Silex with Kevin Boyd.

number: 47
date: Thu, 15 Feb 2018 11:02:00 +0000
guid: 9e563cf9-7583-4998-b906-bd483688a16d
embed_url: http://audio.simplecast.com/9c349a0b.mp3
rss_url: http://audio.simplecast.com/9c349a0b.mp3
download_url: http://audio.simplecast.com/9c349a0b.mp3
duration: 00:42:37
file_size: 20546175
explicit: no
bg_image: /assets/css/sunset.jpg
bg_image_width: 3204
bg_image_height: 1746
image_credit:
    url: https://unsplash.com/photos/pdAnq78gJhg
    description: Sunset
    by: Patrik Linderstam

---
{% block content %}
Beau and Dave discuss the death of Silex with <a href="https://twitter.com/beryllium9" target="_blank">Kevin Boyd</a>.

<ul>
    <li><a href="https://twitter.com/Crell/status/931071445488295936" target="_blank">@Crell's tweet at SymfonyCon</a></li>
    <li><a href="https://github.com/silexphp/Silex/issues/1578" target="_blank">Silex issue #1578</a></li>
    <li><a href="https://symfony.com/blog/the-end-of-silex" target="_blank">Official Announcement</a></li>
    <li><a href="https://whateverthing.com/blog/2018/01/17/a-threnody-for-silex/" target="_blank">A Threnody for Silex</a></li>
    <li><a href="https://github.com/opencfp/opencfp/issues/618" target="_blank">OpenCFP converting to Symfony 4</a></li>
    <li><a href="https://twitter.com/BoltCM/status/931094453707792386" target="_blank">BoltCM converting to Symfony 4</a></li>
    <li><a href="https://leanpub.com/silexwebapps" target="_blank">Kevin's book: Building Web Applications with Silex 2</a></li>
    <li><a href="https://github.com/symfony/symfony-docs/issues/8678" target="_blank">Short guide explaining how to migrate from Silex to Symfony 4+ Flex</a></li>

    <li><a href="https://twitter.com/frankdejonge" target="_blank">@frankdejonge</a></li>
    <li><a href="https://blog.frankdejonge.nl/symfony-routing-performance-considerations/" target="_blank">Battle Log: Symfony Routing performance considerations.</a></li>

    <li><a href="https://github.com/Cilex/Cilex" target="_blank">Cilex</a></li>
    <li><a href="https://github.com/silexphp/Silex/issues/542" target="_blank">Beau's PR for console applications</a></li>

    <li><a href="https://en.oxforddictionaries.com/definition/threnody" target="_blank">Threnody Definition</a></li>
    <li><a href="http://www.decisionproblem.com/paperclips/index2.html" target="_blank">Universal Paperclips</a></li>
</ul>

{% endblock %}
{% block itunes_summary %}
Beau and Dave discuss the death of Silex with Kevin Boyd.

{% endblock %}
