---
title: The One Where Summer Got Away from Us
subtitle: 
number: 53
date: Wed, 03 Oct 2018 19:23:00 +0000
guid: f29a6e1a-6592-4dc4-ba5f-0b69a381c7c0
embed_url: http://audio.simplecast.com/32490f2f.mp3
rss_url: http://audio.simplecast.com/32490f2f.mp3
download_url: http://audio.simplecast.com/32490f2f.mp3
duration: 00:28:03
file_size: 13551166
explicit: no
bg_image: /assets/css/hello-goodbye.jpg
bg_image_width: 1080
bg_image_height: 760
image_credit:
    url: https://www.instagram.com/p/BkYgoryHJF4/?taken-by=ninjagrl
    description: "Luke picked mat :)"
    by: ninjagrl

---
{% block content %}

{% endblock %}
{% block itunes_summary %}

{% endblock %}
{% block transcript %}
<p class="transcript">
    <span class="transcript__speaker">Dave Marshall</span>
    <span class="transcript__time">00:17</span>
    <span class="transcript__content">Hi, and welcome to another episode of That Podcast. I'm Dave.</span>
</p>
<p class="transcript">
    <span class="transcript__speaker">Beau Simensen</span>
    <span class="transcript__time">00:20</span>
    <span class="transcript__content">And I'm Beau.</span>
</p>
<p class="transcript">
    <span class="transcript__speaker">Dave Marshall</span>
    <span class="transcript__time">00:21</span>
    <span class="transcript__content">How's it going, Beau?</span>
</p>
<p class="transcript">
    <span class="transcript__speaker">Beau Simensen</span>
    <span class="transcript__time">00:22</span>
    <span class="transcript__content">Oh, it's going alright. It's been a little while since you and I had a Dave and Beau podcast. It's been a really busy summer, for me anyway. How about you?</span>
</p>
<p class="transcript">
    <span class="transcript__speaker">Dave Marshall</span>
    <span class="transcript__time">00:32</span>
    <span class="transcript__content">Oh, definitely. Yeah. I'm just, I don't know ... And some times it didn't seem like we did a lot, but it seemed to go really quickly and my days are ... Obviously, we both work from home, both have our families at home. So, my work day was sort of interspersed in chunks throughout most days when I was trying to get involved in things that were going on. So, yeah, very busy. Not quite as busy as I would've liked from a work perspective, but ... You know, gotta find that balance somewhere, haven't we?</span>
</p>
<p class="transcript">
    <span class="transcript__speaker">Beau Simensen</span>
    <span class="transcript__time">01:04</span>
    <span class="transcript__content">Yeah. The ... Your surroundings look a little different, a little brighter, a little less-</span>
</p>
<p class="transcript">
    <span class="transcript__speaker">Dave Marshall</span>
    <span class="transcript__time">01:10</span>
    <span class="transcript__content">Yeah, so-</span>
</p>
<p class="transcript">
    <span class="transcript__speaker">Beau Simensen</span>
    <span class="transcript__time">01:10</span>
    <span class="transcript__content">... Stuff.</span>
</p>
<p class="transcript">
    <span class="transcript__speaker">Dave Marshall</span>
    <span class="transcript__time">01:11</span>
    <span class="transcript__content">Yeah, so we're moving, or trying to move house.</span>
</p>
<p class="transcript">
    <span class="transcript__speaker">Beau Simensen</span>
    <span class="transcript__time">01:15</span>
    <span class="transcript__content">Okay.</span>
</p>
<p class="transcript">
    <span class="transcript__speaker">Dave Marshall</span>
    <span class="transcript__time">01:16</span>
    <span class="transcript__content">So, what we actually did was I hired a storage container, just a shipping container. I hired that, and we basically sort of started moving out. So, behind me on the wall you usually used to see bookshelves. And they were full of books, but also sort of other junk just shoved on. But we took all of that down, and just started trying to declutter the house a bit. Trying to do two things at once, really. One is pack stuff in preparation for moving. </span>
</p>
<p class="transcript">
    <span class="transcript__speaker">Dave Marshall</span>
    <span class="transcript__time">01:45</span>
    <span class="transcript__content">But also just to declutter the house to make it look a little bit neater and tidy for people coming around to view it. We've not had too much look so far, trying to sell the house. But we did drop the price today for the first time, the listing price. So, we've dropped it. We originally set the price at the top evaluation bracket. So, now we've set the price halfway. And I changed the price today, and somebody's already arranged a viewing. So that's good. We'll just have to see.</span>
</p>
<p class="transcript">
    <span class="transcript__speaker">Beau Simensen</span>
    <span class="transcript__time">02:14</span>
    <span class="transcript__content">Did you get any viewings prior to that?</span>
</p>
<p class="transcript">
    <span class="transcript__speaker">Dave Marshall</span>
    <span class="transcript__time">02:16</span>
    <span class="transcript__content">Yeah, only five though. And we've been on the market almost three months.</span>
</p>
<p class="transcript">
    <span class="transcript__speaker">Beau Simensen</span>
    <span class="transcript__time">02:20</span>
    <span class="transcript__content">Okay.</span>
</p>
<p class="transcript">
    <span class="transcript__speaker">Dave Marshall</span>
    <span class="transcript__time">02:20</span>
    <span class="transcript__content">So, not really that good for this area.</span>
</p>
<p class="transcript">
    <span class="transcript__speaker">Beau Simensen</span>
    <span class="transcript__time">02:23</span>
    <span class="transcript__content">Yeah. You're not in a real big rush, either are you?</span>
</p>
<p class="transcript">
    <span class="transcript__speaker">Dave Marshall</span>
    <span class="transcript__time">02:28</span>
    <span class="transcript__content">We're not in a rush, but we'd like to move. We-</span>
</p>
<p class="transcript">
    <span class="transcript__speaker">Beau Simensen</span>
    <span class="transcript__time">02:32</span>
    <span class="transcript__content">Yeah.</span>
</p>
<p class="transcript">
    <span class="transcript__speaker">Dave Marshall</span>
    <span class="transcript__time">02:32</span>
    <span class="transcript__content">We've been in this house 10 years now, we're definitely ready to move, both financially ... You know, we're both fluid in the minute, ready for this. We're ... Both Rebecca and I are working from home full-time. Rebecca doesn't have any desk space at all. So she usually works in the living room, sitting room, on her laptop. I do have an office, but it's actually part of our dressing room, off our bedroom. So I'd like ... We'd both like ... Well, because I'm the one earning the money at the minute, we're definitely like dedicated office space for me. Ideally we'd like dedicated office space for both of us. Although, we can't work in the same room apparently, because Rebecca doesn't like that. So ... Rebecca-</span>
</p>
<p class="transcript">
    <span class="transcript__speaker">Beau Simensen</span>
    <span class="transcript__time">03:20</span>
    <span class="transcript__content">Do you breathe funny or ...</span>
</p>
<p class="transcript">
    <span class="transcript__speaker">Dave Marshall</span>
    <span class="transcript__time">03:21</span>
    <span class="transcript__content">Rebecca ... She talks to herself while she's working. And I said I don't mind, but she said she feels like she would be sort of ... She'd probably try and restrain herself if I was there. </span>
</p>
<p class="transcript">
    <span class="transcript__speaker">Beau Simensen</span>
    <span class="transcript__time">03:33</span>
    <span class="transcript__content">Yeah.</span>
</p>
<p class="transcript">
    <span class="transcript__speaker">Dave Marshall</span>
    <span class="transcript__time">03:35</span>
    <span class="transcript__content">And that might mess with her flow, or-</span>
</p>
<p class="transcript">
    <span class="transcript__speaker">Beau Simensen</span>
    <span class="transcript__time">03:39</span>
    <span class="transcript__content">Yeah.</span>
</p>
<p class="transcript">
    <span class="transcript__speaker">Dave Marshall</span>
    <span class="transcript__time">03:40</span>
    <span class="transcript__content">Whatever. Everyone has their habits, don't they? And, so yeah.</span>
</p>
<p class="transcript">
    <span class="transcript__speaker">Beau Simensen</span>
    <span class="transcript__time">03:44</span>
    <span class="transcript__content">That makes a lot of sense.</span>
</p>
<p class="transcript">
    <span class="transcript__speaker">Dave Marshall</span>
    <span class="transcript__time">03:45</span>
    <span class="transcript__content">I thought it would've been nice ... I thought it would've been nice to share an office, but-</span>
</p>
<p class="transcript">
    <span class="transcript__speaker">Beau Simensen</span>
    <span class="transcript__time">03:48</span>
    <span class="transcript__content">Yeah. Well, both 'Becca and I have talked about that before, because we have one room for me, and one room for her. We just moved ... We're still finishing that, but we weren't sure if the room she's in was actually gonna be good all four seasons. So, every once in a while we talk about sharing a room. And at any given time, either one of us is like, yeah, that could be really cool. And the other one's like, mm. No.</span>
</p>
<p class="transcript">
    <span class="transcript__speaker">Dave Marshall</span>
    <span class="transcript__time">04:17</span>
    <span class="transcript__content">Yeah.</span>
</p>
<p class="transcript">
    <span class="transcript__speaker">Beau Simensen</span>
    <span class="transcript__time">04:18</span>
    <span class="transcript__content">So, yeah it's something that we've talked about too, is: Could we get away with that? What would that be like? It might be kinda nice, but yeah, it's also nice to have your own space. Especially if you're working on different things. If she's working on things on her schedule, you're working on different things, and yeah. It makes sense. So, you're looking for a place with a proper office space for you then?</span>
</p>
<p class="transcript">
    <span class="transcript__speaker">Dave Marshall</span>
    <span class="transcript__time">04:40</span>
    <span class="transcript__content">Yeah, so basically ... I mean, we're in a three-bedroom house now. We're looking for a four-bedroom. Ideally it would be four-bedroom, plus a study of some kind. So, that would mean there's a spare bedroom, which would makeshift as an office. And hopefully a spare ... A guest bedroom, and a study as well to be an office for us. So, yeah, so we've seen a few houses that we like. So, we're just kinda ... We're looking at any new ones that come up in our sort of price range that we like the look of and meet our criteria, and waiting to try and sell ours basically. So, we'll just have to see.</span>
</p>
<p class="transcript">
    <span class="transcript__speaker">Beau Simensen</span>
    <span class="transcript__time">05:16</span>
    <span class="transcript__content">Cool.</span>
</p>
<p class="transcript">
    <span class="transcript__speaker">Dave Marshall</span>
    <span class="transcript__time">05:17</span>
    <span class="transcript__content">But yeah, to be honest, it's one of those things where, we've said it to everybody. We ... I've put a lot of stuff in the storage container. And it's one of those things where you ... When you're walking around the house, you kinda feel like why didn't we just live like this all the time? But I refuse to throw away any of the stuff that I've got in the storage container. </span>
</p>
<p class="transcript">
    <span class="transcript__speaker">Beau Simensen</span>
    <span class="transcript__time">05:33</span>
    <span class="transcript__content">Yeah.</span>
</p>
<p class="transcript">
    <span class="transcript__speaker">Dave Marshall</span>
    <span class="transcript__time">05:34</span>
    <span class="transcript__content">And I'm supposed to have that storage container sort of during this period of us moving, but I can probably see me keeping it for life, because I just ... I'm not a complete hoarder, but I do like to keep stuff. So, yeah.</span>
</p>
<p class="transcript">
    <span class="transcript__speaker">Beau Simensen</span>
    <span class="transcript__time">05:50</span>
    <span class="transcript__content">Cool. How about work stuff?</span>
</p>
<p class="transcript">
    <span class="transcript__speaker">Dave Marshall</span>
    <span class="transcript__time">05:53</span>
    <span class="transcript__content">So, work stuff ... I mean ... Yeah. The day job, so for childcare.co.uk .... Little progress on the things I've wanted to work on this year. We spent a lot of time doing all the privacy stuff, which I'm quite pleased with how it turned out. Obviously, it was forced upon us a little bit by the GDPR. And basically, I mean, we were all ready for the May deadline as it were, but we've been tweaking things since then. We've actually dealt with, not a lot of sort of subject requests. But definitely a few ... We're definitely past 100. And that started out ... I mean, basically I waited until we got the first one, and then I automated it from there. And it's ... That's built up from being a sort of screens with a few buttons for us to press, to being fully automated now. So if somebody does request that we delete our data, we just have to create a subject erasure request, and then the system goes through, and just deletes as much as it can. </span>
</p>
<p class="transcript">
    <span class="transcript__speaker">Beau Simensen</span>
    <span class="transcript__time">06:55</span>
    <span class="transcript__content">Cool.</span>
</p>
<p class="transcript">
    <span class="transcript__speaker">Dave Marshall</span>
    <span class="transcript__time">06:57</span>
    <span class="transcript__content">And lets the user know what they've done. In the cases where we might have to keep some data, say for financial records, or fraud purposes, it'll tell them the data we're keeping, how long we're gonna keep it for, stuff like that. So-</span>
</p>
<p class="transcript">
    <span class="transcript__speaker">Beau Simensen</span>
    <span class="transcript__time">07:12</span>
    <span class="transcript__content">Yeah.</span>
</p>
<p class="transcript">
    <span class="transcript__speaker">Dave Marshall</span>
    <span class="transcript__time">07:12</span>
    <span class="transcript__content">So, I'm quite pleased with that. But, yeah, in terms of other things I'm a bit disappointed in. It's just the way it is. We're a small team. And you can make plans for the year ahead, but what we usually end up doing is reacting to things.</span>
</p>
<p class="transcript">
    <span class="transcript__speaker">Beau Simensen</span>
    <span class="transcript__time">07:27</span>
    <span class="transcript__content">Yeah.</span>
</p>
<p class="transcript">
    <span class="transcript__speaker">Dave Marshall</span>
    <span class="transcript__time">07:28</span>
    <span class="transcript__content">And I wouldn't have it any other way, but-</span>
</p>
<p class="transcript">
    <span class="transcript__speaker">Beau Simensen</span>
    <span class="transcript__time">07:29</span>
    <span class="transcript__content">Yeah.</span>
</p>
<p class="transcript">
    <span class="transcript__speaker">Dave Marshall</span>
    <span class="transcript__time">07:29</span>
    <span class="transcript__content">So, yeah. That's gone fine. In terms of other things, I've not done too well with my Open Source contributions. [inaudible 00:07:38] is really the only thing that needs my attention. And I do that maybe once a week now. I sort of go in and wiz through PR's and it's okay, but it's kind of ... It's also a bit rubbish. </span>
</p>
<p class="transcript">
    <span class="transcript__speaker">Beau Simensen</span>
    <span class="transcript__time">07:50</span>
    <span class="transcript__content">Yeah. </span>
</p>
<p class="transcript">
    <span class="transcript__speaker">Dave Marshall</span>
    <span class="transcript__time">07:51</span>
    <span class="transcript__content">But again, I don't have ... I don't ... It's one of ... It's a project that's very popular, but I don't really ... I mean, I use it every day, but I don't use it in a way that requires my attention on the actual ... I'm a user more than a-</span>
</p>
<p class="transcript">
    <span class="transcript__speaker">Beau Simensen</span>
    <span class="transcript__time">08:06</span>
    <span class="transcript__content">Yeah.</span>
</p>
<p class="transcript">
    <span class="transcript__speaker">Dave Marshall</span>
    <span class="transcript__time">08:07</span>
    <span class="transcript__content">Maintainer. </span>
</p>
<p class="transcript">
    <span class="transcript__speaker">Beau Simensen</span>
    <span class="transcript__time">08:08</span>
    <span class="transcript__content">It works for you.</span>
</p>
<p class="transcript">
    <span class="transcript__speaker">Dave Marshall</span>
    <span class="transcript__time">08:09</span>
    <span class="transcript__content">Yeah, that's right. </span>
</p>
<p class="transcript">
    <span class="transcript__speaker">Beau Simensen</span>
    <span class="transcript__time">08:09</span>
    <span class="transcript__content">Yeah. </span>
</p>
<p class="transcript">
    <span class="transcript__speaker">Dave Marshall</span>
    <span class="transcript__time">08:12</span>
    <span class="transcript__content">And then I've started jotting down ideas to start ... I have three side projects sort of in my head. One's started in that's got a name, and I've started jotting down notes about the implementation as well as how it will work. The other two, are I've just doing ... One of them I'm just doing a little bit of market research on. And the other one is just in my head. It's the one we just talked about, that bullet list type thing. And to be honest, that's one that there might actually be something out there for me already. </span>
</p>
<p class="transcript">
    <span class="transcript__speaker">Dave Marshall</span>
    <span class="transcript__time">08:48</span>
    <span class="transcript__content">Sorry about that. I just realized I'm recording my desktop machine. I have a screen lock that comes on if I don't touch any keys for a while. So it actually came on. I have to sort of keep moving every now and then. So yeah, so I'm busy but not ...</span>
</p>
<p class="transcript">
    <span class="transcript__speaker">Beau Simensen</span>
    <span class="transcript__time">09:02</span>
    <span class="transcript__content">Yeah.</span>
</p>
<p class="transcript">
    <span class="transcript__speaker">Dave Marshall</span>
    <span class="transcript__time">09:03</span>
    <span class="transcript__content">Nothing too much has changed. How about you?</span>
</p>
<p class="transcript">
    <span class="transcript__speaker">Beau Simensen</span>
    <span class="transcript__time">09:06</span>
    <span class="transcript__content">My Open Source stuff is basically flat lined. I haven't really done much of anything at all, Open Source, in a while. Doesn't mean that there probably aren't PR's that I'm missing on some of my packages. But, you know, pretty much for the last two years, I haven't done a whole lot of code period. And I'm kind of open to change that a little bit. I've been dabbling a little bit more with Symfony Flex, and trying to create some apps. Just do more stuff that involves editing code and writing code, and running code. </span>
</p>
<p class="transcript">
    <span class="transcript__speaker">Beau Simensen</span>
    <span class="transcript__time">09:40</span>
    <span class="transcript__content">But yeah, as far as like Open Source stuff, not a whole lot. I think we've talked about Mudskipper at least once or twice, but I've pretty much ... I think that's pretty much dead. In case these episodes come out of order, [inaudible 00:09:56]was gonna be some marketing automation tools for makers, artists, and crafters. And with all of the ... All of the stuff where Facebook and Twitter and whatnot are trying to crack down on bots and automation, and trolls, and bot farms and things like that. They're making it very difficult for those sorts of products to actually exist anymore. </span>
</p>
<p class="transcript">
    <span class="transcript__speaker">Beau Simensen</span>
    <span class="transcript__time">10:21</span>
    <span class="transcript__content">[inaudible 00:10:21] finally launched it's content spinning thing. I haven't tried it yet. They offered me a month free service to go back and try it again. It looks interesting, but I don't know how interesting. I don't know, it still doesn't feel very nice. I think what it did was, as long as you pasted a link to an article or a link to something, it would scour the page and find interesting tidbits, then offer up three to five quotes that it pulled out of the article that it thinks would be interesting.</span>
</p>
<p class="transcript">
    <span class="transcript__speaker">Beau Simensen</span>
    <span class="transcript__time">10:57</span>
    <span class="transcript__content">Which, if that works well, that would be really great. But I can see that not working very well, unless they have Amazon [inaudible 00:11:05] in the background where people are actually seeing, oh this sentence looks really cool. Are they clicking on it? If they're relying on some sort of machine-learning thing, I don't know how accurate it would be. Speaking of which ... We started to do subtitles ... Or, not subtitles, captions for our transcript. That's the word. There's three words there. Transcripts for our podcast episodes.</span>
</p>
<p class="transcript">
    <span class="transcript__speaker">Beau Simensen</span>
    <span class="transcript__time">11:31</span>
    <span class="transcript__content">And we've been using Rev.com. And they just launched a sister project called Tremi? Is it? ... Let me double check here, 'cause I just got it today. Temi. T-E-M-I.com And it's supposed to be the same sort of thing, but way faster, way cheaper, and doing it all via AI. And the ... If you give it good audio, it claims results 90 to 95% accuracy. And bad audio, mostly unusable. So, I actually have a considerable backlog of podcast episodes to do post-processing on. But I tried this for both the first two episodes that I did.</span>
</p>
<p class="transcript">
    <span class="transcript__speaker">Beau Simensen</span>
    <span class="transcript__time">12:23</span>
    <span class="transcript__content">One was definitely bad audio. And it was pretty unusable. I was surprised by how unusable it was. It's worse than Google Voice, which hasn't changed in 10 years. It's still pretty ... Pretty bad. Especially with crosstalk. The second one I uploaded, I thought it was good audio. And it even claimed so. It listed the quality as high quality. And even that was not very good. I was not very pleased with that. So, I'm gonna try and ... And I paid for that one. </span>
</p>
<p class="transcript">
    <span class="transcript__speaker">Beau Simensen</span>
    <span class="transcript__time">12:55</span>
    <span class="transcript__content">The first one was free. The second one ... It was only three dollars, which is ... Almost ... It's like 60 ... It would've ... I think it would've been 40 to 60 dollars on Rev. So, it was a lot cheaper. But, pretty much unusable. I wouldn't have wanted to upload that. So, I sent those through rev.com again. And I wanna see ... I wanna make sure that that's actually worth the money, too. But based on our first few that we did, it looks like it's going to be. </span>
</p>
<p class="transcript">
    <span class="transcript__speaker">Beau Simensen</span>
    <span class="transcript__time">13:25</span>
    <span class="transcript__content">Well, anyway, speaking of AI things and machine-learning, I hear so much about that. And every once in a while, it looks like things are really awesome. Then other times it's like, wow, that's ... That needs some work right there. So, anyway ... But if you have a smaller project, or something like that, I think it could be useful. Like if you have one person and you're clearly dictating, as opposed to a back-and-forth discussion like we're having. Or if we have three or four people on altogether, it doesn't seem to be very good for that. </span>
</p>
<p class="transcript">
    <span class="transcript__speaker">Beau Simensen</span>
    <span class="transcript__time">13:57</span>
    <span class="transcript__content">So, yeah. I've also been trying to work on some more audio tools. So, I've been not programming, but working with Adobe Edition, I've been playing around with Audio Hijack. Trying to do some more things with OBS, which is Open Broadcast Studio. And, what is it? Telestreams ... Streamflow? I think it was? So, I'm trying to get better at those tools. There's a bunch of things that I should be doing for Blackfire. We want to do more video tutorials of things, where it's ... Especially with Blackfire and the performance stuff, sometimes it's really difficult to convey those ideas just with a blog post.</span>
</p>
<p class="transcript">
    <span class="transcript__speaker">Beau Simensen</span>
    <span class="transcript__time">14:38</span>
    <span class="transcript__content">Whereas if you could actually show somebody in a 45 second clip how a new feature works, it makes more sense. I would say there's probably 10 to 20% of users who the first time they install Blackfire, they assume that profiles are just gonna start showing up in their dashboard. It's just basic stuff that people don't understand outright, that that's not how Blackfire works. You actually have to go and profile ... You have to create the profiles. It's not just gonna start spitting 'em out for you. </span>
</p>
<p class="transcript">
    <span class="transcript__speaker">Beau Simensen</span>
    <span class="transcript__time">15:11</span>
    <span class="transcript__content">Part of that is that almost everybody seems to think that Blackfire is more or less the same as New Relic, which it's not. They're very different products. But, and so I wanna start doing more screen cast for Blackfire, definitely. So, I've been trying to make sure that I can get some good audio set up. I got a couple of new ... I actually paid for a couple of new effects. It's iZotope. Have you heard of iZotope? </span>
</p>
<p class="transcript">
    <span class="transcript__speaker">Dave Marshall</span>
    <span class="transcript__time">15:38</span>
    <span class="transcript__content">No.</span>
</p>
<p class="transcript">
    <span class="transcript__speaker">Beau Simensen</span>
    <span class="transcript__time">15:40</span>
    <span class="transcript__content">They have a bunch of plug-ins for mastering and EQ and compression and all these sorts of things. So, I wanna try those. See if I can get better at those. Using Audio Hijack to kind of in-line things in some cases, so that it's actually going out to whatever is doing the audio recording in a really nice format, rather than having to do it in post. So, yeah, it's been kind of a fun experiment to start playing with audio and video things. It's a big learning curve though, if you haven't done a whole lot of it in the past. Have you done much with screen casting, screen recording, that sort of thing?</span>
</p>
<p class="transcript">
    <span class="transcript__speaker">Dave Marshall</span>
    <span class="transcript__time">16:17</span>
    <span class="transcript__content">Only the very basics. I did start doing a few screen casts a while ago. But I've never really taught ... The ones I used to do ... I used to do [inaudible 00:16:29]. Are you familiar with those? Just trying ... I was doing them anyway, doing the [inaudible 00:16:35] anyway, so I thought why not record? But then without the voice-</span>
</p>
<p class="transcript">
    <span class="transcript__speaker">Beau Simensen</span>
    <span class="transcript__time">16:39</span>
    <span class="transcript__content">Yeah.</span>
</p>
<p class="transcript">
    <span class="transcript__speaker">Dave Marshall</span>
    <span class="transcript__time">16:40</span>
    <span class="transcript__content">It's just music to me. Coding. But, yeah. I'm ... I'd like to be ... I'd still like to try and do it sometime, but I'm just not very ... I don't have much to say, because my day job, I am not using state of the art tools everyone else is using, everyone wants to learn about now. I could probably find some interesting things to show, but not in any kind of consistent way or regular way, or ... So, yeah. But who knows. Who knows what I might do. Maybe when I start working on these side projects, if I ever get 'round to working on them, I could maybe screen cast some of that. Or, I don't know.</span>
</p>
<p class="transcript">
    <span class="transcript__speaker">Beau Simensen</span>
    <span class="transcript__time">17:17</span>
    <span class="transcript__content">Yeah. Yeah, so I've signed up with Twitch. So, I'm gonna start trying to do some stuff on Twitch with some live programming. There's a couple of ... I feel like there's a couple of people in the community that are doing that regularly. I need to pay more attention to what they're doing. It seems pretty cool. Yeah, I don't know. I'm hoping that just doing that kind of in my off-time, it's gonna encourage me to work on side projects more. </span>
</p>
<p class="transcript">
    <span class="transcript__speaker">Beau Simensen</span>
    <span class="transcript__time">17:42</span>
    <span class="transcript__content">I'm hoping those two things feed each other, if you will. Otherwise, it's really easy to not end up doing anything, code-wise, and project just being stuck. But, if I need to find things to do for the screen casting, I'm gonna pick the things I wanna work on to actually kick off some side project or something. So, I'm looking forward to it. </span>
</p>
<p class="transcript">
    <span class="transcript__speaker">Dave Marshall</span>
    <span class="transcript__time">18:03</span>
    <span class="transcript__content">Yeah. I'm actually finding myself having a little bit more time to do stuff. The kids are getting ... They're still a bit chaotic, 'cause they're getting ready for school. But apart from ... I mean ... We ... In the ... I don't know how many other people actually do this, but in the UK they recommend you help your child brush their teeth until they're seven. And we kinda did that with Evie, so I'm gonna carry on doing it with Rowan. Even though I think when I see him brush, as long as he doesn't mess about. He brushes well enough to me, anyway. So, apart from that kinda like they just need supervising when they're getting ready for school. </span>
</p>
<p class="transcript">
    <span class="transcript__speaker">Beau Simensen</span>
    <span class="transcript__time">18:45</span>
    <span class="transcript__content">Yeah.</span>
</p>
<p class="transcript">
    <span class="transcript__speaker">Dave Marshall</span>
    <span class="transcript__time">18:46</span>
    <span class="transcript__content">And it's not that they're not capable of getting ready, it's just that they start playing, doing other things, dancing. So, it's getting easier in the mornings in that respect. So, I've actually started, when I get up, I've started doing a bit of work. 'Cause it's usually about ... Well, we either get up, have breakfast and get ready straight away. And then maybe an hour before we have to leave for school. Or we get up and sorta they'll play or they'll watch their TV. And then we'll get ready for school. So, there's usually about an hour in the morning. </span>
</p>
<p class="transcript">
    <span class="transcript__speaker">Dave Marshall</span>
    <span class="transcript__time">19:21</span>
    <span class="transcript__content">And so that really gets me a good kickstart to the day. It means I've got all of my day job work done by sort of tea time. Leave my evenings free to do whatever I like. And sometimes I like to work, do a little bit of reading. Sometimes I watch TV, sometimes I go out, and sometimes I might try and do a little bit of work on my side projects. It's not happened a lot, but I have felt like I've had the choice if I wanted to, which is kinda cool. So, I'm pleased to be in that sort of zone. </span>
</p>
<p class="transcript">
    <span class="transcript__speaker">Beau Simensen</span>
    <span class="transcript__time">19:53</span>
    <span class="transcript__content">Yeah, I'm pretty excited that school has started again. So, I think, as you mentioned earlier, we're both working from home, both our wives are working from home. During the summer time it could be quite distracting to-</span>
</p>
<p class="transcript">
    <span class="transcript__speaker">Dave Marshall</span>
    <span class="transcript__time">20:08</span>
    <span class="transcript__content">Definitely, yeah.</span>
</p>
<p class="transcript">
    <span class="transcript__speaker">Beau Simensen</span>
    <span class="transcript__time">20:09</span>
    <span class="transcript__content">Try to get anything done. So, as much as I hate to say yeah, I'm glad my son's not home anymore during the day. It does insure usually that I'm done working by the time we go pick him up. So that is pretty nice. And that leaves me with the rest of the day to either hang out with them, or work on side projects, or things like that. So, definitely it does help when it's smooth-sailing from the time they go to school. </span>
</p>
<p class="transcript">
    <span class="transcript__speaker">Dave Marshall</span>
    <span class="transcript__time">20:33</span>
    <span class="transcript__content">Yeah, and I don't know how it was for Luke either, but my kids are ready to go back. They want to see their friends more. They were getting sick of each other a little bit. It's interesting. So, on the last week of this holiday, Evie had three days of dance summer school. And on those days, Rowan was almost waiting for Evie to come home. And when she did, they kinda played nicely. They were pleased to see each other, they played. Whereas, on the days where they were just with each other all day playing, or doing things, they started to irritate each other. They were bickering and arguing a little bit, winding each other up and stuff like that. </span>
</p>
<p class="transcript">
    <span class="transcript__speaker">Dave Marshall</span>
    <span class="transcript__time">21:13</span>
    <span class="transcript__content">So, yeah. They were ready for it I think. And the other thing is quite a few of their activities start up again when the school starts. So, Evelyn's dance and acrobatics start again this week. Their swimming lessons start again this week. Rowan's football on Sundays starts again this week. So, all those activities come back as well. So, they're looking forward to all those starting, too.</span>
</p>
<p class="transcript">
    <span class="transcript__speaker">Beau Simensen</span>
    <span class="transcript__time">21:37</span>
    <span class="transcript__content">Cool. Yeah, Luke was getting a little tired of the move. That was kind of his ... His summer wasn't quite what he was expecting, I think. Or what we were expecting, either really. The intense focus on us moving in, moving out, cleaning, getting rooms ready ... Was harder for him to handle than I think we thought it would be. So, or he was pretty excited to go back to school as well, get on a more normal routine. He kinda knows what's happening all the time. He's got a schedule at school.</span>
</p>
<p class="transcript">
    <span class="transcript__speaker">Dave Marshall</span>
    <span class="transcript__time">22:12</span>
    <span class="transcript__content">Yeah.</span>
</p>
<p class="transcript">
    <span class="transcript__speaker">Beau Simensen</span>
    <span class="transcript__time">22:12</span>
    <span class="transcript__content">Whereas, he never had a schedule with us, really. And that took us longer than I think it should have, for us to remember that that's important for kids to know what's gonna happen when. And when you're stuck cleaning places, or doing a project at home or whatever, it's really easy to misjudge how long something's gonna take. </span>
</p>
<p class="transcript">
    <span class="transcript__speaker">Dave Marshall</span>
    <span class="transcript__time">22:32</span>
    <span class="transcript__content">Oh, definitely.</span>
</p>
<p class="transcript">
    <span class="transcript__speaker">Beau Simensen</span>
    <span class="transcript__time">22:33</span>
    <span class="transcript__content">Oh, yeah- We'll do this for an hour, and three hours later you're just getting to cutting into the wall, or whatever it is you're ... Whatever you're gonna do. And meanwhile he's just like, ugh.</span>
</p>
<p class="transcript">
    <span class="transcript__speaker">Dave Marshall</span>
    <span class="transcript__time">22:43</span>
    <span class="transcript__content">Yeah.</span>
</p>
<p class="transcript">
    <span class="transcript__speaker">Beau Simensen</span>
    <span class="transcript__time">22:44</span>
    <span class="transcript__content">Are we done yet? It's like, we just started! So-</span>
</p>
<p class="transcript">
    <span class="transcript__speaker">Dave Marshall</span>
    <span class="transcript__time">22:46</span>
    <span class="transcript__content">Yup. And it's just like with programming, anything like DIY, it's just like that.</span>
</p>
<p class="transcript">
    <span class="transcript__speaker">Beau Simensen</span>
    <span class="transcript__time">22:54</span>
    <span class="transcript__content">Yup.</span>
</p>
<p class="transcript">
    <span class="transcript__speaker">Dave Marshall</span>
    <span class="transcript__time">22:54</span>
    <span class="transcript__content">Malcolm in the Middle animated gif with the changing the light bulb.</span>
</p>
<p class="transcript">
    <span class="transcript__speaker">Beau Simensen</span>
    <span class="transcript__time">22:59</span>
    <span class="transcript__content">Changing the light bulb out. </span>
</p>
<p class="transcript">
    <span class="transcript__speaker">Dave Marshall</span>
    <span class="transcript__time">22:59</span>
    <span class="transcript__content">Yeah.</span>
</p>
<p class="transcript">
    <span class="transcript__speaker">Beau Simensen</span>
    <span class="transcript__time">23:00</span>
    <span class="transcript__content">Yeah. That's awesome.</span>
</p>
<p class="transcript">
    <span class="transcript__speaker">Dave Marshall</span>
    <span class="transcript__time">23:01</span>
    <span class="transcript__content">What does it look like I'm doing?</span>
</p>
<p class="transcript">
    <span class="transcript__speaker">Beau Simensen</span>
    <span class="transcript__time">23:02</span>
    <span class="transcript__content">Yeah. Yeah, that's pretty awesome.</span>
</p>
<p class="transcript">
    <span class="transcript__speaker">Dave Marshall</span>
    <span class="transcript__time">23:06</span>
    <span class="transcript__content">Yeah. So, yeah. So, I work ... So is Luke back now?</span>
</p>
<p class="transcript">
    <span class="transcript__speaker">Beau Simensen</span>
    <span class="transcript__time">23:10</span>
    <span class="transcript__content">Yup. Luke's back now. He actually has been back for two weeks. He started a little earlier than a bunch of the other schools around here. And I know that we're on a completely different schedule than you guys over in the UK. </span>
</p>
<p class="transcript">
    <span class="transcript__speaker">Dave Marshall</span>
    <span class="transcript__time">23:22</span>
    <span class="transcript__content">Yeah. I mean, our kids went back on Tuesday. So, first week back. And they're enjoying it. They're so happy. They started swimming lessons again this ... On Tuesday, so that's all good. And they enjoyed that. And Evie's just been accepted to Brownies. I don't know if you'll know ... Do you call 'em Girl Scouts? </span>
</p>
<p class="transcript">
    <span class="transcript__speaker">Beau Simensen</span>
    <span class="transcript__time">23:41</span>
    <span class="transcript__content">You know ... </span>
</p>
<p class="transcript">
    <span class="transcript__speaker">Dave Marshall</span>
    <span class="transcript__time">23:44</span>
    <span class="transcript__content">It's like ... 'Cause we ... I think we don't have gender scouts in the UK, we just have scouts. And they do have girl guides. And as far as I know, girls can go to scouts, but girl guides it's just kind of for girls. But then below ... There's a level below that, is Cubs for boys and Brownies for girls. </span>
</p>
<p class="transcript">
    <span class="transcript__speaker">Beau Simensen</span>
    <span class="transcript__time">24:02</span>
    <span class="transcript__content">Okay. </span>
</p>
<p class="transcript">
    <span class="transcript__speaker">Dave Marshall</span>
    <span class="transcript__time">24:04</span>
    <span class="transcript__content">In terms of age. So-</span>
</p>
<p class="transcript">
    <span class="transcript__speaker">Beau Simensen</span>
    <span class="transcript__time">24:07</span>
    <span class="transcript__content">Yeah, so I think that I remembered Cub scouts, with the little ones. And then Boy Scouts were the older ones. And then there was Girl Scouts, and I remember Brownies, the name, but I didn't ... I wasn't a Brownie, so-</span>
</p>
<p class="transcript">
    <span class="transcript__speaker">Dave Marshall</span>
    <span class="transcript__time">24:20</span>
    <span class="transcript__content">Yeah.</span>
</p>
<p class="transcript">
    <span class="transcript__speaker">Beau Simensen</span>
    <span class="transcript__time">24:21</span>
    <span class="transcript__content">I don't know if my sister was. But the name definitely clicked, registered as something that-</span>
</p>
<p class="transcript">
    <span class="transcript__speaker">Dave Marshall</span>
    <span class="transcript__time">24:27</span>
    <span class="transcript__content">Yeah.</span>
</p>
<p class="transcript">
    <span class="transcript__speaker">Beau Simensen</span>
    <span class="transcript__time">24:27</span>
    <span class="transcript__content">I had heard before, and related to something similar to scouts. So ...</span>
</p>
<p class="transcript">
    <span class="transcript__speaker">Dave Marshall</span>
    <span class="transcript__time">24:31</span>
    <span class="transcript__content">Yeah. Well, I mean, she doesn't know she's going yet, because the waiting list is huge. There's a massive demand for it. But it takes a lot of work to run these clubs. So, there's always a waiting list. So, we literally got phone-called tonight. This was after Evie had gone to sleep. And she's starting tomorrow. So, she'll be really excited when we tell her in the morning. So, that's gonna be cool for her.</span>
</p>
<p class="transcript">
    <span class="transcript__speaker">Beau Simensen</span>
    <span class="transcript__time">24:53</span>
    <span class="transcript__content">Wow.</span>
</p>
<p class="transcript">
    <span class="transcript__speaker">Dave Marshall</span>
    <span class="transcript__time">24:53</span>
    <span class="transcript__content">Yeah. </span>
</p>
<p class="transcript">
    <span class="transcript__speaker">Beau Simensen</span>
    <span class="transcript__time">24:54</span>
    <span class="transcript__content">That's kinda last minute. Is that ... Is it usually-</span>
</p>
<p class="transcript">
    <span class="transcript__speaker">Dave Marshall</span>
    <span class="transcript__time">24:58</span>
    <span class="transcript__content">Well, I imagine there was probably somebody else ahead of us in the list, who was kinda offered the slot and then eventually-</span>
</p>
<p class="transcript">
    <span class="transcript__speaker">Beau Simensen</span>
    <span class="transcript__time">25:07</span>
    <span class="transcript__content">Canceled.</span>
</p>
<p class="transcript">
    <span class="transcript__speaker">Dave Marshall</span>
    <span class="transcript__time">25:08</span>
    <span class="transcript__content">Didn't take it up. So we were just next on the list. So, it was well, this other person didn't want it, so do you want the place? So yeah, it's all good.</span>
</p>
<p class="transcript">
    <span class="transcript__speaker">Beau Simensen</span>
    <span class="transcript__time">25:14</span>
    <span class="transcript__content">Cool.</span>
</p>
<p class="transcript">
    <span class="transcript__speaker">Dave Marshall</span>
    <span class="transcript__time">25:15</span>
    <span class="transcript__content">It's all good by us. So we-</span>
</p>
<p class="transcript">
    <span class="transcript__speaker">Beau Simensen</span>
    <span class="transcript__time">25:16</span>
    <span class="transcript__content">Yeah. It would just surprise me if I had signed up for something and found out the night before. Unless they had said, we'll let you know the night before.</span>
</p>
<p class="transcript">
    <span class="transcript__speaker">Dave Marshall</span>
    <span class="transcript__time">25:25</span>
    <span class="transcript__content">Well, I mean, she doesn't have to go tomorrow. She can-</span>
</p>
<p class="transcript">
    <span class="transcript__speaker">Beau Simensen</span>
    <span class="transcript__time">25:27</span>
    <span class="transcript__content">Right.</span>
</p>
<p class="transcript">
    <span class="transcript__speaker">Dave Marshall</span>
    <span class="transcript__time">25:27</span>
    <span class="transcript__content">Start next week. But I mean, as far as we're concerned, she can go tomorrow.</span>
</p>
<p class="transcript">
    <span class="transcript__speaker">Beau Simensen</span>
    <span class="transcript__time">25:30</span>
    <span class="transcript__content">I guess it's an ongoing thing, then.</span>
</p>
<p class="transcript">
    <span class="transcript__speaker">Dave Marshall</span>
    <span class="transcript__time">25:32</span>
    <span class="transcript__content">Yeah, it's ongoing. It's literally they can only fit so many in the club, though so.</span>
</p>
<p class="transcript">
    <span class="transcript__speaker">Beau Simensen</span>
    <span class="transcript__time">25:36</span>
    <span class="transcript__content">Yeah.</span>
</p>
<p class="transcript">
    <span class="transcript__speaker">Dave Marshall</span>
    <span class="transcript__time">25:36</span>
    <span class="transcript__content">We were on the waiting list for a while. </span>
</p>
<p class="transcript">
    <span class="transcript__speaker">Beau Simensen</span>
    <span class="transcript__time">25:39</span>
    <span class="transcript__content">That makes sense. </span>
</p>
<p class="transcript">
    <span class="transcript__speaker">Dave Marshall</span>
    <span class="transcript__time">25:39</span>
    <span class="transcript__content">Yeah.</span>
</p>
<p class="transcript">
    <span class="transcript__speaker">Beau Simensen</span>
    <span class="transcript__time">25:39</span>
    <span class="transcript__content">Cool.</span>
</p>
<p class="transcript">
    <span class="transcript__speaker">Dave Marshall</span>
    <span class="transcript__time">25:40</span>
    <span class="transcript__content">Yeah, unfortunately I'll miss her going, 'cause I'm in London for a meeting tomorrow with our PR team. But I'll be able to pick her up I think. So that's kinda cool.</span>
</p>
<p class="transcript">
    <span class="transcript__speaker">Beau Simensen</span>
    <span class="transcript__time">25:49</span>
    <span class="transcript__content">Yeah. The first few weeks of school here, have been partial days. The first Monday was just a half day. And then they got off early the following Friday of the following week. And then this week we didn't have school on Monday for Labor Day. So, it's been three weeks of not normal weeks. But I think next week, things go back to normal again. But I'm not gonna be here for it. I'm gonna be going to France. So, similar to you I guess. Something new is happening, and you're not gonna be there for it. </span>
</p>
<p class="transcript">
    <span class="transcript__speaker">Dave Marshall</span>
    <span class="transcript__time">26:23</span>
    <span class="transcript__content">Yeah.</span>
</p>
<p class="transcript">
    <span class="transcript__speaker">Beau Simensen</span>
    <span class="transcript__time">26:23</span>
    <span class="transcript__content">Yup. Cool. Well, I think I wanted to keep this kinda short today. I think this is probably even shorter than usual, but we've got company coming tonight. And I gotta help do some things. And I think it was just ... It's good for us to connect and talk about what we've been working on, share, share where we're at with our listeners, so they can kinda know what happened to us over the summer, and why we've had a little gap of-</span>
</p>
<p class="transcript">
    <span class="transcript__speaker">Dave Marshall</span>
    <span class="transcript__time">26:47</span>
    <span class="transcript__content">Yeah.</span>
</p>
<p class="transcript">
    <span class="transcript__speaker">Beau Simensen</span>
    <span class="transcript__time">26:48</span>
    <span class="transcript__content">Of episodes. We got off to a really good start earlier this year. But then things just ... Summer caught up to us, I guess. </span>
</p>
<p class="transcript">
    <span class="transcript__speaker">Dave Marshall</span>
    <span class="transcript__time">26:56</span>
    <span class="transcript__content">Yeah. Well, we'll get back in the groove a little bit. It's fine.</span>
</p>
<p class="transcript">
    <span class="transcript__speaker">Beau Simensen</span>
    <span class="transcript__time">26:59</span>
    <span class="transcript__content">Yup. Cool. Alright, well nothing else from you?</span>
</p>
<p class="transcript">
    <span class="transcript__speaker">Dave Marshall</span>
    <span class="transcript__time">27:04</span>
    <span class="transcript__content">No, nothing else. Well, we'll just speak next week. </span>
</p>
<p class="transcript">
    <span class="transcript__speaker">Beau Simensen</span>
    <span class="transcript__time">27:07</span>
    <span class="transcript__content">Alright. We'll call this one a wrap.</span>
</p>
<p class="transcript">
    <span class="transcript__speaker">Dave Marshall</span>
    <span class="transcript__time">27:24</span>
    <span class="transcript__content">Thanks, man.</span>
</p>
<p class="transcript">
    <span class="transcript__speaker">Beau Simensen</span>
    <span class="transcript__time">27:26</span>
    <span class="transcript__content">You can listen to That Podcast with Beau and Dave. You can find Beau on Twitter and Google Plus at BeauSimensen. And Dave on Twitter at DaveDevelopment. You can subscribe to this podcast [inaudible 00:27:35] on iTunes. If you'd like to review us, but don't feel like we've earned five stars, email us so that we can talk about your issues. You can also subscribe to this podcast with RSS from our website, thatpodcast.io. </span>
</p>
<p class="transcript">
    <span class="transcript__speaker">Beau Simensen</span>
    <span class="transcript__time">27:46</span>
    <span class="transcript__content">From our website you can also sign up for our newsletter to get super-secret, extra content from Beau and Dave, sent directly to your inbox. Like the music? You can thank Grillo for allowing us to sample the track Dust Kingdom for our intro and outro. You can find Dust Kingdom and other tracks by Grillo at grillo.bandcamp.com, spelled G-R-I-L-L-O. </span>
</p>
{% endblock %}
