---
title: The One Where We Talk about PSR-15 Again
subtitle: Some of this got solved

number: 45
date: Wed, 31 Jan 2018 23:16:00 +0000
guid: 6cbe9f76-b5f8-4271-9532-18f3f63a35ff
embed_url: http://audio.simplecast.com/af2649fa.mp3
rss_url: http://audio.simplecast.com/af2649fa.mp3
download_url: http://audio.simplecast.com/af2649fa.mp3
duration: 00:39:51
file_size: 19213237
explicit: no
bg_image: /assets/css/passing-time.jpg
bg_image_width: 2148
bg_image_height: 1540
image_credit:
    url: https://www.flickr.com/photos/volvob12b/9380929579
    description: Passing Time
    by: Bernard Spragg

---
{% block content %}
<p>
	Beau and Dave discuss the current state of PHP FIG's HTTP Handler PSR.
</p>

<ul>
<li><a target="_blank" href="https://conf2018.phpsrbija.rs/">PHP Serbia Conference 2018</a></li>
<li><a target="_blank" href="https://github.com/php-fig/fig-standards/blob/master/accepted/PSR-7-http-message.md">PSR-7 HTTP Message Interface</a></li>
<li><a target="_blank" href="https://github.com/php-fig/fig-standards/blob/master/accepted/PSR-15-request-handlers.md">PSR-15 HTTP Handlers</a></li>
<li><a target="_blank" href="https://github.com/php-fig/fig-standards/tree/master/proposed/http-factory/">PSR-17 HTTP Factories</a></li>
<li><a target="_blank" href="https://twitter.com/mwop">Matthew Weier O'Phinney (@mwop)</a></li>
<li><a target="_blank" href="https://mwop.net/blog/2018-01-23-psr-15.html?utm_source=dlvr.it&utm_medium=twitter">PSR-15 (Matthew's blog post)</a></li>
<li><a target="_blank" href="https://twitter.com/ircmaxell">Anthony Ferrara</a></li>
<li><a target="_blank" href="https://blog.ircmaxell.com/2016/05/all-about-middleware.html">All About Middleware (Anthony's blog post)</a></li>
<li><a target="_blank" href="https://github.com/stackphp/builder">Stack Builder</a></li>
<li><a target="_blank" href="https://github.com/php-fig/fig-standards/blob/master/accepted/PSR-0.md">PSR-0</a></li>
<li><a target="_blank" href="https://phptownhall.com/episode-50-low-down-on-psr15/">PHP Town Hall Episode 50: Low down on PSR-15</a></li>
<li><a target="_blank" href="https://twitter.com/philsturgeon">Phil Sturgeon (@philsturgeon)</a></li>
<li><a target="_blank" href="http://oauth2-client.thephpleague.com/">League/oauth2-client</a></li>
<li><a target="_blank" href="https://symfony.com/blog/psr-7-support-in-symfony-is-here">Symfony's PSR HTTP Message Bridge</a></li>
<li><a target="_blank" href="http://www.php-fig.org/">PHP-FIG</a></li>
<li><a target="_blank" href="https://twitter.com/shadowhand">Woody Gilk (@shadowhand)</a></li>
<li><a target="_blank" href="https://github.com/http-interop">HTTP Interop</a></li>
<li><a target="_blank" href="https://github.com/contianer-interop">Container Interoperability</a></li>
<li><a target="_blank" href="http://symfony.com/doc/current/components/browser_kit.html">The Symfony BrowserKit Component</a></li>
<li><a target="_blank" href="https://github.com/laravel/dusk">Laravel Dusk</a></li>
<li><a target="_blank" href="https://symfony.com/doc/current/components/dotenv.html">The Symfony Dotenv Component</a></li>
<li><a target="_blank" href="https://goo.gl/forms/abk49LaGyFTstkd43">That Podcast HTTP Messaging Breakdown survey</a></li>
<li><a target="_blank" href="https://symfony.com/blog/the-end-of-symfony-1">The end of symfony 1</a></li>
</ul>
{% endblock %}
{% block itunes_summary %}
Beau and Dave discuss the current state of PHP FIG's HTTP Handler PSR.

{% endblock %}
