---
title: The One Without All the CSS
subtitle: "Except for that bit in shame.css"

number: 48
date: Wed, 28 Feb 2018 23:41:00 +0000
guid: c5bbb87d-393e-471f-b030-90e77eb8c3de
embed_url: http://audio.simplecast.com/8b6af0d2.mp3
rss_url: http://audio.simplecast.com/8b6af0d2.mp3
download_url: http://audio.simplecast.com/8b6af0d2.mp3
duration: 00:57:28
file_size: 27670085
explicit: no
bg_image: /assets/css/contrail.jpg
bg_image_width: 1400
bg_image_height: 788
image_credit:
    url: https://www.flickr.com/photos/kubina/145379567/
    description: "Contrail and Shadow"
    by: Jeff Kubina

---
{% block content %}
<p>
	Beau and Dave discuss Tailwind CSS with Adam Wathan and Jonathan Reinink.
</p>
<ul>
	<li><a target="_blank" href="https://twitter.com/adamwathan">Adam Wathan</a></li>
	<li><a target="_blank" href="https://twitter.com/reinink">Jonathan Reinink</a></li>
	<li><a target="_blank" href="https://tailwindcss.com/">Tailwind CSS</a></li>
	<li><a target="_blank" href="https://getbootstrap.com/">Bootstrap</a></li>
	<li><a target="_blank" href="https://foundation.zurb.com/">Foundation</a></li>
	<li><a target="_blank" href="https://bulma.io/">Bulma</a></li>
	<li><a target="_blank" href="http://postcss.org/">PostCSS</a></li>
	<li><a target="_blank" href="http://tachyons.io/">Tachyons</a></li>
	<li><a target="_blank" href="http://basscss.com/">Basscss</a></li>
	<li><a target="_blank" href="http://buildwithbeard.com/">Beard</a></li>
	<li><a target="_blank" href="https://zellwk.com/blog/why-vertical-rhythms/">"Why is Vertical Rhythm an Important Typography Practice?"</a></li>
	<li><a target="_blank" href="http://www.modularscale.com/">Modular Scale</a></li>
	<li><a target="_blank" href="http://www.fullstackradio.com/75">Full Stack Radio 75: Diana Mounter - Design Systems and Utility Classes at GitHub</a></li>
	<li><a target="_blank" href="https://codepen.io/adamwathan/pen/RxWrZr">Coinbase Clone with Tailwind CSS</a></li>
	<li><a target="_blank" href="https://codepen.io/adamwathan/pen/JOQWVa">Slack Clone with Tailwind CSS</a></li>
	<li><a target="_blank" href="https://symfony.com/doc/current/frontend.html">Webpack Encore</a></li>
	<li><a target="_blank" href="https://refactoringui.com/">Refactoring UI</a></li>
	<li><a target="_blank" href="http://getbem.com/">BEM</a></li>
	<li><a target="_blank" href="https://www.purgecss.com/">Purgecss</a></li>
</ul>
{% endblock %}
{% block itunes_summary %}
Beau and Dave discuss Tailwind CSS with Adam Wathan and Jonathan Reinink.
{% endblock %}
