---
title: The one where we Marvel at Sketch
subtitle: Beau and Dave talk about design and prototyping workflows.

number: 43
date: Wed, 17 Jan 2018 22:37:00 +0000
guid: 9a1d2532-75bd-4a7d-bc78-2062f6b5d8e8
embed_url: http://audio.simplecast.com/378a38ad.mp3
rss_url: http://audio.simplecast.com/378a38ad.mp3
download_url: http://audio.simplecast.com/378a38ad.mp3
duration: 00:47:06
file_size: 22687984
explicit: no
bg_image: /assets/css/blackfire-sketch-marvel.jpg
bg_image_width: 3000
bg_image_height: 2250
image_credit:
    url: https://blackfire.io
    description: "Blackfire, Sketch, and Marvel"
    by: Beau Simensen

---
{% block content %}
<p>
Beau and Dave talk about design and prototyping workflows.
</p>

<ul>
<li><a target="_blank" href="https://twitter.com/karptonite">Daniel Karp (BoardGameGeek)</a></li>
<li><a target="_blank" href="https://boardgamegeek.com/">BoardGameGeek</a></li>
<li><a target="_blank" href="https://twitter.com/jnthnjffris">Jonathan Jefferies (@jnthnjffris)</a></li>
<li><a target="_blank" href="https://blog.cloudstitch.com/how-i-hacked-amazon-s-5-wifi-button-to-track-baby-data-794214b0bdd8">How I Hacked Amazon’s $5 WiFi Button to track Baby Data</a></li>
<li><a target="_blank" href="https://en.wikipedia.org/wiki/Address_Resolution_Protocol">The Address Resolution Protocol (ARP)</a></li>
<li><a target="_blank" href="https://twitter.com/michaeldyrynda">Michael Dyrynda (@michaeldyrynda)</a></li>
<li><a target="_blank" href="https://twitter.com/railto">Mark Railton (@railto)</a></li>
<li><a target="_blank" href="https://twitter.com/Beryllium9">Kevin Boyd (@Beryllium9)</a></li>
<li><a target="_blank" href="https://www.crowdcube.com/">Crowdcube</a></li>
<li>"Capital at risk"</li>
<li><a target="_blank" href="https://www.reddit.com/r/assholedesign/comments/7qs1zt/the_actual_design_of_the_hawaii_missile_alert/">Hawaii missile alert screen (updated)</a></li>
<li><a target="_blank" href="https://twitter.com/ih8thatpodcast">I Hate That (@ih8thatpodcast)</a></li>
<li><a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSfKJ76t_tPV2jugdX14NeajSfp7EV0hcgjVki1GEGuoeyJvDw/viewform">Spotify podcast submission form</a></li>
<li><a target="_blank" href="https://twitter.com/settermjd">Matthew Setter (@settermjd)</a></li>
<li><a target="_blank" href="https://twitter.com/freeingthegeek">Free the Geek (@freeingthegeek)</a></li>
<li><a target="_blank" href="https://www.omnigroup.com/omnigraffle">OmniGraffle</a></li>
<li><a target="_blank" href="https://balsamiq.com/">Balsamiq</a></li>
<li><a target="_blank" href="https://twitter.com/Chris_Dujarric">Christophe Dujarric (@Chris_Dujarric)</a></li>
<li><a target="_blank" href="https://sketchapp.com/">Sketch</a></li>
<li><a target="_blank" href="https://www.gimp.org/">GNU Image Manipulation Program (GIMP)</a></li>
<li><a target="_blank" href="https://appdb.winehq.org/objectManager.php?iId=17&sClass=application">Adobe Photoshop and Wine</a></li>
<li><a target="_blank" href="https://inkscape.org">Inkscape</a></li>
<li><a target="_blank" href="http://marvelapp.com/">Marvel</a></li>
<li><a target="_blank" href="https://signalvnoise.com/posts/1061-why-we-skip-photoshop">Why we skip Photoshop</a> (Jason Fried)</li>
<li><a target="_blank" href="https://twitter.com/steveschoger">Steve Schoger (@steveschoger)</a></li>
<li><a target="_blank" href="https://twitter.com/steveschoger/status/953297226985549825">Tweet with Steve's list UI updates mentioned by Dave</a></li>
<li><a target="_blank" href="https://tailwindcss.com/">Tailwind CSS</a></li>
<li><a target="_blank" href="https://refactoringui.com/">Refactoring UI</a></li>
<li><a target="_blank" href="https://twitter.com/adamwathan">Adam Wathan (@adamwathan)</a></li>
<li><a target="_blank" href="https://techcrunch.com/2016/11/15/marvel-acquires-prototyping-tool-pop/">Marvel acquires prototyping tool POP</a></li>
<li><a target="_blank" href="https://blog.marvelapp.com/stop-talking-start-sketching-guide-paper-prototyping/">Maybe post Beau mentions about why different fidelity prototyping is good</a></li>
<li><a target="_blank" href="https://marvelapp.com/handoff/">Handoff</a></li>
<li><a target="_blank" href="https://picnic.design/">Picnic</a></li>
<li><a target="_blank" href="https://www.goabstract.com/">Abstract</a></li>
</ul>

{% endblock %}
{% block itunes_summary %}
Beau and Dave talk about design and prototyping workflows.

{% endblock %}
