<section id="form-band">
    <div>
        <p>
            Want to know when new episodes are ready?
        </p>
        <form action="//atstsolutions.us8.list-manage.com/subscribe/post?u=89b0a4154f9e0afcf4b61555c&amp;id=3a3f0a13bd" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate form-inline" target="_blank" role="form" novalidate>
            <input type="email" value="" name="EMAIL" class="required email form-control" id="mce-EMAIL" placeholder="awesome@listener.com">
            <div style="position: absolute; left: -5000px;"><input type="text" name="b_89b0a4154f9e0afcf4b61555c_3a3f0a13bd" value=""></div>
            <input type="submit" value="Subscribe">
        </form>
    </div>
</section>
