---
layout: default
title: About That Podcast
nav_current: about
image_credit:
    url: https://www.flickr.com/photos/leshaines123/8369226035/
    by: Les Haines
    description: Monochrome Patterns
---
{% block meta %}
    <meta name="description" content="About That Podcast: Everything you might want to know...">
    {% if page.tags %}
        <meta name="keywords" content="beau, beau simensen, dave, dave marshall, podcast, that podcast, about">
    {% endif %}

    <!-- Facebook -->
    <meta property="og:title" content="About That Podcast" />
    <meta property="og:type" content="article" />
    <meta property="og:image" content="{{ site.url }}/assets/images/thatpodcast-cover.jpg" />
    <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
    <meta property="og:description" content="Everything you might want to know..." />

    <!-- Twitter -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="That Podcast Newsletter" />
    <meta name="twitter:description" content="Everything you might want to know..." />
    <meta name="twitter:image" content="{{ site.url }}/assets/images/thatpodcast-cover.jpg" />
{% endblock %}
{% block hero %}
<section id="hero">
    <div>
        <header>
            <h1>About That Podcast</h1>
            <h2>Everything you might want to know...</h2>
        </header>
    </div>
</section>
{% endblock %}
{% block content %}
<section>
    <article>
        <p>
            That Podcast started in a way most podcasts probably start. Dave suggested some podcasts for Beau to check out. Beau hadn't really listened to podcasts before but he really dug the ones Dave recommended. They talked it over and decided to start one themselves. Boom. That Podcast was born.
        </p>
        <p>
             We talk about it a bit in Episode 1 if you want to check it out. Really, we just want to talk to each other and share our discussions with others in the hopes that it might help in some way.
        </p>
        <p>
            A common question we get asked when we were starting up was, "what are you going to talk about?" Pretty much everything is on the table. We're both dads. We're both programmers. So really, "life?"
        </p>
        <p>
            At the end of the day we're are doing this for us but we hope that we can bring something else to others. We <strong>do</strong> hope you enjoy it!
        </p>
    </article>
</section>
<section>
    <article>
        <p>
            Beau Simensen has over 15 years of polyglot software experience. Working mostly as a freelance developer over the last decade, he is also active in the open-source community.
        </p>

        <p>
            Beau runs <a href="http://dflydev.com">Dragonfly Development</a>, a consulting company that also <a href="http://packagist.org/packages/dflydev">publishes open-source software</a> under the vendor <a href="https://github.com/dflydev">dflydev</a>. He is also the Chief Software Architect for <a href="http://reflxlabsinc.com">REFLX Labs</a>, a wearables startup out of Seattle that is currently bringing its product <a href="http://boogio.com">Boogio</a> to market.
        </p>

        <p>
            In recent years, Beau has been focusing on PHP so it should come as no surprise that most of his recent <a href="https://beau.io/projects/">projects</a> are written in PHP. He has been an active participant of the <a href="http://php-fig.com">PHP Framework Interoperability Group</a> (PHP-FIG) and votes on behalf of <a href="https://sculpin.io">Sculpin</a>, a PHP-FIG member project.
        </p>

        <p>
            After living in Seattle for many years Beau set off for the midwest with his wife and son to spend time with their families.
        </p>

        <p>
            Currently, he lives near Madison, WI where he can frequently be found attending the <a href="http://madisonphp.com">Madison PHP</a> user group.
        </p>
        <ul>
            <li><a href="https://twitter.com/beausimensen">@beausimensen</a></li>
            <li><a href="https://plus.google.com/+BeauSimensen">+BeauSimensen</a></li>
            <li><a href="https://beau.io">beau.io</a></li>
        </ul>
    </article>
</section>
<section>
    <article>
        <p>Dave Marshall is a software engineer, who has been building web
        applications with various technologies since around 2004. Dave is a big fan
        of the Kaizen philosophy and is constantly trying tools, techniques and
        methodologies to improve his output.
        </p>

        <p>Dave currently works as the Technical Manager at Childcare.co.uk,
        runs ATST Solutions and blogs at davedevelopment.co.uk.</p>

        <p>In his spare time, Dave has started making an effort to contribute
        back to the Open Source community, contributing to projects like Mockery
        and Silex, and also attending and talking at conferences.</p>

        <ul>
            <li><a href="https://twitter.com/davedevelopment">@davedevelopment</a></li>
            <li><a href="https://plus.google.com/+DaveMarshallAtst">+DaveMarshallAtst</a></li>
            <li><a href="http://davedevelopment.co.uk/">davedevelopment.co.uk</a></li>
        </ul>
    </article>
</section>
<section>
    <article>
        <p>
            <strong>Logo</strong>
        </p>
        <p>
            Our logo is comprised of several icons from <a href="http://thenounproject.com/">The Noun Project</a>. The <a href="http://thenounproject.com/term/united-states/26943/">&laquo;United-States&raquo;</a> and <a href="http://www.thenounproject.com/term/united-kingdom-and-ireland/26941/">&laquo;United-Kingdom-And-Ireland&raquo;</a> symbols are from <a href="http://www.thenounproject.com/bravo/">Juan Pablo Bravo</a>. The <a href="http://www.thenounproject.com/term/microphone/15457/">&laquo;Microphone&raquo;</a> symbol is from <a href="http://www.thenounproject.com/diegonaive/">Diego Naive</a>.
        </p>
        <p>
            <strong>Music</strong>
        </p>
        <p>
            Our intro and outro music is <a href="grillo.bandcamp.com/track/dust-kingdom">&laquo;Dust Kingdom&raquo;</a> by <a href="http://grillo.bandcamp.com/">Grillo</a>. Check out Grillo on Bandcamp to find &laquo;Dust Kingdom&raquo; and other awesome beats.
        </p>
    </article>
</section>
<section>
    <article>
        <p>
            <strong>That Conference</strong>
        </p>
        <p>
            Our friends at <a href="https://www.thatconference.com/">That Conference</a> are awesome! However, we are not affiliated in any way beyond the fact that we happen to both follow the &laquo;That [Thing]&raquo; formula in naming our ventures. Do check them out, though! Cool peeps!
        </p>
    </article>
</section>
{% endblock %}
