---
layout: default
nav_current: about
image_credit:
    url: https://www.flickr.com/photos/leshaines123/8369226035/
    by: Les Haines
    description: Monochrome Patterns
---
{% block hero %}
<section id="hero">
    <div>
        <header>
            <h1>About That Podcast</h1>
            <h2>Everything you might want to know...</h2>
        </header>
    </div>
</section>
{% endblock %}
{% block content %}
<section>
    <article>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vel ornare mauris. Proin fermentum eget nisi nec viverra. Curabitur ac enim vel felis volutpat semper. Vestibulum laoreet, eros quis porta congue, lorem risus lobortis orci, ac porttitor tellus diam vel nibh. Aliquam venenatis tellus varius, tempor erat non, congue orci. Aenean pharetra malesuada felis eu aliquet. Sed sit amet luctus nulla, sed vulputate orci. Praesent tortor sem, malesuada eget urna a, pharetra adipiscing urna.</p>

        <p>Donec quis dapibus quam. Sed cursus turpis nec neque porttitor ornare. Ut faucibus rutrum mollis. Suspendisse potenti. Etiam at nunc vel elit mattis ultricies. Quisque venenatis, metus eget vulputate suscipit, neque leo congue augue, dictum vulputate turpis justo vitae lacus. Mauris sed fermentum purus, sed dignissim lectus. Vivamus suscipit neque lorem, eget cursus sem egestas sed.</p>

        <p>Suspendisse cursus, turpis at faucibus eleifend, ipsum neque sagittis elit, in posuere ante eros ac neque. Phasellus consequat orci ac erat tempor, sit amet mattis metus cursus. Maecenas dignissim, neque at suscipit mollis, augue nisl tempor ligula, id ullamcorper nunc massa sit amet libero. Mauris commodo mi lorem, ut vehicula lacus ornare in. Phasellus iaculis consectetur tortor eget lobortis. Nullam sit amet magna sit amet velit convallis varius id non lacus. Pellentesque sed diam nec lacus pharetra adipiscing. Suspendisse potenti. Nullam elementum bibendum lectus et porttitor. Mauris viverra mattis tortor, nec volutpat sem accumsan ac. Sed ut dignissim dolor. Nunc non velit nec est dapibus dignissim vel in eros. Donec semper dignissim est, tristique dapibus ipsum commodo nec.</p>
    </article>
</section>
<section>
    <header>
        <h1>Beau</h1>
    </header>
    <article>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vel ornare mauris. Proin fermentum eget nisi nec viverra. Curabitur ac enim vel felis volutpat semper. Vestibulum laoreet, eros quis porta congue, lorem risus lobortis orci, ac porttitor tellus diam vel nibh. Aliquam venenatis tellus varius, tempor erat non, congue orci. Aenean pharetra malesuada felis eu aliquet. Sed sit amet luctus nulla, sed vulputate orci. Praesent tortor sem, malesuada eget urna a, pharetra adipiscing urna.</p>

        <p>Donec quis dapibus quam. Sed cursus turpis nec neque porttitor ornare. Ut faucibus rutrum mollis. Suspendisse potenti. Etiam at nunc vel elit mattis ultricies. Quisque venenatis, metus eget vulputate suscipit, neque leo congue augue, dictum vulputate turpis justo vitae lacus. Mauris sed fermentum purus, sed dignissim lectus. Vivamus suscipit neque lorem, eget cursus sem egestas sed.</p>

        <p>Suspendisse cursus, turpis at faucibus eleifend, ipsum neque sagittis elit, in posuere ante eros ac neque. Phasellus consequat orci ac erat tempor, sit amet mattis metus cursus. Maecenas dignissim, neque at suscipit mollis, augue nisl tempor ligula, id ullamcorper nunc massa sit amet libero. Mauris commodo mi lorem, ut vehicula lacus ornare in. Phasellus iaculis consectetur tortor eget lobortis. Nullam sit amet magna sit amet velit convallis varius id non lacus. Pellentesque sed diam nec lacus pharetra adipiscing. Suspendisse potenti. Nullam elementum bibendum lectus et porttitor. Mauris viverra mattis tortor, nec volutpat sem accumsan ac. Sed ut dignissim dolor. Nunc non velit nec est dapibus dignissim vel in eros. Donec semper dignissim est, tristique dapibus ipsum commodo nec.</p>
    </article>
</section>
<section>
    <header>
        <h1>Dave</h1>
    </header>
    <article>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vel ornare mauris. Proin fermentum eget nisi nec viverra. Curabitur ac enim vel felis volutpat semper. Vestibulum laoreet, eros quis porta congue, lorem risus lobortis orci, ac porttitor tellus diam vel nibh. Aliquam venenatis tellus varius, tempor erat non, congue orci. Aenean pharetra malesuada felis eu aliquet. Sed sit amet luctus nulla, sed vulputate orci. Praesent tortor sem, malesuada eget urna a, pharetra adipiscing urna.</p>

        <p>Donec quis dapibus quam. Sed cursus turpis nec neque porttitor ornare. Ut faucibus rutrum mollis. Suspendisse potenti. Etiam at nunc vel elit mattis ultricies. Quisque venenatis, metus eget vulputate suscipit, neque leo congue augue, dictum vulputate turpis justo vitae lacus. Mauris sed fermentum purus, sed dignissim lectus. Vivamus suscipit neque lorem, eget cursus sem egestas sed.</p>

        <p>Suspendisse cursus, turpis at faucibus eleifend, ipsum neque sagittis elit, in posuere ante eros ac neque. Phasellus consequat orci ac erat tempor, sit amet mattis metus cursus. Maecenas dignissim, neque at suscipit mollis, augue nisl tempor ligula, id ullamcorper nunc massa sit amet libero. Mauris commodo mi lorem, ut vehicula lacus ornare in. Phasellus iaculis consectetur tortor eget lobortis. Nullam sit amet magna sit amet velit convallis varius id non lacus. Pellentesque sed diam nec lacus pharetra adipiscing. Suspendisse potenti. Nullam elementum bibendum lectus et porttitor. Mauris viverra mattis tortor, nec volutpat sem accumsan ac. Sed ut dignissim dolor. Nunc non velit nec est dapibus dignissim vel in eros. Donec semper dignissim est, tristique dapibus ipsum commodo nec.</p>
    </article>
</section>
<section>
    <header>
        <h1>Credits</h1>
    </header>
    <article>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vel ornare mauris. Proin fermentum eget nisi nec viverra. Curabitur ac enim vel felis volutpat semper. Vestibulum laoreet, eros quis porta congue, lorem risus lobortis orci, ac porttitor tellus diam vel nibh. Aliquam venenatis tellus varius, tempor erat non, congue orci. Aenean pharetra malesuada felis eu aliquet. Sed sit amet luctus nulla, sed vulputate orci. Praesent tortor sem, malesuada eget urna a, pharetra adipiscing urna.</p>

        <p>Donec quis dapibus quam. Sed cursus turpis nec neque porttitor ornare. Ut faucibus rutrum mollis. Suspendisse potenti. Etiam at nunc vel elit mattis ultricies. Quisque venenatis, metus eget vulputate suscipit, neque leo congue augue, dictum vulputate turpis justo vitae lacus. Mauris sed fermentum purus, sed dignissim lectus. Vivamus suscipit neque lorem, eget cursus sem egestas sed.</p>

        <p>Suspendisse cursus, turpis at faucibus eleifend, ipsum neque sagittis elit, in posuere ante eros ac neque. Phasellus consequat orci ac erat tempor, sit amet mattis metus cursus. Maecenas dignissim, neque at suscipit mollis, augue nisl tempor ligula, id ullamcorper nunc massa sit amet libero. Mauris commodo mi lorem, ut vehicula lacus ornare in. Phasellus iaculis consectetur tortor eget lobortis. Nullam sit amet magna sit amet velit convallis varius id non lacus. Pellentesque sed diam nec lacus pharetra adipiscing. Suspendisse potenti. Nullam elementum bibendum lectus et porttitor. Mauris viverra mattis tortor, nec volutpat sem accumsan ac. Sed ut dignissim dolor. Nunc non velit nec est dapibus dignissim vel in eros. Donec semper dignissim est, tristique dapibus ipsum commodo nec.</p>
    </article>
</section>
{% endblock %}
