---
layout: default
full_title: That Podcast with Beau and Dave
use:
    - episodes
nav_current: home
image_credit:
    url: https://www.flickr.com/photos/eschipul/555287661/
    by: Ed Schipul
    description: open mic
---
{% block meta %}
    <meta name="description" content="That Podcast: Beau and Dave talking about life as dads, programmers, and entrepreneurs.">
    {% if page.tags %}
        <meta name="keywords" content="beau, beau simensen, dave, dave marshall, podcast, that podcast">
    {% endif %}

    <!-- Facebook -->
    <meta property="og:title" content="That Podcast" />
    <meta property="og:type" content="article" />
    <meta property="og:image" content="{{ site.url }}/assets/images/thatpodcast-cover.jpg" />
    <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
    <meta property="og:description" content="Beau and Dave talking about life as dads, programmers, and entrepreneurs." />

    <!-- Twitter -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="That Podcast" />
    <meta name="twitter:description" content="Beau and Dave talking about life as dads, programmers, and entrepreneurs." />
    <meta name="twitter:image" content="{{ site.url }}/assets/images/thatpodcast-cover.jpg" />
{% endblock %}
{% block hero %}
<section id="hero">
    <div>
        <header>
            <h1>That Podcast</h1>
            <h2>Beau and Dave talking about life as dads, programmers, and entrepreneurs.</h2>
        </header>
    </div>
</section>
{% endblock %}
{% block content %}
{% include "form_band" %}
<section id="episode-list">
    {% for episode in data.episodes %}
        <article>
            <time datetime="{{ episode.date|date('c') }}" pubdate>
                <span class='month'>{{ episode.date|date('M') }}</span> <span class='day'>{{ episode.date|date('jS') }}</span> <span class='year'>{{ episode.date|date('Y') }}</span>
            </time>
            <header>
                <h1><a href="{{ episode.url }}">Episode {{ episode.number }}: {{ episode.title }}</a></h1>
                <h2>{{ episode.subtitle }}</h2>
            </header>
            <div class="controls">
                <p>
                    <span class="duration">{{ episode.duration }}</span>
                    <span class="size">
                        {% spaceless %}
                            {% set kilobyte = 1024 %}
                            {% set megabyte = kilobyte * 1024 %}
                            {% set gigabyte = megabyte * 1024 %}
                            {% set terabyte = gigabyte * 1024 %}

                            {% if episode.file_size < kilobyte %}
                                {{ page.file_size ~ ' B' }}
                            {% elseif episode.file_size < megabyte %}
                                {{ (episode.file_size / kilobyte)|number_format(2, '.') ~ ' KB' }}
                            {% elseif episode.file_size < gigabyte %}
                                {{ (episode.file_size / megabyte)|number_format(2, '.') ~ ' MB' }}
                            {% elseif episode.file_size < terabyte %}
                                {{ (episode.file_size / gigabyte)|number_format(2, '.') ~ ' GB' }}
                            {% else %}
                                {{ (episode.file_size / terabyte)|number_format(2, '.') ~ ' TB' }}
                            {% endif %}
                        {% endspaceless %}


                    </span>
                    <span class="download"><a href="{{ episode.download_url }}"><i class="icon-download"></i> download</a></span>
                </p>
            </div>
        </article>
    {% endfor %}
</section>
{% endblock %}
