---
layout: default
title: That Podcast Newsletter
nav_current: newsletter
image_credit:
    url: https://www.flickr.com/photos/mikehamm/4608534792
    by: Mike Hammerton
    description: We bought a Telegraph subscription last week...
---
{% block meta %}
    <meta name="description" content="That Podcast: Get super secret extra content from Beau and Dave sent directly to your inbox.">
    {% if page.tags %}
        <meta name="keywords" content="beau, beau simensen, dave, dave marshall, podcast, that podcast, newsletter">
    {% endif %}

    <!-- Facebook -->
    <meta property="og:title" content="That Podcast Newsletter" />
    <meta property="og:type" content="article" />
    <meta property="og:image" content="{{ site.url }}/assets/images/thatpodcast-cover.jpg" />
    <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
    <meta property="og:description" content="Get super secret extra content from Beau and Dave sent directly to your inbox." />

    <!-- Twitter -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="That Podcast Newsletter" />
    <meta name="twitter:description" content="Get super secret extra content from Beau and Dave sent directly to your inbox." />
    <meta name="twitter:image" content="{{ site.url }}/assets/images/thatpodcast-cover.jpg" />
{% endblock %}
{% block hero %}
<section id="hero">
    <div>
        <header>
            <h1>That Podcast Newsletter</h1>
            <h2>Get super secret extra content from Beau and Dave sent directly to your inbox.</h2>
        </header>
    </div>
</section>
{% endblock %}
{% block content %}
<section>
    <article>

        <p>
            Don't worry. We won't spam you. Much. We just want to make sure that we can let you know when new episodes are ready.
        </p>
        <p>
            We would also like to do some fun things for those people who end up sharing their email address with us. Yay for exclusive content, schwag, and awesomeness!
        </p>
        <p>
            You don't want to be left out. Right? Sign up now!
        </p>

        <form action="//atstsolutions.us8.list-manage.com/subscribe/post?u=89b0a4154f9e0afcf4b61555c&amp;id=3a3f0a13bd" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate form-inline" target="_blank" role="form" novalidate>
            <input type="email" value="" name="EMAIL" class="required email form-control" id="mce-EMAIL" placeholder="awesome@listener.com">
            <div style="position: absolute; left: -5000px;"><input type="text" name="b_89b0a4154f9e0afcf4b61555c_3a3f0a13bd" value=""></div>
            <input type="submit" value="Subscribe">
        </form>
    </article>
</section>
{% endblock %}
