---
layout: default
nav_current: newsletter
image_credit:
    url: https://www.flickr.com/photos/mikehamm/4608534792
    by: Mike Hammerton
    description: We bought a Telegraph subscription last week...
---
{% block hero %}
<section id="hero">
    <div>
        <header>
            <h1>That Podcast Newsletter</h1>
            <h2>Get super secret extra content from Beau and Dave sent directly to your inbox.</h2>
        </header>
    </div>
</section>
{% endblock %}
{% block content %}
<section>
    <article>
        <p>
            hi
        </p>
    </article>
</section>
{% endblock %}
